#pdf_proof_iframe{
	width:1px;
	height:1px;
	position:fixed;
	top:0;
	left:0;
}
#temp_text{
	position:fixed;
	bottom: 0;
	left:0;
	width:1px;
	border:none;
	opacity:0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.theme-colors{
	margin-bottom:5px;
}
.ez-theme-option{
	padding: 10px 15px 10px 10px;
}

.ez-theme-thumb{
	display:inline-block;
	margin:2px;
	text-align:left;
	padding:1px;
	background-color:#fff;
	border:1px solid #ccc;
}
.ez-theme-thumb-color{
	display:inline-block;
	width:7px;
	height:7px;
	vertical-align:top;
}
.ez-theme-thumb-color:first-of-type{
	display:block;
	width: 32px;
	height: 20px;	
}
#selected_font_size:focus{
	border-color: #56B4EF;
}
#textbox_tools_text_title{
	font-weight: bold ; 
	font-size: 11px ; 
	margin-bottom: 3px;
	cursor:move;
}
.toolbar{
	background-color: #f8f8f8;
	position:relative;
	width: 100%;
	overflow:visible;
	border: 1px solid #a8a8a8;
	font-size:0.5px;
	white-space:nowrap;
}
#nav_toolbar{
	position:relative;
	margin-bottom: -1px;
}
.ztoolbar{
	z-index: 2500;
}
#top_toolbar_placeholder {
	position:relative;
	overflow: visible;
	height: 106px;
	z-index: 2500;
/*	box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.4); */
}
#top_toolbar{
	box-shadow: 1px 2px 7px 1px rgba(100, 100, 100, 0.1) inset;
	overflow: visible;
}
#top_toolbar.sticky{
	position: fixed;
	top: 2px;
	width: 960px;
	box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.4) !important;
	z-index:950;
	border: 1px solid #ccc ;
}

#top_toolbar_placeholder_wrapper{
	position:relative;
	z-index: 2500 ;
	overflow:visible;
}
#btn_top_toolbar_toggle{
	line-height:23px;
	bottom: -23px;
	right: 5px;
	position:absolute;
	background-color: #ca071a/*#6951A9*/;
	font-size: 10px;
	font-weight:bold;
	color: #fff;
	padding: 0 8px;
	border-radius: 0 0 3px 3px  ;
}
.top-nav-right{
	float:right;
	margin-right: 7px;
}
.top-nav-left{
	float:left;
	margin-left: 7px;
}
#page_navigation{
    left: -150px;
    margin: auto;
    min-height: 5px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 10px;
    width: 200px;
    z-index: 100;
}

.gray-gradient{
	background: rgb(254,254,254); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,254,254,1)), color-stop(100%,rgba(226,226,226,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(226,226,226,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(226,226,226,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(226,226,226,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(254,254,254,1) 0%,rgba(226,226,226,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */
	color: #666;
}

.gray-gradient.with-active:active{
	background: rgb(226,226,226); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(254,254,254,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(254,254,254,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(254,254,254,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
}


.green-gradient{
	background: rgb(134,186,28); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(134,186,28,1) 0%, rgba(108,155,12,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(134,186,28,1)), color-stop(100%,rgba(108,155,12,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(134,186,28,1) 0%,rgba(108,155,12,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(134,186,28,1) 0%,rgba(108,155,12,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(134,186,28,1) 0%,rgba(108,155,12,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(134,186,28,1) 0%,rgba(108,155,12,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86ba1c', endColorstr='#6c9b0c',GradientType=0 ); /* IE6-9 */
	box-shadow: 0 1px 0 0 #96CA6D inset;
	color: #fff !important;
	border-color: #6C9B0C #6C9B0C #5B992B !important ;
}

.page-navigation-item{
	position:relative;
	display:inline-block;
	padding: 6px 14px;
	font-size:12px;
	text-align:center ;
	border:1px solid #aaa;
	margin-right: -1px;
	font-weight:bold;	
}
.page-navigation-item:first-of-type{
	border-radius: 5px 0 0 5px ;
}

.page-navigation-item:last-of-type{
	border-radius: 0 5px 5px 0 ;
}

.page-navigation-item.on , .page-navigation-item.on:active {
	color: #fff;
	background: #ca071a/*#6951A9*/;
	filter:none;
	box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, .2) inset;
}
.toolbar-section{
	height:105px;
	display:inline-block;
	position:relative;
	vertical-align:top;
	margin: 0;
	overflow:visible;
}
.toolbar-section hr{
	height:3px ;
	border:0;
	background:0;
}

.toolbar-section-title{
	text-align:center;
	font-size: 10px;
	color: #777;
	margin-top:4px;
}

.toolbar-section-body{
	padding: 0 7px;
	margin-top: 4px ;
	font-size: 0.5px;
}
.toolbar-section-divider{
	border-left: 1px solid #ddd;
	border-right: 1px solid #fff;
	width: 2px;
	height: 80px;
	position: relative;
	display:inline-block;
	margin-top: 20px;
}
.toolbar-button{
	position:relative;
	font-family: Helvetica, Arial, sans-serif ;
	display:inline-block;
	position:relative;
	vertical-align:top;
	border-radius:2px;
	font-size:0.5px;
}

.toolbar-button.grouped{
	margin-left:0 !important;
	margin-right:0 !important;
}
.button-icon {
	position:relative;
	display:inline-block;
	vertical-align:top;
	width: 16px;
	height:16px;
	background-image:url(design_tool/toolbar.png);
	background-repeat:no-repeat;
	margin:auto;
}

.toolbar-button.type1{
	width: 70px;
	height: 70px;
	border: 1px solid #aaa;
	margin: 3px;
}
.toolbar-button.type1:hover{
	border: 1px solid #999;
	box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
}
.toolbar-button.type1 .button-text{
	font-size: 12px;
	color: #777;
	text-align:center;
	font-weight:bold;
}


.toolbar-button.type2{
	border: 1px solid transparent;
	margin: 2px;
	min-width:22px;
	padding: 2px;
}
.toolbar-button.type2 .button-text{
	font-size: 9px;
	color: #888;
	text-align:center;
	min-width:30px;
	margin-top:1px ;
}
.toolbar-button.type2 .button-icon{
	display:block;
}
.toolbar-button.type3 .button-text{
	font-size: 9px;
	color: #888;
	text-align:left;
	min-width:30px;
	margin:1px  ;
	
}
.toolbar-button.type3 .selected-color , .toolbar-button.type3 .button-textbox{
	margin: 2px;
}
.toolbar-button.type2 .selected-color{
	display:block;
	margin:auto;
}
.toolbar-button.type3{
	margin: 3px 2px;
}
.toolbar-button.type3 .bordered{
	border:1px solid #ccc;
	border-radius:2px;
}
.toolbar-button.type3:hover .bordered{
	border: 1px solid #aaa;
}

.toolbar-button.type2:hover {
	border: 1px solid #bbb;
	box-shadow: 0 0 2px rgba(0,0,0,0.1) ;
}

.toolbar-button.type3 .button-arrow{
	width: 14px;
	height:16px;
	background-image:url(design_tool/toolbar.png);
	background-repeat:no-repeat;
	background-position: -240px 0px;
	margin:auto;
	display:inline-block;
	position:relative;
	vertical-align:top;
	margin: 2px auto;
}

.button-textbox, .button-selected-text , .selected-color{
	font-size: 10px;
	border:1px solid transparent;

	background-color: transparent;
	width:25px;
	padding: 0 1px;
	display:inline-block;
	position:relative;
	line-height:16px;
	height:16px;
	vertical-align:top;
	white-space:nowrap;
	overflow:hidden;
}
.selected-color{
	border: 1px solid #888;
}
#selected_font_face{
    color: black !important;;
}
.toolbar-button.open .button-textbox,  .button-textbox:focus{
	border:1px solid #aaa;
	background-color:#fff;
}
.button-menu{
	position:absolute;
	width:auto;
	border: 1px solid #666;
	background-color:white;
	display:none;
	left: -1px;
	z-index: 10;
	padding: 1px ;
	border-radius: 2px;
	max-height: 300px;
	overflow-y:auto;
	overflow-x:hidden;
}
.float-toolbar .button-menu{
	max-height: 215px; 
}
.button-menu.thick{
	border: 3px solid #aaa;
	padding: 5px;
	
}
.toolbar-button.type4{
	text-align:left;
	color: #666;
	white-space:nowrap;
	border-radius: 2px;
	display:block;
	line-height:100%;
}
.toolbar-button.type4:hover{
	background-color: #eee;
}

.button-menu-icon{
	width: 16px;
	height:16px;
	background-image:url(design_tool/toolbar.png);
	background-repeat:no-repeat;
	display:inline-block;
	position:relative;
	vertical-align:middle;
	margin: auto 4px auto 5px;
}
.button-menu-text{
	line-height: 25px;
	font-size: 12px;
	padding: 0 25px 0 5px;
	white-space:nowrap;
	display:inline-block;
	position:relative;
	vertical-align:middle;
}
.button-menu.with-divider .button-menu-text{
	border-left:1px solid #ddd;
}
.button-menu hr{
	border: none;
	height:1px ;
	border-top: 1px solid #ddd;
}
.toolbar-button.open .button-menu{
	display:block;
}
.button-menu-image{
	margin: 4px 7px;
}


.toolbar-button.type2.open , .toolbar-button.type2.on, .toolbar-button.type2:active{
	border: 1px solid #aaa;
	background-color: #EEE ;
 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#E0E0E0'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#E0E0E0)); /* for webkit browsers */
	background: -moz-linear-gradient(top, #EEEEEE, #E0E0E0); /* for firefox 3.6+ */
	box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset ;
}
.toolbar-button.type2:active{
	box-shadow: 0 1px 2px 2px rgba(0,0,0,0.1) inset ;
}

.toolbar-button.disabled{
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	opacity: 0.4;	
	border-color: transparent !important ;
	background: none !important ;
	box-shadow: none !important ;
}

.toolbar-button.type5{
	line-height:35px;
	border: 1px solid #aaa;
	background-color:#eee;
	margin: 8px 5px ;
	text-align:center;
}
.toolbar-button.type5:hover{
	border: 1px solid #999;
	box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
}

.toolbar-button.type5 .button-text{
	position:relative;
	display:inline-block;
	font-size:12px;
	padding: 0 10px;
	font-weight: bold;
	vertical-align:middle;
}

.toolbar-button.type5 .button-icon {
	position:relative;
	display:inline-block;
	width: 24px;
	height: 24px;
	background-repeat:no-repeat;
	vertical-align:middle;
	margin: 0px 1px 0px 6px ;
}
.toolbar-button.type5 .button-arrow{
	width: 16px;
	background-position: -48px -16px  ;
	margin: 0 ;
}
.toolbar-button.type1 .button-icon {
	display: block;
	width:48px;
	height:32px;
	margin: 5px auto ;
}
.toolbar-button.type5.has-optional-menu .button-arrow-full-height{
	position:relative;
	display:inline-block;
	margin: 0;
	border-left: 1px solid #ccc;
	padding-left: 3px;
}

.toolbar-button.type6{
	margin: 1px;
	border: 1px solid #999;
	padding: 2px 3px;
}
.toolbar-button.type6 .button-text{
	display: inline-block;
	position:relative;
	font-size: 11px;
	line-height:16px;
	vertical-align:top;
	margin: 0 3px;
}
.toolbar-button.type7{
	margin: 1px;
	border: 1px solid #999;
	padding: 7px 3px;
	left:auto;
	border-radius: 7px;

}
.toolbar-button.type7 .button-text{
	display: inline-block;
	position:relative;
	font-size: 12px;
	line-height:16px;
	vertical-align:top;
	margin: 0 3px;
	color: #cc0000;
	font-family: Verdana;
}
img.safe-zone-mask{
	display:block;
	position:absolute;
	z-index:119;
}
#snap_guide_x{
	border-left: 1px dashed #0CF;
	width: 1px;
	height: 100%;
	top: 0px;
	display: none;
	z-index: 120;
}
#snap_guide_y{
	border-top: 1px dashed #0CF;
	height: 1px;
	width: 100%;
	left: 0px;
	display: none;
	z-index: 120;
}
#extra_text_tools>div{
	margin-bottom: 4px;
}
.overlay-container{
	display:block;
	position:fixed;
	margin:auto;
	top:0;
	left: 0;
	right: 0 ;
	bottom: 0;
	z-index: 15000;
	background-color: rgba(0,0,0,0.5);
}

.overlay-container .wait{
	position:absolute;
	margin:auto;
	background-color: #eee;
	text-align:center;
	font-size: 12px;
	font-weight:bold;
	width:200px;
	height:50px;
	line-height:50px;
	top:0;
	left:0;
	bottom:0;
	right:0;
	text-align:center;
	color: #444;
	border-radius: 3px;
}
#preview_container{
	/*position:absolute;*/
	top: 100px;
	margin: auto !important;
}
.preview-bar{
	position:fixed;
	text-align: center;
	left: 0;
	right: 0;
	top: 0;
	height: 65px;
	background-color: #fefefe;
	z-index: 15001;
}
.preview-load{
	display: block;
	position:relative;
	margin:auto;
	top: 50px;
}
#preview_btns{
	height: 30px;
    left: 0;
    margin: auto !important;
    position: fixed;
    right: 0;
    top: 59px;
    width: 200px;
    text-align: center;
    z-index: 15001;
}
.preview-btn{
	position:relative;
	display:inline-block;
	padding: 6px 14px;
	font-size:12px;
	text-align:center ;
	border:1px solid #aaa;
	margin-right: -1px;
	cursor: pointer;
	top: 16px;
	color : #ca071a/*#6951A9*/;
}
#preview_btn0 {
    border-radius: 7px 0 0 7px;
}
#preview_btn1 {
    border-radius: 0 7px 7px 0;
}
.preview-btn .button-text{
	cursor: pointer;
	line-height: 16px;
}
.preview-btn.on , .preview-btn.on:active {
	color: #fff;
	background:  #ca071a/*#6951A9*/;
	filter:none;
	box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, .2) inset;
}

.large-preview{
	display: block;
	position:relative;
	margin:auto;	
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
	cursor: pointer;
	cursor: url("design_tool/openhand.cur"), default !important;
}
.large-preview:active{
	cursor: url("design_tool/closedhand.cur"), default !important;
}
.close-preview{
	position:absolute;
	top: 16px;
	right: 28px;
	left:0;
	width:135px;
	cursor:pointer;
	margin:auto !important;
	z-index: 10;
	background: url("design_tool/toolbar.png") no-repeat 8px -72px;
}
.close-preview:hover{
	border-color: #F60;
}
.close-preview span{
	color: #FF6600;
	font-size:16px;
	padding-right: 8px;
	cursor:pointer;
	font-weight:bold;
}
.close-preview .button-text{
	cursor: pointer;
	left: 10px;
}
#admin_tools_menu {
	font-size: 12px;
}
#textbox_tools{
	background-color: #CCC;
	border: 1px solid #555;
	border-bottom: 2px solid #555555;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	box-shadow: 0 -1px 0 #767676 inset;
	display:none;
	position:absolute ; 
	z-index: 2300;
	border-radius: 3px;
	padding: 0px;
	font-size: 0.5px;
	white-space:nowrap;
	border-radius: 3px;
	z-index:2400;
}
#textbox_tools.open{
	padding: 7px ;
}
#inline_textarea, #inline_textarea_preset, #inline_textarea_title{
	width:200px;
	border: 1px solid #aaa;
	padding: 0 2px;
	overflow:auto;
	font-size: 12px;
	border-radius: 4px;
	padding: 0 2px;
	line-height:22px;
	min-height:24px;
	max-height:250px;
	height:24px;
}
#inline_textarea:focus, #inline_textarea_preset:focus, #inline_textarea_title:focus{
	border: 1px solid #56B4EF !important;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset, 0 0 8px rgba(82, 168, 236, 0.6) !important;
}
#admin_tools {
	margin-left: 300px; 
	background-color:#CCC;
	font-size: 11px;
}

#admin_tools label{
	display:block;
	margin: 3px;
}
#admin_tools select , #admin_tools input[type='text']{
	width:200px;
	border:1px solid #aaa;
	margin-bottom:3px;
}
#admin_tools_positions  span {
	display:inline-block;
	width: 20px;	
}
#admin_tools_positions  hr{
	border: none ; 
	border-top: 1px solid #bbb;
	height:1px ;
}
#admin_tools_positions label{
	display:inline-block;
	width:35%;
}

#admin_tools_positions input[type='text'] {
	width:45px;
}
.theme-colors .color-pick{
	height:25px !important;
}
#extra_crop_option{
	text-align:right; 
	border-top: 1px solid #ddd; 
	margin-top: 3px ; 
	padding-top: 3px;	
}

.crop-toolbar-item{
	width:16px;
	height: 16px;
	margin:2px;
	background-image:url(design_tool/toolbar.png) ;
	background-repeat:no-repeat;
	display:inline-block;
	vertical-align:top;
	opacity: 0.7;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	position:relative;
}

.crop-toolbar-item:hover{	
	opacity: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.crop-toolbar-item span {
  background-color: #333333;
  border: 1px solid #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #FFFFFF;
  display: none;
  font-size: 10px;
  font-weight: bold;
  left: -5px;
  line-height: 16px;
  padding: 2px 6px 3px;
  position: absolute;
  text-align: center;
  top: -30px;
  white-space: nowrap;
  z-index: 2000;
}
.crop-toolbar-item:hover span{	
	display:block;
}
#crop_slider {
	width: 80px;
	height: 3px;
	margin: 6px 2px 0 2px;
	background: #fff;
	position: relative;
}

#crop_slider .ui-slider-handle {
	width: 10px;
	height: 14px;
	position: absolute;
	top: -5px;
	margin-left: -5px ; 
	background:none !important;
	background-color:#000 !important;
	border: 0 !important;
	border-radius: 1px;
	cursor:pointer;
	cursor:ew-resize;
}

.float-toolbar , .inline-toolbar  {
	background-color: #CCC;
	border: 1px solid #555;
	border-bottom: 2px solid #555555;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	box-shadow: 0 -1px 0 #767676 inset;
	display:none;
	position:absolute ; 
	z-index: 2300;
	border-radius: 3px;
	padding: 3px;
	font-size: 0.5px;
	white-space:nowrap;
}

.float-toolbar-handle{
	position: absolute;
	left: 0;
	width: 8px;
	bottom: 0;	
	top: 0;
	margin:auto;
	cursor:move;
	background:url(design_tool/move_handle.png) center center no-repeat;
}

.close .open-only{
	display: none !important ;
}

.open .close-only{
	display:none !important ;
}

.svg-color-item{
	width:15px;
	height:20px;
	border:1px solid #aaa;
	display:inline-block;
	margin:2px;
}
.svg-color-item.on{
	border-color:#F60;
}

.iframe-popup{
	position:fixed;
	width: 90%;
	height: 90%;
	max-width: 960px;
	max-height: 750px;
	top: 0;
	left: 0;
	right: 0;
	bottom:0;
	margin: auto ;
	z-index:30000;
}

.iframe-popup-full-page{
	max-width: none;
	max-height: none;
	width:95%;
	height:95%;
}

.admin-only{
	display: none;
}

.admin-tools{
	position: fixed;
	top: 5px;
	left: 5px;
	border-radius: 5px;
	background-color: white;
	width: 180px;
	border: 1px solid #E9E8E0;
	padding: 5px;
	font-size: 12px;
}
.admin-tools h5{
	background-color:#E9E8E0;
	font-size: 12px;
	padding: 3px 5px ;
	border-radius: 2px;
	margin-top: 10px;
}
.admin-tools h5:first-of-type{
	margin-top: 0;
}
.admin-tools span{
	margin: 1px 0px;
	color:#06C;
	display:block;
	padding: 2px 5px ;
}

.admin-tools span:hover{
	background-color: #eee;
	cursor:pointer;
}

* {
    outline:none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;

    -moz-box-sizing : border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box !important ;
    box-sizing: border-box;

    margin: 0;
    padding: 0;
    cursor: default ;

}
/*
* {
	outline:none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;

	-moz-box-sizing : border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box !important ;
	box-sizing: border-box;

	margin: 0;
	padding: 0;
	cursor: default ; 
	
}
*/
/*
html, body {
	font-family:Tahoma, Geneva, sans-serif;
	background-color: #fff;
	padding:0;
	margin:0;
}
textarea , input[type='text']{
	font-family:Tahoma, Geneva, sans-serif;
}
*/
.image-mask{
	position: absolute;
	overflow:hidden;
}
.image-mask.crop{
	overflow: visible;
}
.selected.croppable{
	-moz-box-shadow: 0 0 15px 1px #39F;
	-webkit-box-shadow: 0 0 15px 1px #39F;
	box-shadow: 0 0 15px 1px #39F;
}
/* Start: Hack foe IE8 box-shadow in cropper*/
.selected.croppable .selected-dash{
	border-width /*\**/: 3px\9 ;
	border-color /*\**/: #39F\9 ;
	border-style /*\**/: solid\9 ;
	filter: alpha(opacity=70);
	
}
:root .selected.croppable .selected-dash{
	border-color: #cfe6fc \0/IE9; 
	border-style: dashed \0/IE9; 
	border-width: 1px 0 0 1px \0/IE9; 
}
/* End: Hack foe IE8 box-shadow in cropper*/

.selected.croppable .handle{
	border-radius: none;
	background: url(design_tool/toolbar.png) ;
	background-repeat:none;
	border: 0;
	background-color: none;
	border-radius: 0 ;
	width:16px;
	height:16px;
}

.selected.croppable .handle-nw{
 	background-position: -912px 0 ;
}
.selected.croppable .handle-ne{
	background-position: -928px 0 ;
}
.selected.croppable .handle-se{
	background-position: -944px 0 ;
}
.selected.croppable .handle-sw{
	background-position: -960px 0 ;
}
.selected.croppable .handle-n{
	background-position: -976px 0 ;
}
.selected.croppable .handle-e{
	background-position: -992px 0 ;
}
.selected.croppable .handle-s{
	background-position: -1008px 0 ;
}
.selected.croppable .handle-w{
	background-position: -1024px 0 ;
}

.image-border{
	position:absolute;
	top:0;
	left:0;
	border: 0 solid #fff;
	width:100%;
	height:100%;
	z-index:10;
}

.tooltip{
	position: absolute;
	border: 1px solid #F90;
	background:#FF6 ;
 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEFBF', endColorstr='#FDD582'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#FFEFBF), to(#FDD582)); /* for webkit browsers */
	background: -moz-linear-gradient(top, #FFEFBF, #FDD582); /* for firefox 3.6+ */
	z-index: 5000; 
	padding: 5px;
	color:#333;
	-moz-box-shadow: 1px 1px 3px 0px #999 ;
	-webkit-box-shadow: 1px 1px 3px 0px #999 ;
	box-shadow: 1px 1px 3px 0px #999 ;

	border--radius : 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	font-size:11px;
	line-height:150%;
	text-align:center;
	padding: 7px;
}
.shape-border-stroke-option{
	background-image:url(design_tool/dash.png) ;
	background-repeat:no-repeat ; 
	height: 16px ; 
	width:100px;
}

.crop-mask {
	position: absolute;
	background:#000;
	filter: alpha(opacity=60);
	-khtml-opacity: 0.6;
	-moz-opacity: 0.6;
	opacity: 0.6;
	z-index: 100;
}
.panel-mask {
	filter: alpha(opacity=80);
	-khtml-opacity: 0.8;
	-moz-opacity: 0.8;
	opacity: 0.8;
	width:100%;
	height:100%;
	background-repeat: no-repeat;
	background-position:top left;
}

.grid-mask {
	filter: alpha(opacity=80);
	-khtml-opacity: 0.8;
	-moz-opacity: 0.8;
	opacity: 0.8;
	width:100%;
	height:100%;
	background-repeat: no-repeat;
	background-position:top left;
}


.user-image-thumb-wrapper .user-image-delete{
	display: none !important;
	width: 16px;
	height:16px;
	background-image:url(design_tool/toolbar.png);
	background-repeat:no-repeat;
	cursor: pointer;	
}

.user-image-thumb-wrapper:hover .user-image-delete{
	display: block !important;
}

.email-to-friend-field{
	width: 100% ;
	border: 1px solid #aaa ;
	margin-bottom: 10px;
	font-size: 12px ; 
	padding: 1px 2px ;
}
#header_icons{
	margin: 0px 20px 0px 0px ;
	width: 960px;

}
#header_icons img {
	cursor:pointer;
}

.right {
	float:right;
}

.img-popup{
	position:absolute;
	z-index:10000 ; 
	top: 130px ;
	margin:auto;
	left: 0;
	right: 0 ;
}
/*
.bottom-left-10 {
	border-bottom-left-radius : 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
}
.bottom-right-10 {
	border-bottom-right-radius : 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
}
.top-left-10 {
	border-top-left-radius : 10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
}

.top-right-10 {
	border-top-right-radius : 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
}
*/
option {
	padding: 0px 5px 0px 3px ; 
}
#multi_selector {
	border: 1px dashed #00C ;
	background-color: #69F ;
	filter: alpha(opacity=30);
	-khtml-opacity: 0.3;
	-moz-opacity: 0.3;
	opacity: 0.3;
	position: absolute;
	display:none ;
	z-index: 2000 ;
}
table#upage_spec{
	margin: 35px 10px 0px 40px; 
}
table#brochure_spec{
	margin: 20px 10px 0px 40px;
}
table#businessFlyer_spec{
	margin: 20px 10px 0px 40px;
}

table.product_spec td{
	text-align:left ; 
	vertical-align:top ; 
	font-size: 14px;
	font-weight:bold ;
	padding: 2px; 
}
.mset-info {
	border: 1px solid #ccc ;
	background: #f5f5f5 ;
	margin: 10px;
	border-radius: 10px ; 
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 10px;
}

#design_filters{
	padding: 30px 0px 0px 50px;
}
#design_filters label{
	display:inline-block;
	margin-right: 20px;
	color: #222;
	line-height: 160% ;
	font-size: 12px;
	font-weight:bold;
}
.padded-select {
  font-size: 13px;
  padding: 3px;
}
#admin_panels{
	position: absolute;
	top: 5px;
	left: 5px;
	width:auto;
	height:auto;
}
#admin_panels td{
	font-weight:bold;
}
#admin_panels_handle{
	padding: 10px;
	background: #eee;
}
#preview_right {
	padding: 30px 30px 0 0;
	vertical-align:top;
}
.preview-tools{
	padding-bottom: 20px;
	text-align:center;
}
#bottom_promo_table{
	height: 170px;
}
#bottom_promo_table td{
	padding: 20px;
	width: 33% ;
	vertical-align:top;
}
/*
p{
	color: #555;
	line-height: 140% ;
	font-size: 13px;
}
h3{
	color: #444 ;
	margin-bottom: 10px;
	font-size: 16px;
}
h4{
	color: #444 ;
	margin-bottom: 15px;
	font-size: 14px;
}
h5{
	color: #444;
	font-size: 12px;
}
*/
#preview_popup label {
	font-size: 13px ;
	display:block;
	margin: 50px 0 15px 5px ;
	color: black ;
}


img.user-image-thumb {
	cursor:move;
	border:1px solid #eee;
	padding: 1px;
}
img.user-image-thumb:hover {
	border:1px solid #FC0;
}
img.user-image-thumb.ui-draggable-dragging{
	margin: 0;
	border:0;
}
#new_notice{
	position:absolute;
	display:inline-block;
	left:0;
	right:0;
	top:15px;
	margin:auto;
	background:#FC0;
	border: 1pc solid #aaa;
	border-radius: 5px;
	border-shadow: 0 0 5px 5px rgba(0,0,0,0.3);
}
#notice_bar {
	position:fixed;
	top: 0 ;
	left: 0 ; 
	height: 1px ;
	width: 100% ;
	text-align:center;
	overflow:visible ;
	z-index: 100000  ;
} 
#notice_box {
	border: 3px solid #FFFFFF;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
	display: inline-block;
	font-size: 13px;
	padding: 7px 15px;
	position: relative;
	top: 20px;
}
#notice_box.notice{
	color:#333 ;
	background-color: #FC0 ; 
	font-weight:bold;
}
#notice_box.alert{
	color: #FFF ;
	background-color: #F30 ; 
	font-weight:bold;
}
#notice_box.alert b , #notice_box.alert u {
	color:#FFF ; 
}

#easy_page_footer{
	height: auto;
	margin: 0 auto;
}

input[type='text'].disabled{
	border:1px solid #cacaca !important;
	background:#f2f2f2 ;
	color:#999 !important ;
}
#header {
	width: 960px;
	margin: 0px auto ;
/*	background-color:#fff; */
	position:relative;
	z-index:0;
}
#login_info {
	margin: 2px 10px;
	text-align:right;
}
.req-field input[type='text'] , .req-field input[type='password']{
	border-left: 2px solid red !important;
}
.fake-link{
	font-size:12px;
	color:#39F;
	cursor:pointer;
}
.fake-link:hover, a:hover {
	text-decoration:underline;
}

select::-moz-focus-inner , input::-moz-focus-inner , button::-moz-focus-inner { 
	border: 0; 
}

textarea, input[type=text], input[type=password]{
	outline: 0 none;
	cursor: text !important ;
	-webkit-user-select:text !important;
	-moz-user-select:text !important;
}

.admin-toolbar {
	width: 100%;
	height: 35px;
	padding: 5px;
	background:#F8FBFD;
	margin-top: 5px;
	border: 0px solid #6CF;
	border-radius: 5px ; 
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.simple-popup {
	background-color :#f0f0f0;
	position: fixed;
	left: 50px;
	right:50px;
	top: 20%;
	
	z-index:50000;
	-moz-box-shadow: 2px 3px 8px 1px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 2px 3px 8px 1px rgba(0, 0, 0, 0.4);
	box-shadow: 2px 3px 8px 1px rgba(0, 0, 0, 0.4);
	border-radius: 6px ; 
	height:200px;
	display:none; 
	overflow:visible;
}

.transparent-popup{
	background-color: transparent;
	-moz-box-shadow: none;
	-webkit-box-shadow: none ;
	box-shadow: none; 
	border: none;
	overflow:visible;
}
.simple-popup-header {
	font-weight:bold;
	position:relative;
	font-size:15px;
	color:#fff;
	font-weight:bold;
	line-height: 35px;
	padding-left: 12px;
	background-color:#414141 ;
	border-radius: 5px 5px 0 0 ; 
}
.simple-popup-footer {
	background:url(design_tool/bg_top_nav1.png) repeat-x  ;
	position: relative;
	text-align:right;
	width: 100%;
	font-size:14px;
	color:#666;
	font-weight:bold;
	margin-top:0px;
	padding: 5px 7px 5px 12px;
	border-top: 1px solid #CCC;
	border-bottom-left-radius : 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-right-radius : 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
}
.simple-popup-close {
	background-image:url(design_tool/close_black.png);
	background-repeat: no-repeat;
	width: 36px;
	height: 36px;
	position: absolute ;
	top: -15px;
	right: -15px;
	cursor:pointer;
}
.simple-popup-content {
	margin: 10px 20px;
	font-size:14px;
}
.simple-popup-content h3 {
	margin: 10px 0px ;
}
.simple-popup-content input[type='text'] , .simple-popup-content input[type='password'] , .simple-popup-content textarea {
	width: 100% ;
	border: 1px solid #ccc;
	font-size: 11px;
	padding: 1px ;
}


#info_ph{
	position:relative;
	display:inline-block;
	margin: 10px 20px 0 15px;
}

#info_design_title{
	font-size: 12px;
	color: #333;
	font-weight:bold;
	line-height:130%;
	max-width:300px;
	overflow:hidden;
	
}

#info_product_title{
	font-size: 11px;
	color: #666;
}


.ui-widget-overlay{
	z-index: 3000 !important;
}
.ui-dialog{
	z-index: 3001 !important;
}
#bottom_toolbar_placeholder {
	position:relative;
	height: 40px;
	overflow: visible;
}

#bottom_toolbar {
	padding: 2px ;
}
.outline-hint{
	position: absolute;
	border: 2px solid #09F;
	background-color:#FFF;
	color:#09F; 
	font-size:11px;
	font-weight:bold;
	display:none;
	padding: 4px 0px;
	width:120px;
	text-align:center;
	top: -2px;
	left: -121px;
	border-radius: 3px 0 0 3px;
	box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.1);

}
.pholder.selected .outline-hint{
	display:block !important;
}
.ppholder .outline-hint{
	left: 0 ;
	width:150px;
	line-height: 30px;
	top: -30px;
	margin: auto;
	height:30px;
	padding:0;
	border-radius: 3px;
	z-index:10;
	background:#86BA1C;
	font-size:12px;
	text-transform:capitalize;
	
}
.lock-hint{
	position: absolute;
	border: 2px solid #09F;
	background-color:#FFF;
	color:#09F;
	font-size:11px;
	font-weight:bold;
	display:none;
	padding: 3px 0px;
	width:90px;
	text-align:center;
	top: -2px;
	left: -91px;
	border-radius: 3px 0 0 3px;
	display: none;
}

.outline2.locked:hover .lock-hint{
	display:block;
}

.outline2.locked .outline-hint{
	display:none !important;
}


/*
.text .outline-hint{
	top: -1px;
	left: -85px;
	border-radius: 3px 0 0 3px;
}
*/
.highlighted:hover .outline-hint , .highlighted .inline-toolbar , .selected .inline-toolbar{
	display:block;
}
.color-palette {
	white-space:normal;
	width: 212px;
	padding: 4px 0px 4px 4px ; 
	line-height:100%;
	background-color: #333 !important;
	border: none !important;
	border-radius: 2px;
}
.color-pick {
	width: 16px;
	height: 16px;
	cursor:pointer;
	margin: 1px 1px 0 0 ;
	display:inline-block;
	vertical-align: top;
}
.color-pick.on {
	background-image:url(design_tool/selected_color.png);
	background-position:center center;
	background-repeat:no-repeat;
}
.color-transparent{
	background-image:url(design_tool/toolbar.png) ;
	background-repeat:no-repeat;
	background-position: -1200px 0 ;
	visibility: hidden;
}
.color-transparent.on{
	background-image:url(design_tool/toolbar.png) ;
	background-repeat:no-repeat;
	background-position: -1216px 0 ;
}
.with-transparent .color-transparent{
	visibility:visible;
}
#tool_placeholder {
	position:relative;
/*	min-height: 430px; */
	min-height: 0 ;
	width: auto ; 
	height:auto;
	overflow:visible; 
	z-index:90;
}

.clearer {
	clear: both;
	float:none;
	height:1px;
}

.loading-indicator {
	background-image: url(design_tool/ajax-loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

#gray_box {
	position:fixed;
	width: 100%;
	height: 100%;
	background: none repeat scroll 0 0 #000000;
	display: none;
	top: 0;
	left: 0;
	z-index:9999;
	display: none;
	opacity: 0.5;
	filter:alpha(opacity = 50);
}
#loading {
	display: none;
	position: absolute;
	-khtml-opacity: 0.8;
	-moz-opacity: 0.8;
	opacity: 0.8;
	width: 100%;
	height:100%;
	background-image: url(design_tool/ajax-loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
	overflow:hidden;
}
.loading {
	position: absolute;
	filter: alpha(opacity=50);
	-khtml-opacity: 0.5;
	-moz-opacity: 0.5;
	opacity: 0.5;
	background-color: #000;
	background-image: url(design_tool/ajax-loader-s.gif) !important;
	background-position: center center !important;
	background-repeat:no-repeat !important;
}
.non-selectable {
	cursor: default;
	visibility:hidden ;
}
.non-selectable:hover {
/*	display: none ; */
}
.admin.non-selectable  {
/*	display: block !important; */
	visibility:visible !important ;
}

.admin.non-selectable:hover {
	border: 1px dashed #0FF;
}

.stock-image-price-outline{
	position: absolute;
	font-size: 10px ;
	font-weight:bold;
	top: 0;
	right: 0;
	left:0;
	margin:auto;
	width:40px;
	line-height:16px;
	text-align:center;
	color: #fff;
	background-color:#09F;
	border-radius: 0px 0px 3px 3px;
	cursor:help;
	z-index: 1;
}

.user.public .stock-image-price-outline{
	display:none !important;
}

.public.admin .stock-image-price-outline{
	background-color:#F60;
}

.outline2 .stock-image-price-outline, .outline2 .stock-image-thumb-info {
	display: none;
}

.outline2.selected .stock-image-price-outline,.outline2.selected .stock-image-thumb-info , .locked.highlighted .stock-image-price-outline, .locked.highlighted .stock-image-thumb-info {
	display: block;
}

.outline2.resizing .stock-image-price-outline, .outline2.resizing .stock-image-thumb-info, .outline2.grabbed .stock-image-price-outline, .outline2.grabbed .stock-image-thumb-info{
	display: none!important;
}
.outline2 .unlocker {
	display: none !important;
}
.outline2.locked .locker {
	display: none !important;
}
/*
.croppable .stock-image-price-outline, .croppable .stock-image-thumb-info{
	display:none !important ;
}
*/
.highlighted {
	border: none;
	cursor: pointer;
	opacity: 0.9;
}
.highlighted.text {
	background-color: rgba(0,144,255, 0.1) ;
}

.highlighted.locked {
	cursor:default !important;
}
.selected {
	border: 1px solid #0a3c6b;
	cursor: move;
}
.selected-dash{
	position:absolute;
	border-color: #97c2f2;
	border-style: solid;
	border-width: 1px 0 0 1px ;
	box-shadow: 0 0 4px 1px rgba(150, 200, 255, 0.5);
	display: none;
}
.selected-dash.t{
	top: -1px;
	left:-1px;
	width:100%;
	height:1px;
}

.selected-dash.b{
	bottom: -1px;
	left: -1px;
	width:100%;
	height:1px;
}
.selected-dash.l{
	top: -1px;
	left: -1px;
	width:1px;
	height:100%;
}
.selected-dash.r{
	top: -1px ;
	right: -1px ;
	width:1px;
	height:100%;
}


.selected .selected-dash{
	display: block;
}
.highlighted .selected-dash{
	box-shadow: none;
	display: block;
	background-color: #fff;
	border-width: 2px 0 0 2px ;
	border-style: dotted ;
	border-color: #09F ;
	
}

.lowlighted {
	border: 0;
}
.handle {
	width: 10px;
	height: 10px;
	border: 1px solid #39F;
	background-color : #f5f5f5;
	position: absolute;
	display: none;
	border-radius: 5px;
	z-index: 5;
}


.non-resizable .handle {
	display:none !important;
}
.selected.unmovable{
	cursor: default !important;
}
.selected.croppable{
	cursor:move !important;
}

.grabbed .handle {
	background: #FC3;
}
.resizing .handle {
	background-color: #1ACC34;
}
.selected .handle {
	display: block;
}
.handle-n {
	margin-left: -5px;
	cursor: n-resize;
	left: 50%;
	top: -5px;
}
.handle-s {
	margin-left: -5px;
	cursor: s-resize;
	left: 50%;
	bottom: -5px;
}
.handle-e {
	cursor: e-resize;
	margin-top: -5px;
	right: -5px;
	top: 50%;
}
.handle-w {
	cursor: w-resize;
	margin-top: -5px;
	left: -5px;
	top: 50%;
}
.handle-nw {
	cursor: nw-resize;
	left: -5px;
	top: -5px;
}
.handle-ne {
	cursor: ne-resize;
	right: -5px;
	top: -5px;
}
.handle-sw {
	cursor: sw-resize;
	left: -5px;
	bottom: -5px;
}
.handle-se {
	cursor: se-resize;
	right: -5px;
	bottom: -5px;
}
.fixed-ratio .handle-s, .fixed-ratio .handle-n, .fixed-ratio .handle-e, .fixed-ratio .handle-w {
/*	display: none; */
}
#deselector, #image_layers, #outline_layers, #mask_layers, #droppable_layers, #inline_cropper, #overlay_layers {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

 #text_layers {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#image_layers, #text_layers, #overlay_layers {
	overflow:hidden;
}
#deselector {
	visibility:visible !important;
	border: 0 !important ;
}
#droppable_layers {
	display: none;
}
.drop-mask {
	position: absolute;
	border: 2px dashed #F60;
}
.drop-mask.over {
	border: 2px dashed #3F0;
}
#droppable_layers.over {
	border: 2px dashed #3F0;
}
#image_layers img, #text_layers img, #overlay_layers img {
	image-rendering: optimizeQuality ;
	display: block;
	position: absolute;
	border: 0;
}
#text_layers div, #mask_layers div {
	position: absolute;
}
.outline2 {
	background-image: url(design_tool/spacer.gif);
	background-repeat: repeat;
	position:absolute;
}
.bg-cropper-masks{
	width: 100%;
	height:100%;
	overflow:hidden;
	position:relative;
}
.bg-crop-img{
	display:block;
	position:absolute;
	left:0;
	top:0;
	z-index: -1 ;
	border: 1px solid #aaa;
}
#popup_cropper{
	position: relative;
	margin:auto;
}
#popup_cropper_right{
	vertical-align:top;
	text-align:center;
	width: 220px;
}
#popup_cropper_right img{
	margin: 7px ;
	cursor:pointer;
}
#popup_cropper_left{
	text-align:center;
}
.position-measure{
}

.size-measure{
	position:absolute;
	display:none;
	text-align:center;
}
.size-measure.w{
	top: -25px;
	height:20px;
	left: 0;
	width:100%;
	text-align:center;
}
.size-measure.h{
	top: 0px;
	height: 100%;
	right: -36px;
	width: 30px;
	text-align:center;
}

.size-measure .value{
	white-space:nowrap;
	text-align:center;
	color: #777;
	font-size: 10px;
	background-color:#eee;
	border: 1px dotted #ccc;
	z-index:10;
	border-radius:2px;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	margin:auto;
	height:15px;
	line-height:14px;
	display:inline-block;
	width: 32px;
}
	

.size-measure.w .value{
}

.size-measure.h .value{
}

.size-measure .guide{
	position:absolute;
	z-index:5;
	top:0;
	bottom: 0;
	left:0;
	right:0;
	margin:auto;
	
}
.size-measure.w .guide{
	height:1px;
	border-top:1px dotted #ccc;
}

.size-measure.h .guide{
	width:1px;
	border-left:1px dotted #ccc;
}

.size-measure.h .value{
}
.size-measure.h .guide{
}


.position-measure{
	border: 1px solid #FC0;
	background-color:#FFC;
	color: #960;	
}
.croppable .size-measure, .croppable .position-measure {
	top: auto !important;
	bottom: -20px;
}
.grabbed .position-measure{
	display:block;
}
.resizing .size-measure{
	display:block;
}
.tarea-label{
	padding: 0px 2px;
	border:1px solid transparent;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	line-height:22px;
	position:absolute;
	left:0;
	top:0;
	color:#888;
	z-index:5;
	cursor:	text
}

#text_fields {
	display:none;
	position: relative;
	height: auto;
	max-height: 420px ;
	overflow:hidden; 
	margin: 0;
	border-radius: 0 0 5px 5px ; 
	background-color:#F5F5F5;
	border: 1px solid rgba(0,0,0,0.1);
	border-top: none;

}
#text_fields.sticky{
	position: fixed !important;
	top: 120px;
	width: 220px;
}
.textbox-n-friends textarea {
	position:relative;
	z-index: 10;
	background-color: #fff;
	width: 100%;
	border: 1px solid #ccc;
	display: block;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	overflow:hidden;
	padding: 0 2px;
	height: 24px;
	min-height: 24px;
	line-height:22px;
	resize: none;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset, 0 1px 0 #FFFFFF ;
	border-radius: 4px;
	color: #222;
}
.textbox-n-friends textarea:hover {
	border: 1px solid #999;
}
.textbox-n-friends.active2 textarea {
	border: 1px solid #56B4EF !important;
}
.textbox-n-friends.active2 textarea:focus{
	border: 1px solid #56B4EF !important;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset, 0 0 8px rgba(82, 168, 236, 0.6) !important;
}
.tarea-wrapper.empty textarea{
	background-color: transparent !important;
}
.tarea-wrapper.empty textarea:focus{
	background-color: rgba(255,255,255,0.5)!important;
}
.inline-textbox-hint{
	text-align:right;
	padding: 2px 15px 5px 0;
	color: #888;
}

.textbox-n-friends {
	padding: 7px 10px;
	width:100%;
}
.textbox-n-friends:first-of-type{
	margin-top: 20px;
}
.textbox-n-friends:last-of-type{
	margin-bottom: 5px;
}

.textbox-n-friends.active2{
	background-image:url(design_tool/active_text_bg.png);
	background-repeat:no-repeat;
	background-position: 1px center ; 

}

.tarea-wrapper{
	background-color: #fff;
	position: relative;
}
#canvas {
	background:#FFF;
	position: relative;
	z-index: 500;
	margin-bottom:25px;
}
.canvas-shadow{
	-moz-box-shadow: 3px 3px 5px 0px #777 ;
	-webkit-box-shadow: 3px 3px 5px 0px #777 ;
	box-shadow: 3px 3px 5px 0px #777 ;
}
.opacity50 {
	filter: alpha(opacity=50);
	-khtml-opacity: 0.5;
	-moz-opacity: 0.5;
	opacity: 0.5;
}
.gallery-wrap{
	filter: alpha(opacity=50);
	-khtml-opacity: 0.5;
	-moz-opacity: 0.5;
	opacity: 0.5;
	background-color: #ccc ;
	border: 1px dashed #333 ;
}
.museum-wrap{
	border: 1px dashed #333 ;
}
.safe-zone-mask{
	filter: alpha(opacity=70);
	-khtml-opacity: 0.7;
	-moz-opacity: 0.7;
	opacity: 0.7;
}
.safe-zone-mask.dashed {
	border: 1px dotted #06F;
	position: absolute;
	z-index:111;
}
.safe-zone-mask.solid {
	border: 1px solid#fff;
	position: absolute;
	z-index:110;
}

.folding-line-ver {
	border-left: 1px dashed #0F0;
	width: 1px;
	height: 100%;
	top: 0px;
}
.folding-line-hor {
	border-top : 1px dashed #0F0;
	width: 100%;
	height: 1px;
	left: 0px;
}

#left_panel {
	position: absolute;
	z-index: 500;
	left: 0px ;
	width:220px;
}


#design_tool {
	width: auto;
	height:auto;
}
#workspace {
	height: auto;
	width: 990px;
	border: 0px solid #006fba;
	margin: 0px auto;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-top:0;
	position:relative;
}


#slider {
	width: 200px;
	height: 6px;
	margin: 5px;
	background: #BBBBBB;
	position: relative;
}

.admin.pholder .handle {
	background-color:#936 !important; 
}


.resolution-notice{
	position: absolute;
	top: 5px;
	right: 5px;
	display: none;
}
.selected .resolution-notice , .highlighted .resolution-notice {
	display:block;
}
.grabbed .resolution-notice {
	display: none ;
}
.resolution-notice div{
	padding: 7px 10px; 
	border: 1px solid #F60 ;
	background: #FDED93; 
	color: #555 ; 
	position: absolute ; 
	width: 150px ; 
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; 
	-moz-border-radius-topright: 0;
	-webkit-border-top-right-radius: 0;
	
	font-size: 11px ;
	text-align:justify;
	right: 16px;
	top: 16px;
	display: none;
}
.resolution-notice:hover div{
	display: block;
}


#shape_border_sizes, #image_border_sizes {
	max-height: 250px;
	width: 70px;
	overflow-y: auto;
}
#admin_stock_image_cost{
	position:absolute;
	top:0;
	right: 0;
	background-color:#F63;
	color: #fff;
	font-size:13px;
	font-weight:bold;
	padding:5px;
}
.bullet-text-item{
	background-image:url(design_tool/bullets.png);
	width:60px;
	height:60px;
}
