<div >
	<!--History / movement for this item //chua dc dinh nghia-->
	<div class="clear_percent_18 float_left" style="width:39%">
        <div class="tab_1 full_width">
            <span class="title_block bo_ra1">
                <span class="float_left h_form">
                    <span class="fl_dent"><h4><?php echo translate('History / movements for this item'); ?></h4></span>
                </span>
            </span>
            <ul class="ul_mag clear bg3">
            	<li class="hg_padd" style="width:2%;"></li>
                <li class="hg_padd" style="width:15%;">Date</li>
                <li class="hg_padd" style="width:20%;">Type</li>
                <li class="hg_padd" style="width:29%">From</li>
                <li class="hg_padd" style="width:28%;">To</li>
            </ul>
            <ul class="ul_mag clear bg1 "></ul>
            <ul class="ul_mag clear bg2 "></ul>
            <ul class="ul_mag clear bg1 "></ul>
            <ul class="ul_mag clear bg2 "></ul>
            <ul class="ul_mag clear bg1 "></ul>
            <ul class="ul_mag clear bg2 "></ul>
            <ul class="ul_mag clear bg1 "></ul>
            <ul class="ul_mag clear bg2 "></ul>

            <p class="clear"></p>
            <span class="hit" style="height: 2px;"></span>
            <span class="title_block bo_ra2">
			<span class="float_left bt_block">
			<?php echo translate('Click to view full details'); ?>
		</span>
	</span>
        </div><!--END History -->
    </div>
    <!-- Communication - Dung ham dung chung-->
     <div class="clear_percent_16 float_left" style="width:60%">
        <div class="tab_1 full_width">
        	<?php echo $this->element('communications'); ?>
        </div><!--End Comms-->
    </div>

<div>