<!-- <div class="author-content">
	<div class="html-component">
		<h2 class="alt-book text-upper">BEAUTY GRAB</h2>
	</div>
</div>
<div class="beauty-grab container">
	div class="grab-items container">[@LIST_BEAUTY_ITEM]</div>
</div> -->