<h4>[@HEADLINE_NAME]</h4>
<ul class="nav">
    [@CHILD_ITEM]
</ul>
<div class="promo">
    <a href="/color-iq?icid2=Makeup_Color_IQ_Quick_Link&icid2=makeup_meganav_ad_colorIQ_image">
        [@IMAGE_LINK]
</div>