<div id="fb-root"></div>
<div id="main">
	<div class="row-component container " >
		<div class="section">
			<div class="slideshow carousel " data-auto-slide="1" style='width: 980px;height: 436px' data-name="slideshow_hp_ca_01.28.14" data-speed="840" data-show="1" data-animation="0" data-circle="true" >
				<ul class="carousel-inner container">[@SILDER_ITEM]</ul>
				<!-- <div class="carousel-control carousel-prev" analytics="prev">
					<span class="icon icon-arrow-left"></span>
				</div>
				<div class="carousel-control carousel-next" analytics="next">
					<span class="icon icon-arrow-right"></span>
					<span class="count"></span>
				</div> -->
			</div>
		</div>
	</div>
	<div class='imageComponent 'style="position: absolute; margin-top:-233px;" >
		[@HOME_LEFT_ADV]
		<map name="3280591_imageMap">
			<area shape="rect" coords="0,0,213,45" href="/contentStore/mediaContentTemplate.jsp?mediaId=14300060&icid2=HomePage_BeautyDeals_FragranceVOC_02.05.14_Image"  alt="HomePage_BeautyDeals_Image"   />
			<area shape="rect" coords="0,45,219,239" href="/scent4u?icid2=HomePage_BeautyDeals_FragranceVOC_02.05.14_Image"  alt="Seven Flirty Scents Choose your FREE Sample Bag. Use Code: SCENT4U"   />
		</map>
	</div>
	<div class="row-component container"></div>
	<hr class="spacer3">
	[@PRODUCT_GROUP_SLIDER]
	[@FOOTER_ADV]
</div>