<div class="section">
    <a href="/content/[@NAME]" class="imageComponent " target="" title="Score a red hot V-Day look with a free express service.  SEE ALL 8 SERVICES >
                ">
        <img src="[@ITEM_IMAGE]" width="209" height="308" alt="Score a red hot V-Day look with a free express service.  SEE ALL 8 SERVICES >" /></a>
</div>
[@SPACE]