<div class="banner-container"> </div>
<div class="main_checkuot" >
    <h1 style="font-size:20px">Your order has been purchase successfully. Click <a href="/checkout" > here</a> to back to shopping cart</h1>
</div>
</div>
