<div class="navbar-col col">
    [@LIST_COLUMN1]
</div>
<div class="navbar-col col">
    [@LIST_COLUMN2]
</div>
<div class="navbar-col col">
    [@LIST_COLUMN3]
</div>
<div class="navbar-col col">
    [@LIST_COLUMN4]
</div>