<div id="securePopup" class="modal" style="top: -180px; margin-left: -284px; min-width: [@FRAME_WIDTH]; min-height:[@FRAME_HEIGHT];">
    <iframe id="login" scrolling="no" class="secure-frame" frameborder="0" name="login" src="[@URL]" style="[@HEIGHT]; min-height:270px;" >
    </iframe>
</div>