<div class="sample-item">
	<img src="[@PRODUCT_IMAGE]" width="62" height="62" alt="" title="<img src='/user_account/customer/templates/default/img/s1601442-main-grid.jpg' width='97' height='97'>
	<span class='OneLinkNoTx'>
		[@PRODUCT_SKU]
	</span>
	">
	<br>
	[@BUTTON]
</div>