<li>
    <a href="/bareminerals?buttonMediaId=9600026&icid2=brand_button_bareMinerals_bareMinerals Ready">
                            <span class="link-inner">
                                [@ABOUT_QUESTION]
                                <span class="arrow arrow-right arrow-mini"></span>
                            </span>
    </a>
</li>