<div class="hidden" id="div_<?php echo $viewkeys.'_'.$arr_vls['_id'];?>"><?php if(isset($arr_vls[$viewkeys])) echo $arr_vls[$viewkeys]; ?></div>
<?php
if(isset($arr_vls['xempty'][$viewkeys]) && $arr_vls['xempty'][$viewkeys]=='1')
	echo '';
else{?>
    <div class="middle_check" class="link_detail">
        <a href="javascript:void(0)" class="details" id="<?php echo $viewkeys.'_'.$arr_vls['_id'];?>" ><span class="link_detail"></span></a>
    </div>

<?php }