.content.basket {
	padding: 20px 0 30px
}

.maincontent {
	float: left;
	width: 656px
}

.basket-sidebar {
	float: right;
	width: 290px;
	min-height: 1px
}

h1.page-header {
	letter-spacing: 2px;
	font-size: 28px;
	margin: 0
}

h1.page-header img {
	margin-top: -5px;
	margin-left: 4px
}

.top-promo-msg {
	color: #777;
	width: 340px;
	height: 28px;
	position: relative;
	float: left
}

.top-promo-msg p {
	margin: 0;
	line-height: 1.3;
	position: absolute;
	left: 0;
	bottom: 0
}

.top-promo-msg span.free {
	color: #004a80;
	text-transform: lowercase
}

.top-promo-msg .label-rouge {
	color: #bd204c
}

.basket-contents {
	min-height: 150px
}

.basket-head {
	border-bottom: 6px solid #000;
	padding-bottom: 12px
}

.vib-state {
	border-bottom: 1px solid #e0e0e0;
	padding: 24px 0 20px;
	margin: 0
}

.vib-state img {
	margin-right: 5px;
	position: relative;
	top: -3px
}

.vib-state a {
	font-size: 9px;
	text-transform: uppercase
}

.vib-state b {
	color: #c00
}

.vib-state b.label-rouge {
	color: #bd204c
}

.basket-item-to-clone {
	display: none
}

.basket-item {
	border-top: 1px solid #e0e0e0;
	padding: 6px 0;
	position: relative
}

.basket-item:first-child {
	border-top: 0
}

.basket-item .product-image {
	width: 70px;
	margin: 0 8px;
	float: left;
	padding-top: 3px
}

.basket-item .product-description {
	position: relative;
	float: left;
	width: 400px;
	margin-right: 27px;
	min-height: 45px;
}

.basket-item .product-description h2 {
	font-family: fontsDosis;
	font-weight: 600;
	text-transform: uppercase;
	margin: 5px 0 1px;
	font-size: 15px;
	line-height: 15px
}

.basket-item .product-description h2 a {
	display: block;
	text-decoration: none;
	color: #000
}

.no-touch .basket-item .product-description h2 a:hover {
	text-decoration: underline
}

.basket-item .product-description h2 .brand {
	text-transform: uppercase
}

.basket-item .item-purchase-info {
	float: left;
	width: 270px
}

.basket-item .item-purchase-info .product-quantity {
	float: left;
	padding-top: 3px
}

.basket-item .item-purchase-info .product-price {
	float: right;
	font-weight: bold;
	font-size: 11px;
	text-align: right;
	padding-top: 4px
}

.basket-item .item-actions {
	position: absolute;
	bottom: 2px;
	right: -297px
}

.basket-item .item-actions ul {
	margin: 0;
	list-style: none
}

.basket-item .item-actions li {
	float: right;
	text-transform: uppercase;
	font-size: 9px;
	line-height: 9px;
	color: #888;
	font-weight: bold
}

.basket-item .item-actions li.remove {
	border-left: 1px solid #999;
	margin-left: 9px;
	padding-left: 9px
}

.basket-item .item-actions li.remove.single {
	border: 0
}

.basket-item .item-actions li a {
	text-transform: uppercase;
	font-size: 9px;
	color: #888;
	font-weight: bold;
	text-decoration: none
}

.no-touch .basket-item .item-actions li a:hover {
	color: #000
}

.basket-summary {
	margin: 12px 0;
	border-top: 2px solid #e0e0e0;
	border-bottom: 6px solid #000
}

.basket-summary .basket-totals {
	width: 280px;
	padding: 8px 0;
	float: right
}

.basket-summary .basket-totals .total-row {
	padding-bottom: 4px
}

.basket-summary .basket-totals .total-row.subtotal {
	font-size: 15px;
	font-weight: bold;
	padding-top: 4px
}

.basket-summary .basket-totals .total-row .label {
	float: left;
	text-align: right;
	width: 130px
}

.basket-summary .basket-totals .total-row .value {
	float: right;
	text-align: right;
	width: 140px
}

.basket-summary .basket-totals.with-promo-box {
	width: 225px
}

.basket-summary .basket-totals.with-promo-box .total-row .value {
	width: 90px
}

.basket-summary .promotion-box {
	width: 410px;
	padding-top: 5px;
	float: left
}

.basket-summary .promotion-box .error-message {
	margin: 0
}

.basket-summary .promotion-box .code-entry {
	width: 410px;
	padding: 6px 0 0;
	float: left;
	position: relative
}

.basket-summary .promotion-box label {
	width: 96px;
	font-weight: bold;
	padding: 3px 0 0;
	margin: 0
}

.basket-summary .promotion-box input {
	width: 92px
}

.basket-summary .promotion-box .promo-input {
	width: 252px;
	float: left
}

.basket-summary .promotion-box .code-info {
	position: absolute;
	right: 0;
	top: 6px;
	width: 152px
}

.basket-summary .promotion-box .code-applied {
	vertical-align: middle;
	display: table-cell;
	height: 20px;
	position: relative;
	margin: 0;
	line-height: 1.3;
	font-style: italic;
	padding-left: 16px
}

.basket-summary .promotion-box .code-applied .icon-remove {
	position: absolute;
	top: 3px;
	left: 0
}

.basket-summary .promotion-box .below-promo {
	padding-top: 3px
}

.basket-summary .promotion-box .below-promo .help-label {
	display: block;
	width: 100px;
	float: left;
	font-size: 9px;
	color: #999;
	font-weight: normal
}

.basket-summary .promotion-box .below-promo .btn {
	padding-left: 0
}

.touch .basket-summary .promotion-box input {
	margin-right: 2px
}

.basket-actions ul {
	list-style: none;
	margin: 0
}

.basket-actions li {
	float: right
}

.basket-actions .action-checkout {
	margin-left: 5px;
	width: 150px
}

.basket-actions .btn-default {
	border-color: #999;
	color: #666
}

.no-touch .basket-actions .btn-default:hover,.basket-actions .btn-default:focus,.basket-actions .btn-default:active
	{
	color: #c00;
	border-color: #c00
}

.basket-actions .btn-shop {
	padding-left: 0;
	padding-top: 5px
}

.basket-actions .btn-shop .arrow-left {
	margin-left: -4px
}

.basket-actions .actions-left .btn-shop {
	padding-top: 0;
	margin-bottom: 3px
}

.ship-country-label {
	font-family: 'Avalon-Demi', sans-serif;
	font-weight: 600;
	margin-right: 5px;
	position: relative;
	top: 7px
}

.ship-country-label img {
	margin-top: -3px;
	margin-left: 5px
}

.basket-toggle {
	clear: both;
	margin-top: 14px;
	width: 150px
}

.basket-toggle .btn-text {
	font-size: 12px;
	letter-spacing: 0
}

.basket-toggle .icon-globe {
	margin-right: 4px;
	top: 0
}

.basket-toggle .btn-link {
	float: right;
	padding: 0;
	letter-spacing: 0;
	font-size: 11px;
	border-bottom: 1px solid
}

.beauty-grab h2 {
	font-size: 20px;
	letter-spacing: 1px;
	margin-bottom: 6px
}

.beauty-grab .grab-items,.beauty-grab .grab-item,.beauty-grab .grab-info,.beauty-grab .grab-img
	{
	float: left
}

.beauty-grab .grab-items {
	padding: 20px 0;
	border: 1px solid #e0e0e0;
	border-top: 2px solid #000
}

.beauty-grab .grab-item {
	width: 327px;
	border-top: 0
}

.beauty-grab .grab-item.odd .grab-img {
	border-left: 1px solid #e0e0e0
}

.beauty-grab .grab-item.odd:first-child .grab-img {
	border-left: none
}

.beauty-grab .grab-info {
	width: 150px
}

.beauty-grab .grab-info .brand {
	text-transform: uppercase
}

.beauty-grab .grab-img {
	position: relative;
	text-align: center;
	width: 157px
}

.basket-tabs {
	border-bottom: 0
}

.basket-tabs>li {
	min-width: 134px;
	margin-bottom: -6px;
	position: relative;
	font-size: 13px
}

.basket-tabs>li .icon-love {
	height: 17px;
	width: 25px;
	top: -3px;
	opacity: .4;
	filter: alpha(opacity = 40)
}

.basket-tabs>li.active {
	z-index: 1
}

.basket-tabs>li.active .icon-love {
	opacity: 1;
	filter: alpha(opacity = 100)
}

.basket-tabs>li>a {
	text-align: center;
	padding-top: 11px;
	padding-bottom: 15px;
	color: #000;
	border-color: #e0e0e0;
	background-color: #fff
}

.no-touch .basket-tabs>li>a:hover {
	font-family: 'Avalon-Bold', sans-serif;
	font-weight: 700;
	background-color: #fff
}

.basket-tabs>li.active>a {
	border-color: #000;
	border-bottom-color: transparent
}

.tab-content {
	min-height: 162px;
	border: 1px solid #000;
	border-top-width: 6px;
	position: relative
}

.tab-content .pane-head {
	min-height: 16px;
	padding: 8px;
	border-bottom: 1px solid #e0e0e0
}

.tab-content .pane-head p {
	margin: 0
}

.sample-pane .sample-message {
	color: #777;
	float: left
}

.sample-pane .sample-view-larger {
	float: right;
	text-align: right;
	position: relative;
	top: 1px
}

.sample-pane .sample-view-larger a {
	font-size: 9px;
	font-weight: 700;
	float: right;
	text-decoration: none
}

.sample-pane .pane-content {
	border-bottom: 1px solid #e0e0e0
}

.sample-pane .pane-foot {
	padding: 10px 0;
	text-align: center
}

.sample-pane .pane-foot .remove-samples {
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	display: inline-block
}

.sample-pane .pane-foot .remove-samples label {
	margin: 0 auto;
	display: inline-block
}

.sample-pane .error-message {
	float: left
}

.sample-pane .sample-items {
	padding: 5px 0
}

.sample-pane .sample-item {
	width: 33.33333333333333%;
	height: 102px;
	overflow: hidden;
	float: left;
	text-align: center;
	padding: 10px 0
}

.sample-pane .sample-item .tooltip {
	width: 121px;
	font-weight: normal;
	font-size: 11px
}

.sample-pane .sample-item .tooltip img {
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	padding: 14px 12px;
	width: 121px;
	height: 121px;
	margin: -3px -8px 4px;
	background: #fff;
	display: block
}

.sample-pane .sample-item .btn {
	margin: 4px auto 0
}

.sample-pane .sample-item .btn.btn-add {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 13px;
	line-height: 1.1
}

.list-pane .pane-content {
	max-height: 330px;
	overflow-y: auto;
	overflow-x: hidden;
	position: relative
}

.list-pane .list-items {
	padding: 0 14px;
	width: 278px
}

.list-pane .list-item,.list-pane .list-description {
	overflow: hidden;
	zoom: 1
}

.list-pane .list-item {
	border-top: 1px solid #f4f4f4;
	padding: 10px 0
}

.list-pane .list-item:first-child {
	border-top: 0
}

.list-pane .list-item .info-row {
	font-size: 10px
}

.list-pane .list-item .info-row .label {
	font-size: 9px
}

.list-pane .list-item .stock-msg {
	color: #c00;
	margin-bottom: 0
}

.list-pane .list-item .list-image {
	float: left;
	text-align: center;
	width: 42px;
	margin-right: 8px
}

.list-pane .list-item .list-description h3 {
	position: relative;
	font-size: 10px;
	line-height: 1.3;
	margin: 0 0 2px
}

.list-pane .list-item .list-description h3 a {
	display: block;
	text-decoration: none
}

.list-pane .list-item .list-description h3 .brand {
	text-transform: uppercase
}

.list-pane .list-item .list-description h3 .list-price {
	padding: 0 0 10px 10px;
	max-width: 53px;
	float: right;
	text-align: right
}

.list-pane .list-item .list-item-action {
	padding-top: 5px
}

.list-pane .list-item .restricted {
	margin-bottom: 0
}

.list-pane .list-item .stock-message p {
	color: #666;
	padding-bottom: 0
}

.list-pane .no-items-area {
	margin: 16px 0;
	padding: 0 16px;
	font-size: 14px;
	line-height: 20px
}

.basket-contents .error-message {
	padding: 11px 0;
	margin: 0;
	border-bottom: 1px solid #e0e0e0
}

.basket-contents .error-message.msg-basket-empty {
	font-size: 13px;
	padding: 20px 0
}

.basket-contents .basket-item .error-message {
	padding: 0 0 4px;
	margin: 0 0 0 85px;
	border: 0
}

.basket-item .item-stock-error {
	padding: 2px 0 0 0
}

#pop-remove-promo .remove-items ul {
	margin-left: 20px;
	padding-bottom: 20px
}

.modal-samples-large .modal-header {
	border: 0;
	margin-bottom: 25px
}

.modal-samples-large .modal-header .modal-title,.modal-samples-large .modal-header p
	{
	float: left
}

.modal-samples-large .modal-header .modal-title {
	margin-right: 15px
}

.modal-samples-large .modal-header p {
	color: #666;
	margin-right: 10px;
	margin-bottom: 0;
	padding-top: 11px;
	float: left
}

.modal-samples-large .sample-items {
	margin-left: -20px
}

.modal-samples-large .sample-item {
	width: 138px;
	padding-left: 22px;
	margin-left: 20px;
	height: 194px;
	float: left;
	text-align: center;
	margin-bottom: 10px;
	overflow: hidden
}

.modal-samples-large .sample-item input[type="checkbox"],.modal-samples-large .sample-item .input
	{
	margin-top: 82px;
	margin-left: -22px
}

.modal-samples-large .sample-item .product-image {
	margin-bottom: 5px
}

.modal-samples-large .sample-item input[type="checkbox"] {
	display: inline-block
}

.modal-samples-large .sample-item .input {
	display: none
}

.modal-samples-large .modal-footer {
	padding: 15px 0 0 0;
	border-top: 1px solid #d8d8d8
}

.modal-samples-large .modal-footer .help-block {
	margin-bottom: 0
}

.touch .modal-samples-large .sample-item.custom-radio input[type="checkbox"]
	{
	display: none
}

.touch .modal-samples-large .sample-item.custom-radio .input {
	width: 13px;
	height: 13px;
	display: block
}

.locale-ca .sweet-steal .steal-left .price.digits1 {
	font-size: 56px;
	margin: 32px 0 0
}

.locale-ca .sweet-steal .steal-left .price.digits2 {
	font-size: 43px;
	margin: 37px 0 0
}

.locale-ca .sweet-steal .steal-left .price.digits3 {
	font-size: 30px;
	margin: 47px 0 8px
}

.locale-ca .sweet-steal .steal-left .price.digits1.withChange {
	font-size: 42px;
	margin: 43px 0 0
}

.locale-ca .sweet-steal .steal-left .price.digits2.withChange {
	font-size: 31px;
	margin: 48px 0 3px
}

.locale-ca .sweet-steal .steal-left .price.digits3.withChange {
	font-size: 24px;
	margin: 54px 0 3px
}