.checkout-header {
	position: relative;
	padding: 28px 0 12px;
	border-bottom: 5px solid #000;
	margin-bottom: 20px
}

.checkout-contact {
	position: absolute;
	right: 0;
	bottom: 12px;
	font-size: 15px;
	margin: 0;
	line-height: 1
}

.checkout-content {
	padding-bottom: 0px;
	border-bottom: 0px solid #000
}

.checkout-signin .my-basket {
	margin-top: 0
}

.checkout-signin .signin-returning {
	padding-top: 10px
}

.page-intro {
	position: relative;
	height: 40px
}

.page-intro h1 {
	float: left;
	font-size: 28px;
	padding: 0;
	margin: 0;
	line-height: 1
}

.page-intro h1 img {
	margin-top: -5px;
	margin-left: 4px
}

.page-intro .greeting {
	position: absolute;
	right: 0;
	bottom: 13px;
	font-weight: bold;
	text-transform: capitalize;
	margin: 0
}

.page-intro .greeting .btn {
	margin-left: 8px
}

.module-title {
	font-size: 14px;
	margin: 0 0 14px;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-top: 7px;
	position: relative
}

.module-title .btn {
	position: absolute;
	right: 0;
	top: 6px
}

.banner-container {
	margin-bottom: 20px
}

.footer-banner .imageComponent {
	border-bottom: 1px solid #ccc
}

.main {
	float: left;
	width: 520px
}

.main.signin {
	border-top: 2px solid #000
}

.checkout-sidebar {
	float: right;
	width: 400px;
	min-height: 1px
}

.checkout-module {
	min-height: 36px
}

.checkout-module .indent {
	margin-left: 20px
}

.checkout-module h3 {
	font-size: 11px
}

.checkout-module .module-top {
	border-top: 0px solid #000
}

.checkout-module .module-left,.checkout-module .module-right {
	position: relative;
	float: left;
	padding-bottom: 26px
}

.checkout-module .module-left .indent,.checkout-module .module-right .indent
	{
	margin-top: 20px;
	position: relative
}

.checkout-module .module-left .indent .error-message,.checkout-module .module-right .indent .error-message
	{
	padding-right: 50px
}

.checkout-module .module-left {
	/*width: 338px*/
	width: 250px;
}

.checkout-module .module-left .indent {
	margin-left: 20px;
	margin-right: 20px
}

.checkout-module .module-left .module-title .btn {
	right: 20px
}

.checkout-module .module-right {
	width: 250px;
	padding-left: 8px
}

.checkout-module .module-right .indent {
	margin-left: 12px
}

.checkout-module label .required {
	margin-left: -7px
}

.checkout-module .required-label {
	margin: 0;
	position: absolute;
	right: 0;
	top: -20px;
	color: #888
}

.module-title {
	color: #000;
	position: relative
}

.module-title .btn-edit {
	display: none
}

.module-action {
	padding-top: 26px;
	text-align: right
}

.module-action .btn {
	width: 150px
}

.module-action.pull-right {
	padding-top: 0
}

.module-action-top {
	position: absolute;
	top: 10px;
	right: 0;
	padding-top: 0
}

.module-summary,.module-content {
	position: relative;
	display: none;
	padding: 10px 0 26px 20px
}

.module-summary .default,.module-content .default {
	display: block;
	font-style: italic;
	text-transform: uppercase;
	font-size: 10px;
	margin-bottom: 4px
}

.module-summary {
	display: block
}

.module-summary p {
	word-wrap: break-word
}

.module-summary .summary-info a {
	margin-left: 3px;
	display: inline-block
}

.no-touch .module-summary .summary-info a:hover {
	color: #999
}

.module-summary ul,.module-summary dd {
	margin-left: 0
}

.module-summary ul {
	list-style: none
}

.module-summary .module-top .module-title {
	display: none
}

.module-summary .module-title .btn-edit {
	display: block;
	margin: 0
}

.checkout-module.divided .module-left {
	border-right: 1px solid #e5e5e5;
	margin-right: -1px
}

.checkout-module.divided .module-right {
	border-left: 1px solid #e5e5e5
}

.checkout-module.divided .module-summary,.checkout-module.divided .module-content
	{
	padding: 0
}

.checkout-module.divided.summary .module-top .module-title,.checkout-module.divided.current .module-top .module-title
	{
	display: none
}

.checkout-module.divided .module-action {
	position: absolute;
	padding: 0;
	bottom: 26px;
	right: 0
}

.checkout-module.current .module-left,.checkout-module.current .module-right
	{
	padding-bottom: 70px
}

.checkout-module.current .module-content {
	display: block
}

.checkout-module.current .module-summary {
	display: none
}

.checkout-module.summary .module-top .module-title .btn {
	display: block
}

.checkout-module.disabled .module-top {
	border-top: 1px solid #c0c0c0
}

.checkout-module.disabled .module-top .module-title {
	color: #999
}

.checkout-module.disabled .module-content,.checkout-module.disabled .module-summary
	{
	display: none
}

.module-sub {
	position: relative;
	border-top: 1px solid #d1d1d1;
	padding-top: 10px
}

.module-sub .module-sub-title {
	font-size: 12px;
	margin: 0 0 14px;
	text-transform: uppercase;
	letter-spacing: 1px
}

.module-sub .module-sub-title small {
	text-transform: none;
	letter-spacing: normal;
	font-size: 11px;
	margin-left: 3px;
	font-weight: normal
}

.module-sub h4 {
	font-size: 11px;
	font-weight: normal
}

.module-sub h4 b {
	color: #c00
}

.module-sub+.module-sub {
	margin-top: 15px
}

.my-basket {
	margin-top: 40px;
	position: relative;
	border-top: 2px solid #000
}

.my-basket .my-basket-content,.my-basket .calculation {
	border: 1px solid #f4f4f4
}

.my-basket .my-basket-content {
	border-bottom-width: 3px
}

.my-basket .product-row {
	border-top: 1px solid #f4f4f4;
	padding: 10px 0;
	position: relative
}

.my-basket .product-row,.my-basket .product-description {
	overflow: hidden;
	zoom: 1
}

.my-basket .product-description p {
	padding: 0
}

.my-basket .product-description .qty .value.updated {
	color: #c00
}

.my-basket .product-description .qty .value {
	font-weight: bold;
	color: #000;
	-webkit-transition: color .5s linear;
	transition: color .5s linear
}

.my-basket .product-image {
	float: left;
	margin-right: 8px;
	width: 42px
}

.my-basket h3 {
	font-size: 10px;
	line-height: 1.3;
	margin: 0 0 3px
}

.my-basket h3 .brand {
	text-transform: uppercase
}

.my-basket .info-row {
	font-size: 10px;
	line-height: 1.3
}

.my-basket .info-row .label {
	font-size: 9px
}

.my-basket .product-price {
	padding-left: 10px;
	text-align: right;
	float: right
}

.my-basket .sale .list-price {
	margin-right: 0;
	display: block
}

.my-basket .product-list {
	position: relative;
	max-height: 400px;
	overflow-y: auto;
	overflow-x: hidden
}

.my-basket .products {
	width: 380px;
	padding: 8px 14px 10px;
}

.my-basket .products .product-row:first-child {
	border-top: 0
}

.my-basket .edit {
	position: absolute;
	right: 20px;
	top: 17px
}

.my-basket .calculation {
	padding: 12px 24px 14px 14px;
	border-top: 0
}

.my-basket .calculation ul {
	margin: 0;
	list-style: none
}

.my-basket .calculation ul li {
	line-height: 17px;
	display: block;
	position: relative;
	text-align: right
}

.my-basket .calculation ul li:before,.my-basket .calculation ul li:after
	{
	content: " ";
	display: table
}

.my-basket .calculation ul li:after {
	clear: both
}

.my-basket .calculation ul li .line-item {
	float: left;
}

.my-basket .calculation ul li.subtotal {
	font-size: 13px;
	line-height: 27px;
	margin-top: 3px;
	font-weight: bold;
	display: block;
	border-top: 1px solid #999
}

.my-basket .calculation ul li.total {
	font-size: 15px;
	line-height: 27px;
	margin-top: 8px;
	font-weight: bold;
	border-top: 2px solid #999
}

.my-basket .free {
	font-size: 9px;
	font-weight: bold
}

.my-basket .remove {
	margin: 2px 0 0;
	font-size: 10px
}

.my-basket .remove a {
	border-bottom: 1px solid #ccc;
	color: #777
}

.no-touch .my-basket .remove a:hover {
	color: #000
}

.address-actions {
	margin-bottom: 10px
}

input.zip {
	margin-right: 10px
}

.country,.zip-code {
	float: left
}

.country-label {
	padding-top: 3px
}

.country-static {
	padding-top: 20px
}

.zip-country select.form-control {
	width: 150px
}

.help-block.limit b {
	color: #666
}

.help-block.limit b.error {
	color: #c00
}

fieldset.two-col .col {
	float: left;
	width: 236px;
	position: relative
}

fieldset.two-col .col select {
	width: 221px
}

.delivery-method {
	padding-bottom: 20px
}

.delivery-method .radio .list-price {
	text-decoration: line-through
}

.delivery-method .radio .value-price {
	color: #c00;
	font-weight: 700
}

.delivery-method .btn {
	margin: 10px 0 0 18px
}

.checkout-module .h3 span {
	font-weight: normal
}

.bi-rewards .module-content {
	padding-top: 0
}

.bi-rewards .module-summary li {
	margin-bottom: 3px
}

.bi-rewards .bi-intro {
	width: 390px;
	margin-bottom: 20px
}

.bi-rewards .bi-intro .bi-logo {
	padding: 26px 0 12px
}

.bi-rewards .bi-intro .warning-message {
	margin-top: 10px
}

.bi-rewards .bi-intro .greet {
	text-transform: capitalize
}

.bi-rewards .bi-intro .vib-state a {
	text-transform: uppercase;
	font-size: 9px
}

.bi-rewards .bi-intro .vib-state b {
	color: #c00
}

.bi-rewards .bi-intro b.label-rouge {
	color: #bd204c
}

.bi-rewards .vib-kit {
	padding-top: 18px
}

.bi-rewards .vib-kit h4 {
	margin: 0 0 4px
}

.bi-rewards .vib-kit img {
	margin-right: 15px
}

.bi-rewards .vib-kit,.bi-rewards .kit-info {
	overflow: hidden;
	zoom: 1
}

.bi-rewards .bi-points-box {
	z-index: 2;
	cursor: pointer;
	padding-top: 7px;
	padding-bottom: 3px;
	position: absolute;
	top: 0;
	right: 0
}

.no-touch .bi-rewards .bi-points-box:hover {
	background: #f3f3f3
}

.bi-rewards .bi-points-box h4 {
	margin-bottom: 0
}

.bi-rewards .bi-points-box h4 span {
	display: block
}

.bi-rewards .bi-points-box ul,.bi-rewards .bi-points-box p {
	display: none
}

.bi-rewards .bi-points-box ul {
	display: none;
	padding-bottom: 5px
}

.bi-rewards .bi-points-box.open h4 {
	margin-bottom: 6px
}

.bi-rewards .bi-points-box.open h4 span {
	top: -4px
}

.bi-rewards .bi-points-box.open ul,.bi-rewards .bi-points-box.open p {
	display: block
}

.bi-rewards .reward-row {
	padding-top: 7px
}

.bi-rewards .reward-row+.reward-row {
	margin-top: 15px
}

.bi-rewards .product-image {
	width: 100%;
	margin-bottom: 7.5px
}

.bi-rewards .product-item {
	text-align: left;
	width: 25%;
	margin: 0;
	padding: 0 10px
}

.bi-rewards .product-item .product-info {
	font-size: 11px;
	line-height: 1.2;
	text-align: left;
	margin-bottom: 7.5px
}

.bi-rewards .product-item .product-info p {
	margin-bottom: 4px
}

.bi-rewards .product-item .brand {
	font-size: 10px
}

.bi-rewards .birthday-gift .sale-price,.bi-rewards.current .module-top .module-title
	{
	display: none
}

.checkout-module.egift-certificates .module-content .certificate {
	padding-bottom: 20px
}

.checkout-module.egift-certificates .module-summary .certificate {
	padding-top: 18px
}

.checkout-module.egift-certificates .module-summary .certificate:first-child
	{
	padding-top: 0
}

.checkout-module.egift-certificates .certificate {
	position: relative
}

.checkout-module.egift-certificates .certificate .edit {
	float: right
}

.no-touch .checkout-module.egift-certificates .certificate .edit:hover {
	color: #999;
	cursor: pointer
}

.checkout-module.egift-certificates .gift-message textarea {
	width: 456px
}

.checkout-module.egift-certificates .certificate.summary .egift-amount {
	font-weight: normal
}

.checkout-module.egift-certificates .certificate-amount {
	font-weight: bold
}

.checkout-module.egift-certificates .egift-amount,.checkout-module.egift-certificates .egift-info,.checkout-module.egift-certificates .egift-message
	{
	float: left;
	word-wrap: break-word
}

.checkout-module.egift-certificates .egift-amount,.checkout-module.egift-certificates .egift-info
	{
	overflow: hidden
}

.checkout-module.egift-certificates .egift-amount {
	font-weight: bold;
	width: 127px
}

.checkout-module.egift-certificates .egift-info {
	width: 190px
}

.checkout-module.egift-certificates .egift-info p {
	margin: 0
}

.checkout-module.egift-certificates .egift-message {
	width: 270px
}

.checkout-module.egift-certificates .egift-message p {
	margin: 0
}

.checkout-module.egift-certificates .btn-next-certificate {
	margin: 5px 0 8px
}

.checkout-module.gift-card .gift-message textarea {
	width: 100%;
	margin-right: 0
}

.checkout-module.gift-card .gift-message .help-block {
	font-size: 10px
}

.checkout-module.gift-card .gift-message h3 span {
	font-weight: normal
}

.gift-options .wrap-option {
	margin-bottom: 5px;
	cursor: pointer
}

.gift-options .radio {
	display: inline-block;
	margin-left: 20px
}

.gift-options .gift-message textarea {
	width: 215px;
	height: 130px
}

.gift-options.current .module-left {
	padding-bottom: 5px
}

.gift-options.current .module-right {
	padding-bottom: 30px
}

.gift-options.current .module-action {
	position: static;
	padding-top: 30px
}

.shipping .ship-form {
	display: none
}

.shipping .shipping-gift h3 {
	margin-left: 18px
}

.shipping .set-default {
	padding-bottom: 8px
}

.payment.no-promotions .module-left {
	border-right-color: transparent !important
}

.payment .module-summary dt {
	display: block
}

.payment .cc-types {
	margin-bottom: 15px
}

.payment .card-on-file {
	padding-left: 18px
}

.payment .card-on-file>.card {
	margin-left: -18px
}

.payment .card-on-file.current {
	margin-bottom: 16px
}

.payment .radio.current label,.payment .radio.current .exp {
	font-weight: 700
}

.payment .radio.current .exp-edit {
	display: inline
}

.payment .radio.current .exp-label {
	display: none
}

.payment .sec-code input {
	width: 36px;
	float: left;
	margin-right: 5px
}

.payment .exp {
	margin-left: 4px
}

.payment .exp-edit {
	display: none
}

.payment .exp-edit .form-control {
	width: auto;
	position: relative;
	top: -1px
}

.payment .expiration-date .form-control {
	width: auto
}

.payment .card-list {
	margin-left: -18px;
	margin-right: -10px
}

.payment .card-list+new-card-form .new-address-form {
	margin-left: 18px
}

.payment .use-different .new-address-form {
	margin-left: 18px
}

.payment .new-card-form .billing-address>h3 {
	margin-top: 5px
}

.payment .save-card {
	margin-top: 18px
}

.payment .card-address+.save-card {
	margin-top: 12px
}

.payment .payment-options {
	position: absolute;
	left: 18px;
	bottom: 26px;
	margin: 0
}

.payment .promotions .code-applied {
	font-style: italic
}

.payment .promotions .error-message,.payment .promotions .code-applied {
	margin-bottom: 4px
}

.payment .promotions .icon-remove {
	margin-right: 4px;
	top: 0
}

.payment .promotions h3 {
	margin-top: 26px
}

.payment .promotions h3 a {
	display: block;
	color: #000;
	text-decoration: none
}

.payment .promotions h3 a span {
	font-size: 12px;
	font-weight: normal;
	margin-left: 5px;
	line-height: 15px;
	text-align: center;
	display: inline-block;
	width: 15px;
	height: 14px;
	color: #fff;
	background: #000
}

.no-touch .payment .promotions h3 a:hover span {
	background: #999
}

.payment .add-promo-code input,.payment .gift-card-pin input,.payment .add-egift input
	{
	width: 180px
}

.payment #gc-number {
	width: 180px
}

.payment .below-promo .btn-link {
	padding: 0
}

.payment #gc-pin {
	width: 70px
}

.checkout-module.password .user-info-summary {
	padding-bottom: 8px
}

.checkout-module.password .edit-name-email {
	display: none
}

.checkout-module.password .email-signup {
	padding-top: 8px
}

.checkout-module.order .po-msg {
	float: left;
	margin: 0
}

.checkout-module.order .borderfree-terms {
	clear: both;
	padding-top: 15px;
	margin-bottom: 0
}

.checkout-module.order .borderfree-terms a {
	color: #666
}

.no-touch .checkout-module.order .borderfree-terms a:hover {
	color: #000
}

#address-book-pop .address {
	line-height: 16px;
	font-size: 11px;
	margin-bottom: 10px;
	padding-top: 10px;
	position: relative;
	border-top: 1px solid #eee
}

#address-book-pop .address:first-child {
	border-top: 0;
	padding-top: 0
}

#address-book-pop .address:first-child .address-actions {
	top: 0
}

#address-book-pop .address p {
	margin: 0
}

#address-book-pop .address .default {
	display: block;
	font-style: italic;
	text-transform: uppercase;
	font-size: 10px;
	margin-bottom: 3px
}

#address-book-pop .address .address-actions {
	width: 60px;
	position: absolute;
	right: 0;
	top: 10px
}

#address-book-pop .address .info {
	width: 175px
}

#pop-sec-code .card-info {
	float: left;
	width: 220px;
	padding-top: 0
}

#pop-sec-code .card-info.left {
	margin-right: 45px
}

#pop-gift-card .modal-body img {
	margin-bottom: 15px;
	padding-bottom: 7.5px;
	border-bottom: 1px solid #ccc
}

#pop-check-address .address-info {
	float: left;
	width: 220px;
	padding-top: 0
}

#pop-check-address .address-info.left {
	margin-right: 45px
}