.exact-match-result {
	border-bottom: 2px solid #f0f0f0;
	padding: 10px 0
}

.exact-match-result h2 {
	color: #000;
	font-weight: normal
}

.maincontent {
	float: right;
	width: 620px;
	border-left: 1px solid #ccc;
	padding-left: 35px
}

.maincontent h3.section-title {
	font-family: fontsDosis;
	font-weight: 600;
	text-transform: uppercase;
	
	font-size: 1.10em;
	margin-bottom: 20px
}

.brand-banner {
	border-bottom: 5px solid #000;
	margin-bottom: 20px
}

.product-information {
	position: relative;
	margin-bottom: 30px;
	padding-bottom: 5px

}

.product-detail {
	position: relative;
	padding-right: 17px;
	margin-top: -43px;
	width: 610px;
	min-height: 105px;
	float: left;

	/*border-right: 1px solid #f0f0f0*/
}

.product-detail h2 {
	font-size: 11px;

	margin: 3px 0
}

.product-detail .product-description {
	position: relative;
	min-height: 52px;
	
}

.ancillary-row,.product-detail .product-description {
	overflow: hidden;
	zoom: 1;


}

.ancillary-row {
	margin: 15px 0;
	position: relative
}

.ancillary-row h2 {
	font-size: 12px;
	line-height: 16px;
	margin: 2px 0 3px

}

.ancillary-row h2 a {
	text-decoration: none

}

.ancillary-row .product-image {
	width: 65px;
	margin-right: 8px;
	float: left
}

.ancillary-row .product-image .qlook {
	left: 0;
	right: 0
}

.ancillary-row .info-row.variation {
	padding-top: 0
}

.ancillary-row .info-row.variation .value {
	font-weight: normal
}

.ancillary-banner {
	margin-top: 5px
}

.ancillary-products {
	border-top: 5px solid #f0f0f0;
	margin-top: 20px
}

.ancillary-products .flag-new {
	font-size: 11px
}

.collection .ancillary-products {
	margin-top: 0;
	border-top: 0
}

.collection .ancillary-products .ancillary-row:first-child {
	margin-top: 0
}

.modal-view-larger h1,.product-information h1 {
	font-size: 15px;
	line-height: 18px;
	margin: 0 0 5px;
	
}

.product-information h1 {
	font-family: fontsDosis;
	font-weight: 600;
	font-size: 1.10em;
	text-transform: uppercase;
}
.modal-view-larger .info-row+.flag-new,.product-information .info-row+.flag-new
	{
	margin-top: 6px
}

.modal-view-larger .info-row.variation,.product-information .info-row.variation
	{
	line-height: 16px;
	padding-top: 2px;
	min-height: 35px
}

.modal-view-larger .info-row.variation .separator,.product-information .info-row.variation .separator
	{
	display: none
}

.modal-view-larger .info-row.variation .value,.product-information .info-row.variation .value
	{
	font-size: 12px;
	color: #000;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.modal-view-larger .info-row.variation .flag-new,.product-information .info-row.variation .flag-new
	{
	line-height: inherit;
	display: none;
	position: relative
}

.modal-view-larger .info-row.variation.with-new .separator,.product-information .info-row.variation.with-new .separator
	{
	display: inline-block;
	margin: 0 3px
}

.modal-view-larger .info-row.variation.with-new .flag-new,.product-information .info-row.variation.with-new .flag-new
	{
	display: inline
}

.product-information .product-actions {
	position: relative;
	width: 134px;
	min-height: 95px;
	padding-bottom: 50px;
	float: right
}

.product-information .product-actions .btn-block {
	margin-bottom: 8px
}

.product-information .product-actions .find {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0
}

.product-information .product-actions .find label {
	font-size: 10px;
	font-weight: 700;
	text-transform: uppercase
}

.product-information .product-actions .find .form-control {
	width: 100px
}

.product-information .product-actions .find.disabled label,.product-information .product-actions .find .online-only
	{
	color: #666;
	cursor: default
}

.product-information .product-actions .find .online-only {
	padding-bottom: 25px
}

.product-information .product-actions .bi-exclusive {
	color: #c0c;
	position: absolute;
	top: -17px;
	left: 0
}

.product-information .product-actions .rouge {
	color: #bd204c
}

.sale-swatches-header {
	font-size: 14px
}

.sale-swatches-header .sale {
	font-size: 11px;
	margin-left: 10px;
	font-weight: bold
}

.sale-swatches-header+.sku-selector {
	padding-top: 0
}

.social-components {
	display: inline-block
}

.social-components .share-btn {
	overflow: hidden;
	width: 23px;
	height: 23px;
	margin: 0 20px 0 0;
	padding: 0
}

.social-components .share-btn a,.social-components .share-btn div,.social-components .share-btn #fb-button
	{
	opacity: 0;
	filter: alpha(opacity = 0);
	height: 33px !important;
	width: 33px !important;
	display: block
}

.purchase-info {
	width: 182px;
	float: right;
	margin-left: 15px
}

.purchase-info .product-quantity {
	float: left
}

.purchase-info .product-quantity-value {
	display: inline-block;
	margin-left: 15px;
	color: #666
}

.purchase-info .sku-messaging {
	text-align: right
}

.purchase-info .sku-messaging,.purchase-info .out-of-stock,.purchase-info .promo
	{
	padding-top: 3px
}

.purchase-info .promo,.purchase-info .msg-free-ship {
	color: #c0c;
	margin-bottom: 0
}

.purchase-info .sku-price {
	width: 100px;
	text-align: right;
	float: right;
	padding-top: 10px
}

.purchase-info .value-price {
	display: block
}

.ymal,.similar-products {
	
	padding-top: 70px;
	/*padding-bottom: -10px;*/
	margin-bottom: -10px;
/*border-bottom: 6px solid #f0f0f0*/
}

.ymal .product-item,.similar-products .product-item {
	width: 127px;
	margin-left: 22px
}

.ymal-similar {
	position: relative;
	border-bottom: 6px solid #f0f0f0
}

.ymal-similar .ymal,.ymal-similar .similar-products {
	border: 0;
	padding: 0
}

.ymal-similar .similar-products {
	float: left;
	width: 300px
}

.ymal-similar .ymal {
	background: url("/images/bg-dots.png") left top repeat-y;
	float: right;
	width: 310px
}

.ymal-similar .ymal .carousel,.ymal-similar .ymal h3 {
	margin-left: 10px
}

.ymal-similar .ymal .carousel {
	width: 300px
}

.ymal-similar .product-item {
	width: 118px
}

.recently-viewed {
	border-bottom: 6px solid #f0f0f0;
	padding-bottom: 20px;
	margin-bottom: 10px
}

.recently-viewed li {
	margin-left: 23px
}

.product-tabs {
	border-color: #ccc;

}

.product-tabs>li {
	width: 90px
	font-family: FrancoisOne;
	font-weight: 500;
	font-size: 1.10em;
	text-transform: uppercase;

}

.product-tabs>li>a {
	color: #999;
	margin-right: 3px;
	background-color: #fff;
	border-color: #ccc
}

.product-tabs>li.active>a,.product-tabs>li>a:hover {
	border-color: #ccc;
	background-color: #fff;
	color: #000
}

.product-tabs>li.active>a {
	border-bottom-color: transparent
}

.product-tab-content {
	min-height: 200px;
	padding: 15px 0 25px;
	margin-bottom: 10px;
	/*border-bottom: 5px solid #000*/
}

.product-tab-content .tab-pane {
	width: 600px;
	margin-left: 10px;
	font-size: 12px;
	line-height: 17px;
	position: relative
}

.product-tab-content .tab-pane h3 {
	font-size: 12px
}

.product-tab-content .tab-pane .pane-left {
	width: 430px;
	float: left;
	position: relative;
	overflow: hidden
}

.product-tab-content .tab-pane .pane-left h3 {
	margin-top: 15px
}

.product-tab-content .tab-pane .pane-left h3:first-child {
	margin-top: 0
}

.product-tab-content .tab-pane .pane-left.shipping-info {
	float: none;
	width: auto
}

.product-tab-content .tab-pane .pane-right {
	width: 127px;
	float: right
}

.ratings-reviews .tab-content {
	padding-top: 15px
}

.ratings-reviews .ratings-content {
	position: relative
}

.ratings-reviews .actions {
	position: absolute;
	top: 14px;
	right: 0
}

.ratings-reviews .actions a {
	text-decoration: none;
	text-transform: uppercase
}

.no-touch .ratings-reviews .actions .btn:hover {
	color: #c00
}

.zoom-window {
	position: absolute;
	overflow: hidden;
	-webkit-box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3);
	box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3);
	border: 1px solid #b2b2b2;
	background: #fff;
	z-index: 1070;
	cursor: crosshair;
	display: none
}

.zoom-window img {
	display: block;
	width: 1500px;
	height: 1500px;
	position: absolute
}

.zoom-backdrop {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1060
}

.zoom-tooltip {
	position: absolute;
	display: none;
	background-color: white;
	padding: 2px;
	-webkit-box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3);
	box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3)
}

.pdp-sidebar {
	float: left;
	width: 290px;
	min-height: 1px
}

.pdp-sidebar .hero {
	position: relative;
	text-align: center
}

.pdp-sidebar .bi-logos {
	position: absolute;
	top: 8px;
	left: 0
}

.pdp-sidebar .bi-logos img {
	display: none
}

.pdp-sidebar .hero-main-image {
	width: 250px;
	margin-left: 24px;
	overflow: hidden;
	position: relative
}

.pdp-sidebar .hero-main-image .glass {
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	width: 84px;
	height: 84px;
	-webkit-box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3);
	box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3);
	z-index: 1069;
	overflow: hidden;
	cursor: crosshair
}

.pdp-sidebar .hero-main-image .glass img {
	width: 250px;
	height: 250px;
	position: absolute;
	display: block
}

.pdp-sidebar .hero-main-image .mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 250px;
	height: 250px;
	z-index: 1068;
	background: #b2b2b2;
	display: none
}

.pdp-sidebar .seal {
	position: absolute;
	top: 8px;
	left: 27px
}

.pdp-sidebar .messages {
	min-height: 30px
}

.pdp-sidebar .messages p.flags {
	padding-top: 15px;
	font-size: 12px;
	line-height: 1;
	color: #666;
	font-weight: bold
}

.pdp-sidebar .image-selector {
	text-align: center
}

.pdp-sidebar .image-selector a.product-thumb {
	border: 2px solid #fff;
	display: inline-block;
	padding: 1px;
	vertical-align: top;
	margin-right: 1px;
	margin-bottom: 2px
}

.pdp-sidebar .image-selector a.product-thumb:hover {
	border: 2px solid #999
}

.pdp-sidebar .image-selector a.product-thumb.current {
	border: 2px solid #000;
	cursor: text
}

.pdp-sidebar .image-selector a.product-thumb img {
	margin: 0
}

.pdp-sidebar .image-selector.border a.product-thumb img {
	border: 1px solid #d8d8d8
}

.pdp-sidebar .view-larger-trigger {
	text-align: center;
	padding: 9px 0;
	font-weight: bold;zoomContainer
}

.pdp-sidebar .view-larger-trigger a {
	text-decoration: none;
	font-size: 12px;
}

.pdp-sidebar .view-larger-trigger .icon {
	margin-left: 3px
}

.sidebar-extra>div {
	background: url("/images/sidebar-separator.png") no-repeat 0 0;
	padding: 24px 0 20px
}

.sidebar-extra .product-reviews {
	border-top: 1px solid #f0f0f0;
	background: 0;
	padding: 0 0 10px;
	min-height: 70px
}

.sidebar-extra h4 {
	float: left;
	font-size: 14px;
	text-transform: uppercase;
	margin: 0 0 0 4px;
	line-height: 1
}

.sidebar-extra .share {
	text-align: center;
	min-height: 20px;
	padding-top: 15px
}

.sidebar-extra .share-btn {
	display: inline-block
}

.sidebar-extra .share-btn.facebook {
	height: 20px;
	width: 47px;
	position: relative
}

.sidebar-extra .share-btn .hide-count {
	position: absolute;
	z-index: 100;
	top: 0;
	left: 50px;
	width: 49px;
	height: 20px;
	border: 0;
	background: #fff;
	overflow: hidden
}

.sidebar-extra .share-btn.pin a.logo-pinterest {
	text-indent: -10000px;
	display: block;
	background-image: url('/images/sprite-pinterest.png');
	background-repeat: none;
	background-size: 40px 60px;
	height: 20px;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	text-decoration: none;
	width: 40px;
	background-position: 0 -20px
}

.sidebar-extra .how-tos .videos {
	padding-left: 110px
}

.sidebar-extra .how-tos .videos img {
	display: block;
	float: right;
	width: 63px;
	height: 58px;
	margin-left: 7px
}

.sidebar-extra .related-links h4 {
	width: 110px
}

.sidebar-extra .related-links .link-group {
	float: right;
	width: 160px
}

.sidebar-extra .related-links .link-group li {
	font-size: 10px;
	line-height: 1.2
}

.sidebar-extra .related-links .link-group a {
	position: relative;
	display: block;
	padding-left: 12px;
	color: #666
}

.sidebar-extra .related-links .link-group a:hover {
	color: #000;
	text-decoration: none
}

.sidebar-extra .related-links .link-group a:before {
	content: '»';
	left: 0;
	top: 0;
	position: absolute
}

.oldie .share-btn .hide-count {
	left: 47px
}

.modal-view-larger .modal-body {
	height: 450px
}

.modal-view-larger .product-image,.modal-view-larger .product-description,.modal-view-larger .view-bottom
	{
	position: absolute
}

.modal-view-larger .product-image {
	left: 0;
	top: 0
}

.modal-view-larger .product-description,.modal-view-larger .view-bottom
	{
	width: 424px;
	left: 497px
}

.modal-view-larger .product-description {
	top: 34px
}

.modal-view-larger .product-description .purchase-info {
	width: auto;
	min-height: 36px;
	min-width: 105px
}

.modal-view-larger .product-description .purchase-info .sku-price {
	display: block;
	width: auto;
	float: none
}

.modal-view-larger .flags {
	line-height: 10px;
	font-weight: bold
}

.modal-view-larger .view-bottom {
	font-size: 10px;
	bottom: 0
}

.modal-view-larger .product-views {
	margin-top: 10px;
	border-top: 5px solid #ddd;
	height: 74px;
	overflow: hidden
}

.modal-view-larger .product-views h3 {
	line-height: 1;
	color: #666;
	padding-top: 7px;
	padding-bottom: 10px;
	font-weight: normal;
	font-size: 10px;
	margin: 0
}

.modal-view-larger .out-of-stock {
	text-align: right
}

.modal-view-larger .out-of-stock a {
	display: block
}

.modal-view-larger .sku-selector.scrollable {
	width: 440px;
	margin-top: 8px
}

.modal-view-larger .sku-selector-content {
	padding-top: 6px
}

.modal-view-larger .image-selector a.product-thumb {
	border: 2px solid #fff;
	display: inline-block;
	padding: 1px;
	vertical-align: top;
	margin-right: 1px;
	margin-bottom: 2px
}

.modal-view-larger .image-selector a.product-thumb:hover {
	border: 2px solid #999
}

.modal-view-larger .image-selector a.product-thumb.current {
	border: 2px solid #000
}

.modal-view-larger .image-selector a.product-thumb img {
	margin: 0
}

.modal-view-larger .image-selector.border a.product-thumb img {
	border: 1px solid #d8d8d8
}

.find-in-store .search-zip,.find-in-store .search-within {
	float: left;
	margin-right: 20px
}

.find-in-store select.form-control {
	width: auto
}

.find-in-store .search-stores {
	min-height: 322px
}

.find-in-store .search-stores.loading {
	background: url("/images/loader_black_155_V2.gif") no-repeat center
		center #fff
}

.find-in-store .search-stores.loading .container,.find-in-store .search-stores.loading .modal-scroll
	{
	display: none
}

.find-in-store ol {
	margin-left: 23px
}

.find-in-store ol li {
	position: relative;
	margin-bottom: 15px
}

.find-in-store .store-name {
	padding: 0 40px 7px 0;
	font-weight: 700
}

.find-in-store dl {
	color: #666;
	margin: 0 0 0 80px;
	position: relative
}

.find-in-store dt {
	position: absolute;
	top: 0;
	left: -60px;
	width: 49px;
	text-align: right;
	font-weight: bold
}

.find-in-store .store-map-link {
	position: absolute;
	right: 0;
	top: -1px;
	font-weight: 700;
	text-align: right
}

.find-in-store .modal-body h4 {
	margin: 15px 0 0;
	padding: 15px 0;
	border-top: 5px solid #d9d9d9
}

.find-in-store .modal-body h4:first-child {
	margin-top: 0;
	border-top: 0;
	padding: 0
}

.find-in-store .modal-scroll {
	height: 282px;
	margin-top: 15px;
	margin-bottom: 0
}

.find-in-store .note {
	color: #666;
	font-size: 10px;
	line-height: 1.3;
	font-weight: normal;
	padding-right: 15px
}

#find-in-store-map .map {
	width: 100%;
	height: 372px
}

#product-content[data-brand="CHANEL"] .maincontent {
	border-left: 0
}

#product-content[data-brand="CHANEL"] .brand-banner {
	border-bottom: 0
}

#product-content[data-brand="CHANEL"] .promo,#product-content[data-brand="CHANEL"] .msg-free-ship
	{
	color: #999
}