<!-- <div class="clear_percent">
	<div class="full_width">
		<div class="tab_1 full_width">
			<span class="title_block bo_ra1">
				<span class="float_left h_form">
					<span class="fl_dent"><h4>Communications / notes</h4></span>
					<form>
						<div class="float_left hbox_form2">
							<input class="top_m float_left" type="text">
							<a title="Create" href="">
								<span class="icosp_sea indent_sea"></span>
							</a>
						</div>
					</form>
				</span>
				<span class="float_right">
					<span class="block_sear bl_t">
						<span class="bg_search_1"></span>
						<span class="bg_search_2"></span>
						<div class="box_inner_search float_left">
							<a href=""><span class="icon_search"></span></a>
							<div class="styled_select2 float_left">
								<select>
									<option select="selected"></option>
									<option>Developper</option>
									<option>Production</option>
									<option>Manuafacture</option>
								</select>
							</div>
							<a href=""><span class="icon_closef"></span></a>
						</div>
					</span>
				</span>
			</span>
			<ul class="ul_mag clear bg3">
				<li class="hg_padd"></li>
				<li class="hg_padd center_txt">Type</li>
				<li class="hg_padd center_txt">Date</li>
				<li class="hg_padd">From</li>
				<li class="hg_padd">To</li>
				<li class="hg_padd">Details</li>
				<li class="hg_padd bor_mt"></li>
			</ul>
			<div class="container_same_category mCustomScrollbar _mCS_1"><div class="mCustomScrollBox mCS-light" id="mCSB_1" style="position:relative; height:100%; overflow:hidden; max-width:100%;"><div class="mCSB_container mCS_no_scrollbar" style="position: relative; top: 0px;">
				<ul class="ul_mag clear bg1">
					<li class="hg_padd"><span class="icon_emp"></span></li>
					<li class="hg_padd center_txt">Type</li>
					<li class="hg_padd center_txt">Date</li>
					<li class="hg_padd">From</li>
					<li class="hg_padd">To</li>
					<li class="hg_padd">Details</li>
					<li class="hg_padd bor_mt">
						<div class="middle_check">
							<a title="Delete link" href="">
								<span class="icon_remove2"></span>
							</a>
						</div>
					</li>
				</ul>
				<ul class="ul_mag clear bg2">
					<li class="hg_padd"><span class="icon_emp"></span></li>
					<li class="hg_padd center_txt">Type</li>
					<li class="hg_padd center_txt">Date</li>
					<li class="hg_padd">From</li>
					<li class="hg_padd">To</li>
					<li class="hg_padd">Details</li>
					<li class="hg_padd bor_mt">
						<div class="middle_check">
							<a title="Delete link" href="">
								<span class="icon_remove2"></span>
							</a>
						</div>
					</li>
				</ul>
			</div><div class="mCSB_scrollTools" style="position: absolute; display: none;"><div class="mCSB_draggerContainer"><div class="mCSB_dragger" style="position: absolute; top: 0px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar" style="position:relative;"></div></div><div class="mCSB_draggerRail"></div></div></div></div></div>
			<span class="title_block bo_ra2">
				<span class="icon_vwie indent_down_vwie2">
					<a href="">Click to view details</a>
				</span>
			</span>
		</div>
	</div>
</div> -->