<table align="center" width="100%" border="1" class="list_table" cellpadding="3" cellspacing="0">
    <tr>
        <td style="width: 200px; text-align: center;color:red">Location Number</td>
        <td style="width: 440px ;text-align: center;color:red">Location Name</td>
        <td style="text-align: center;color:red">Quantity</td>
        <td style="text-align: center;color:red">Shipping Address</td>
    </tr>
    [@ALLOCATE_ITEM]
</table>