<tr align="left" valign="top">
    <td><img src="[@PRODUCT_ID]" style="margin-right: -110px" /></td>
    <td>[@PRODUCT_NAME]</td>
    <!--td width="170px" >[@PRODUCT_DES]</td-->
    <td>[@QUAN_ORIG]</td>
    <td>[@QUAN_SHIP]</td>
    <td>[@QUAN_REMAIN]</td>
    <!--td width="50px" >[@QUAN_THIS]</td-->
</tr>