<tr valign="top">
    <td align="left">[@ALLOCATION_LOCATION_NUMBER]</td>
    <td align="left">[@ALLOCATION_LOCATION_NAME] </td>
    <td align="left">[@ALLOCATION_LOCATION_QUANTITY]</td>
    <td align="left">[@ALLOCATION_LOCATION_SHIPPING_ADDRESS]</td>
</tr>