<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<?php echo $this->Html->charset(); ?>
	<title>JobTraq</title>
	<link href="<?php echo URL; ?>/favicon.ico" type="image/x-icon" rel="icon">
	<link href="<?php echo URL; ?>/favicon.ico" type="image/x-icon" rel="shortcut icon">
	<meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/mobile/1.4.1/jquery.mobile-1.4.1.min.css" />

	<?php
        #default css
		echo $this->Html->css('reset');
		echo $this->Html->css('main');
        echo $this->Html->css('jquery-ui-1.10.3.custom.min');
    ?>
    <?php
        #default js
        echo $this->Html->script('jquery-1.10.2.min'); // resize, cookie, common
        echo $this->Html->script('jquery-ui-1.10.3.custom.min');
        echo $this->Html->script('waypoints.min');
    ?>
    <script type="text/javascript">
        $(document).on("mobileinit", function(){
            $.mobile.changePage.defaults.changeHash = true;
        });
    </script>
    <?php
        echo $this->Html->script('jquery.mobile-1.4.2.min');
        echo $this->Html->script('main');
        #must be list here to work
    ?>
    <style type="text/css">
        #ui-datepicker-div{
            z-index: 1000 !important;
        }
    </style>
</head>

<body id="no_bg">
    <div class="app reset_app">
        <div id="main_page" data-role="page" class="pages_content reset_top">
            <?php echo $this->element("header"); ?>
            <div class="contain">
                <?php echo $this->fetch('content'); ?>
            </div>
            <div id="main_footer" data-role="footer" class="ui-footer ui-bar-inherit">
                <p>&copy 2009 - 2013 Anvy Digital Imaging, All Rights Reserved.</p>
            </div>
		</div>
	</div>
    <?php
        #View/Themed/Mobile/Elements/js/js.ctp
        echo $this->element("js/js");
        #View/Themed/Mobile/{$controller}/js.ctp
        echo @$this->element('../'.ucfirst($controller).'/js'); ?>
	<?php
		echo $this->Js->writeBuffer();
	?>
</body>
</html>