/**************************/
/*        CSS reset       */
/**************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;}
a, img {margin:0; padding:0; outline:0; font-size:100%; background:transparent; border:none;}
body {line-height:1;}
ol, ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after {content:''; content:none;}
:focus {outline:0;}
ins {text-decoration:none;}
del {text-decoration:line-through;}
article, aside, address, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time {display: block; padding:0; margin:0;}
/******* Default rules tags *******/
/*body {font-family:"Tahoma"; font-size:12px; color:#000; background:#fff url(../img/bgd-header.png) center top no-repeat; -webkit-user-select:none; -webkit-text-size-adjust:none;}*/
body {font-family:"Tahoma"; font-size:12px; color:#000;  -webkit-user-select:none; -webkit-text-size-adjust:none;}
h1 {font-size:20px;}
h2 {font-size:18px; }
h3 {font-size:16px;}
h4 {font-size:14px;}
h5 {font-size:12px;}
a{text-decoration:none; color:#000;}
a:hover{text-decoration:underline;}
input, select, textarea {font-size:12px; border:1px solid #CCC; font-family:"Tahoma"}

/*0. ///////Structure all templates///////*/
#login-cms #container { /*background:#fff;
    -webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 10px rgba(50, 50, 50, 1);*/
    padding-bottom: 10px;
    }

#container {font-size:14px; line-height:16px; width:980px; margin:auto;}
.wrapper { position:relative; z-index:1; overflow:auto; float:left; width:100%;}
.content-news {-moz-column-count:3; -webkit-column-count:3; column-count:3;}
/*******Header*******/
#login-cms #header { padding-top:75px;}
#login-cms #header h1 { width:400px; height:106px; margin:0 auto; float:none;}
#user { position:fixed; top:0; left:0; background:#3a3a3a; width:100%; height:30px; line-height:30px; z-index:999;}
#user > div { width:980px; overflow:hidden; margin:0 auto;}
#user ul { float:right; margin-right:10px; }
#user ul li { float:left; margin:0 10px 0 0; color:#fff; background:url(../img/ui-icon.png) right -141px no-repeat; padding-right:10px}
#user ul li.last { background:none; margin:0; padding:0;}
#user ul li a { color:#fff;}

#header {
    height: 124px;
}
#header h1 {  height:104px; float:left; margin-left:10px; margin-top:20px;}
.search { float:right; margin:20px 0;}
#header nav { position:absolute; right:10px; bottom:10px; background:url(../img/bgd-nav.png); height:35px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
border-radius: 5px;
}
#header nav ul li { float:left; height:35px; line-height:35px; padding:0 20px; background:url(../img/ui-icon.png) right -180px no-repeat;}
#header nav ul li:last-child { background:none;}
#header nav ul li:first-child:hover, #header nav ul li:first-child.active {
-webkit-border-top-left-radius:5px;
-webkit-border-bottom-left-radius:5px;
-moz-border-top-left-radius:5px;
-moz-border-bottom-left-radius:5px;
-ms-border-top-left-radius:5px;
-ms-border-bottom-left-radius:5px;
-o-border-top-left-radius:5px;
-o-border-bottom-left-radius:5px;
border-top-left-radius:5px;
border-bottom-left-radius:5px;
}
#header nav ul li:last-child:hover, #header nav ul li:last-child.active { background-position:0 0;
-webkit-border-top-right-radius:5px;
-webkit-border-bottom-right-radius:5px;
-moz-border-top-right-radius:5px;
-moz-border-bottom-right-radius:5px;
-ms-border-top-right-radius:5px;
-ms-border-bottom-right-radius:5px;
-o-border-top-right-radius:5px;
-o-border-bottom-right-radius:5px;
border-top-right-radius:5px;
border-bottom-right-radius:5px;
}
#header nav ul li:hover, #header nav ul li.active {background:url(../img/bgd-nav-hover.png) right 0;}
#header nav ul li a { color:#fff; font-weight:bold; font-family:"Tahoma"; font-size:13px;}
#header nav ul li:hover a { text-decoration:none;}
/*******main*******/
#login-cms #main { margin:50px auto; position:relative; z-index:10; border:none; padding:50px 0;
-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none; height:auto;
}
#main {width:960px; margin:-45px 0 0 10px; padding:50px 0 0; background:#fff; overflow:hidden;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 1);
-moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 1);
box-shadow:         0px 0px 10px rgba(50, 50, 50, 1);
}
.breadcrum { float:right; overflow:hidden; margin-right:10px;}
.breadcrum li { float:left; font-family:"Tahoma"; color:#7c7c7c; font-weight:bold; font-size:11px; margin-right:5px;}
.breadcrum li a { color:#ad8100;}
.breadcrumb {background-color: transparent; float: right; font-family:"Tahoma";}
.breadcrumb a { color:#ad8100;}

.title-page { background:url(../img/bgd-title.gif) 0 12px repeat-x; width:100%; float:left; margin-top:0px; line-height:25px;}
.title-page span { font-size:25px; line-height:32px; color:#ad8100; background:#fff; padding:0 10px; margin-left:25px; text-shadow: 0px 1px 1px #4d4d4d;}

/********Content*******/
#sidebar { float:left; width:200px;
background-image: linear-gradient(bottom, rgb(156,156,156) 0%, rgb(255,255,255) 100%);
background-image: -o-linear-gradient(bottom, rgb(156,156,156) 0%, rgb(255,255,255) 100%);
background-image: -moz-linear-gradient(bottom, rgb(156,156,156) 0%, rgb(255,255,255) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(156,156,156) 0%, rgb(255,255,255) 100%);
background-image: -ms-linear-gradient(bottom, rgb(156,156,156) 0%, rgb(255,255,255) 100%);
background-image: -webkit-gradient(linear,left bottom,left top,	color-stop(0, rgb(156,156,156)),color-stop(1, rgb(255,255,255)));
-webkit-border-bottom-left-radius: 5px;
-moz-border-bottom-left-radius: 5px;
-ms-border-bottom-left-radius: 5px;
-o-border-bottom-left-radius: 5px;
border-bottom-left-radius: 5px;	}
.list-catalogue { margin-left:10px;}
.list-catalogue li { padding:5px 0 10px 10px;}
.list-catalogue li a { font-family:"Tahoma",Georgia, "Times New Roman", Times, serif; color:#404040; font-weight:bold;}

#content { float:left; width:960px; overflow:hidden;}
#content.two-col { width:760px;}
.block-submit { margin:10px 0; overflow:hidden; text-align:right; padding:5px 12px;}
.accordion-distribution { overflow:hidden; width:880px; padding:1px; float:left;}


.list-items { margin-left:20px; margin-top:20px;}
.list-items li { float:left; width:160px; margin-right:30px; margin-bottom:20px; border-bottom:1px solid #c2c2c2; padding-bottom:15px; position:relative;}
.list-items li span { text-align:center; font-size:16px; line-height:20px; color:#404040;}
.list-items	.feature-img { width:148px; height:148px; margin-left:5px;}
.feature-img {  overflow:hidden; display:block; margin: 0 auto; }
.feature-img span {display:table ; width:148px; height:148px; }
.feature-img span span { display:table-cell ; vertical-align:middle; width:auto; height:auto;}
.feature-img span span span { display:block;}
.td-cell .feature-img { display:block; width:100px; height:100px; margin-left:24px; margin-right:0;}
.td-cell .feature-img span { width:100px; height:100px;}
.td-cell .feature-img span span { width:auto; height:auto;}
.price-item { font-weight:bold; display:block;}
.item-name { height:60px; overflow:hidden; display:block;}
.list-items li:nth-child(4n) { margin-right:0;}
.list-items li:hover a { text-decoration:none;}
.list-items li:hover span.layer { display:block}
.list-items li span.layer { -webkit-filter: blur(5px);display:none; width:150px; height:150px; position:absolute;top:0; left:5px;}

#btn_add_order, #btn_add_cart { margin: 0 auto; width:200px; font-size: 16px; }
#btn_back { margin: 10px auto; padding: 4px 0; width:200px; font-size: 16px; }

.wrap-content { margin:10px 0; padding:0 20px; width:920px; overflow:hidden}
.wrap-content h3 { margin:10px 0px; font-size:20px; line-height:22px; font-family:"Tahoma",Georgia, "Times New Roman", Times, serif; color:#2477AD; text-align:center; }

.wrap-tab { width:920px; overflow:hidden; margin:20px 0;}
.tabs-nav { width:930px; background:url(../img/bgd-tabs.png) 0 bottom no-repeat; overflow:hidden;}
.tabs-nav li { float:left; margin-left:20px; width:250px; border:1px solid #a2a2a2; background:url(../img/bgd-tab.png); height:40px; line-height:40px; text-align:center; cursor:pointer; font-size:12px; color:#aeaeae; text-transform:uppercase; font-family:Georgia, "Times New Roman", Times, serif; font-weight:bold;}
.tabs-nav li.current { background:url(../img/bgd-tab-current.png); color:#2477ad;}
.tabs-nav li:first-child { margin-left:70px;}

.wrap-content-tab {
background-color: #fff;
-moz-border-radius: 0 2px 2px 2px;
-webkit-border-radius: 0 2px 2px 2px;
border-radius: 0 2px 2px 2px;
padding:0 20px; overflow-x:hidden; overflow-y:auto; max-height:1000px;
}

.table { width:99%; display:table;}
.th-cell { background-color: 	hsl(39, 100%, 50%);
-webkit-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */
            hsl(39, 100%, 40%) 0 .1em 3px, hsl(39, 100%, 30%) 0 .3em 1px, /* color border */
            rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
-moz-box-shadow: 	inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */
            hsl(39, 100%, 40%) 0 .1em 3px, hsl(39, 100%, 30%) 0 .3em 1px, /* color border */
            rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
box-shadow:		 	inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */
            hsl(39, 100%, 40%) 0 .1em 3px, hsl(39, 100%, 30%) 0 .3em 1px, /* color border */
            rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
background-image: 	-webkit-gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0.7) ));
background-image: 	-moz-radial-gradient(top, ellipse cover, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 100%);
background-image: 	gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0.7) ));
text-shadow: 			rgba(255,255,255,.5) 0 1px 0;
border-bottom:none !important;}

.col-group { display:table-column-group;}
.tbl-col { display:table-column;}
.tr-row { display:table-row;}
.th-cell, .td-cell { display:table-cell; vertical-align:middle;}
/*
.width-image { width:145px;}
.width-name { width:190px;}
.width-quantity { width:115px;}
.width-unitprice { width:125px;}
.width-extendprice { width:100px}
.width-no { width:50px;}
.width-date { width:150px;}
.width-status { width:150px;}
.width-action { width:180px;}
*/
.tab-distribution .table .td-cell .feature-img { float:left; margin-right:24px;}
.th-cell { padding:5px;  color:#8c6000 !important; font-size:18px; line-height:20px; font-family:"Tahoma",Georgia, "Times New Roman", Times, serif; text-align:center; font-weight:bold;}
.table { border:1px dotted #6c6c6c;}
.table li { border-right:1px dotted #6c6c6c; border-bottom:1px dotted #6c6c6c; font-size:14px; color:#404040; font-family:"Tahoma",Georgia, "Times New Roman", Times, serif;}
.table li:last-child{ border-right:none;}
.table .tr-row:last-child li { border-bottom:none;}
.td-cell { padding:10px 0; text-align:center;}
.odd .td-cell { background:#eee;}
.td-cell .price, .td-cell .status, .td-cell .type-txt-01 { font-size:20px; line-height:22px; font-weight:bold; color:#4a4a4a; }
.td-cell .price-ex, .price-ex, .type-txt-02 { font-size:20px; line-height:22px; font-weight:bold;}
.price, .price-ex { display: inline; }
.td-cell .quantity { width:50px; text-align:center; font-size:20px;}
.align_right {text-align: right; padding-right: 5px;}
.align_left {text-align: left; padding-left: 5px;}



.tab-distribution .wrap-button { margin-top:0;}
.title-acc {padding: 5px 20px;	position: relative;	z-index: 20;	display: block;	height: 30px;	cursor: pointer;	color: #717171;
text-shadow: 1px 1px 1px rgba(255,255,255,0.8);  text-align:center;
line-height: 33px;	font-size: 20px;	background: #ffffff;
background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
background: -ms-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3),
1px 0px 0px 0px rgba(255,255,255,0.9) inset,
0px 2px 2px rgba(0,0,0,0.1);}
.title-acc:hover, .title-acc.active {background: #ccc; color:#2477ad;
background: -moz-linear-gradient(top, #ffffff 1%, #ccc 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#ccc));
background: -webkit-linear-gradient(top, #ffffff 1%,#ccc 100%);
background: -o-linear-gradient(top, #ffffff 1%,#ccc 100%);
background: -ms-linear-gradient(top, #ffffff 1%,#ccc 100%);
background: linear-gradient(top, #ffffff 1%,#ccc 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ccc',GradientType=0 );}
.title-acc:hover:after {
content: '';
position: absolute;	width: 24px;height: 24px;right: 13px; top: 7px;	background: transparent url(../img/arrow_down.png) no-repeat center center;}
.title-acc.active:hover:after { background: transparent url(../img/arrow_up.png) no-repeat center center;}

.content-acc {background: rgba(255, 255, 255, 0.5);	overflow: hidden; min-height: 500px; position: relative; z-index: 10; padding:20px 20px 0; box-shadow:0px 0px 0px 1px rgba(155, 155, 155, 0.3);}
.content-acc > p { width:50%; float:left; font-size:14px; color:#717171; font-weight:bold; padding-bottom:10px; line-height:16px;}

.content-acc > p > span { float:left; margin-right:10px; line-height:20px;}
.name-product { display:block; padding:10px 0; float:left; width:60%; font-size:16px; line-height:18px; color:#AD8100; }
.location-price { margin:20px 0; font-weight:bold; overflow:hidden; float:left; width:100%; text-align:right}
.location-price p { padding:0 15px 15px 0; font-size:22px; font-family:"Tahoma",Georgia, "Times New Roman", Times, serif; line-height:22px; color: #504f4f; text-shadow: 0px 2px 1px #bbbaba;}

.total-price { font-family:"Tahoma",Georgia, "Times New Roman", Times, serif; float:right; overflow:hidden; margin:30px 0;font-size:26px; line-height:32px; font-weight:bold; color: #504f4f; text-shadow: 0px 2px 1px #bbbaba;}
.block-filter {border-bottom:1px dotted #ccc; margin-bottom:20px;}
.block-filter h4 { font-size:16px; line-height:16px; border-bottom:1px dotted #ccc; padding-bottom:10px; margin-bottom:15px; color:#2477AD;}
.block-filter form { overflow:hidden; margin-bottom:15px;}
.block-filter form  div { float:left; margin-right:30px}
.block-filter form > div:nth-child(2n) div { line-height:24px; margin-right:5px; font-size:14px;}
.block-filter .btn { padding:2px 15px 2px; margin:0;}

.search-result .tabs-item { border-bottom:none;}
.search-result .nofication { padding:10px 0;}
.search-result .tabs-item > div { max-height:none;}
.search-result h4 { font-size:16px; color:#2477AD; margin-bottom:10px;}
.list-results li { border-bottom:1px dotted #ccc; padding-bottom:10px; margin-bottom:10px;}
.list-results li:last-child { border:none;}
.list-results li .title { margin-bottom:5px;}
.list-results li .title a { font-size:16px; color:#AD8100; line-height:25px;}
.list-results li .title a span { font-weight:bold; font-size:25px;}

.context { width:900px; margin:0 auto 25px; font-size:16px; line-height:18px; border-bottom:1px dotted #ccc; padding-bottom:15px;}
.context h1 { margin-top:15px; color:#B42119; font-size:20px; line-height:22px; text-shadow: 0px 1px 1px #4d4d4d; font-family:"Tahoma",Georgia, "Times New Roman", Times, serif; padding-bottom:10px; font-weight:bold; }
.context p { padding-bottom:5px; }
.context.contact-info p:first-child { color:#B42119;}
.context p:first-child { text-align:center; font-size:20px; line-height:22px; text-shadow: 0px 1px 1px #4d4d4d; font-family:"Tahoma",Georgia, "Times New Roman", Times, serif; padding-bottom:10px; font-weight:bold;}
.context p a { text-decoration:underline;}
.well.long-description { font-size: 20px; line-height: 24px; }
.report-error div { overflow:hidden; margin-bottom:10px;}
.report-error label { float:left; width:120px; line-height:28px; }
.report-error input { float:left; width:255px; }
.report-error textarea { resize:none; height:100px; width:455px; float:left;}
.report-error .btn { width:auto; float:right;}
/********footer********/
#login-cms #footer { text-align:center; font-size:14px; color:#777;}
#footer {
    border-radius: 5px 5px 5px 5px;
    display: block;
    margin: 30px 0 10px 10px;
    padding: 20px;
    width: 94%;
}

#footer div { text-align:center;}

/*3. ///////Block common of templates///////*/
/*breadcrumb*/
.popup { background:#fff; padding:15px 20px 15px 20px; position:absolute; border:1px solid #eee;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
-moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
-ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
-o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;}
.btn-close { position:absolute; top:-15px; right:-15px; background:url(../img/ui-icon.png) 0 -270px no-repeat; width:30px; height:30px; text-indent:-9999px;}
.btn-close:hover {background-position:-60px -270px;}
.popup-item { width:800px;}
.info-item { overflow:hidden; margin-bottom:20px; padding-bottom:20px; border-bottom:1px dotted #CCC;}
.image-item {width:148px; height:148px; float:left; margin-right:20px;}
.context-item { float:left; overflow-x:hidden; max-height:150px; width:620px; }
.context-item h4 { font-size:16px; line-height:16px; font-family:"Tahoma",Georgia, "Times New Roman", Times, serif; font-weight:bold; color:#AD8100; padding-bottom:10px; text-shadow: 0px 1px 1px #4d4d4d;}
.module-item { overflow:hidden; margin:20px 0 10px;}
.module-item div { float:left; margin-right:40px; font-size:20px; font-weight:bold; line-height:26px;}
.module-item div:last-child { margin-right:0;}
.wrap-quantity { overflow:hidden; padding:0 5px;}
.wrap-quantity span { float:left; margin-right:5px; font-size:24px; font-weight:bold;}
.wrap-quantity input { float:left; width:30px; text-align:center; margin:0 5px 0 0; font-size:14px; font-weight:bold;}
.wrap-quantity a { float:left; margin-right:5px; padding:2px 15px;}

.wrap-button { margin:0 0 10px; overflow:hidden; float:right;}
.wrap-button a { float:right; margin-left:30px; height:30px; line-height:30px; font-weight:bold; padding:0 30px; }

.allocation h4 { color:#AD8100; font-size:24px; font-weight:bold; line-height:24px; padding-bottom:10px; border-bottom:1px dotted #ccc; text-shadow: 0px 1px 1px #4d4d4d;}
.allocation p { padding:10px 0; font-size:20px; font-weight:bold;}

.allocation h5 { color:#717171; font-size:20px; line-height:30px; text-align:center;}
.allocation-list { margin:10px 20px 0 0; overflow-x:hidden; overflow-y:auto; width:100%; max-height:200px;}
.allocation-list li { margin-bottom:10px; overflow:hidden;}
.allocation-list li div { float:left; margin-right:20px;}
.add-allocation { margin:20px 0; overflow:hidden;}
.check-quantity { text-align:right; float:right; position:relative;}
.check-quantity span {line-height:24px;}
.check-quantity .valRemain { font-size:18px; font-weight:bold; color:#ff0000 !important;}


.confirm-message {font-size: 20px; font-weight:bold; line-height: 22px; text-align: center; padding: 0 0 5px ; width: auto; position: relative; text-align:left; border-bottom:1px dotted #ccc; margin-bottom:10px; color:#AD8100; text-shadow: 0px 1px 1px #4d4d4d;}
.confirm-buttons {padding: 5px; text-align: center; background-color: rgb(255, 255, 255);}
.tabs-item { overflow:hidden; margin-bottom:20px; padding-bottom:20px; border-bottom:1px dotted #ccc; font-size:14px;}
.tabs-item > ul { overflow:hidden; width:100%; position:relative; z-index:10;}
.tabs-item > ul > li { float:left; width:198px; text-align:center; border:1px solid #fff; border-bottom:none; opacity:0.3; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30); padding:10px 0; color: #fff;
text-shadow: 0px 2px 3px #555; font-size:22px; line-height:22px; background:#00A3EF; cursor:pointer;}
.search-result .tabs-item > ul > li { width:228px;}
.tabs-item > ul > li.selected {opacity: 1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); border-color:#ddd; background-color:#7ed6ff; z-index:10;
background-image: -ms-linear-gradient(bottom, #FAFAFA 0%, #0097DB 100%);
background-image: -moz-linear-gradient(bottom, #FAFAFA 0%, #0097DB 100%);
background-image: -o-linear-gradient(bottom, #FAFAFA 0%, #0097DB 100%);
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FAFAFA), color-stop(1, #0097DB));
background-image: -webkit-linear-gradient(bottom, #FAFAFA 0%, #0097DB 100%);
background-image: linear-gradient(to top, #FAFAFA 0%, #0097DB 100%);}

.tabs-item > div { background-color:#fafafa; position:relative; border:1px solid #ddd; z-index:9; margin-top:-1px; padding:20px; overflow-x:hidden; max-height:200px;}

.nofication { text-align:center; font-size:20px; font-weight:bold; font-family:"Tahoma",Georgia, "Times New Roman", Times, serif; padding:30px 0;}
#upload-image { float:left;}
#preview-image { float:right;}
.tab-image  ul  li { margin:10px 0;}
.tab-size .select-ganeral, .custom-size { float:left; margin:0 90px 0 0;}
.custom-size div { overflow:hidden; margin-bottom:5px;}
.custom-size div label { float:left; line-height:24px; width:50px}
.tab-material .select-ganeral { overflow:hidden; margin-bottom:20px;}
.tab-material .select-ganeral span { float:left; width:250px; line-height:24px;}
.tab-text ul li { margin-top:10px; overflow:hidden}
.tab-text ul li label { float:left; width:50px; line-height:24px; margin-right:10px;}
.tab-text ul li input { width:350px;}


/*paging*/
.two-col .paging { width:720px;}
.paging { width:890px; float:left; margin:20px;}
.paging ul { float:right;}
.paging ul li { border:1px solid #c0c0c0; height:24px; line-height:24px; text-align:center; padding:0 10px; float:left; margin-left:4px; font-size:14px; color:#717171; font-weight:bold;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
background-image: linear-gradient(bottom, rgb(234,234,234) 0%, rgb(255,255,255) 100%);
background-image: -o-linear-gradient(bottom, rgb(234,234,234) 0%, rgb(255,255,255) 100%);
background-image: -moz-linear-gradient(bottom, rgb(234,234,234) 0%, rgb(255,255,255) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(234,234,234) 0%, rgb(255,255,255) 100%);
background-image: -ms-linear-gradient(bottom, rgb(234,234,234) 0%, rgb(255,255,255) 100%);
background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(234,234,234)),color-stop(1, rgb(255,255,255)));}
.paging ul li.current, .paging ul li:hover { color:#fff;
background-image: linear-gradient(bottom, rgb(203,183,121) 0%, rgb(217,197,137) 100%);
background-image: -o-linear-gradient(bottom, rgb(203,183,121) 0%, rgb(217,197,137) 100%);
background-image: -moz-linear-gradient(bottom, rgb(203,183,121) 0%, rgb(217,197,137) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(203,183,121) 0%, rgb(217,197,137) 100%);
background-image: -ms-linear-gradient(bottom, rgb(203,183,121) 0%, rgb(217,197,137) 100%);
background-image: -webkit-gradient(	linear,left bottom,left top,color-stop(0, rgb(203,183,121)),color-stop(1, rgb(217,197,137)));}
.paging ul li:hover a { text-decoration:none;}
/*fckDefault*/
.fckDefault {overflow:hidden; line-height:18px }
.fckDefault ul , .editorInfo ol{ margin:0 0 10px 0;}
.fckDefault ul li { margin:0; list-style-type:disc; padding:0 0 10px 0; list-style:inside;}
.fckDefault ol li { margin:0; list-style-type:decimal!important; list-style:inside; padding:0 0 10px 0;}



/*4 ///////Layer common of templates///////*/
.slideshow { width:850px; overflow:hidden; margin:20px auto; border:1px solid #ccc; padding:20px;
-webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.5);
-moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.5);
box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.5);	}
.theme-light.slider-wrapper {background: #fff;padding: 10px;}
.theme-light .nivoSlider {position:relative; background:#fff url(../img/loading.gif) no-repeat 50% 50%;margin-bottom:10px; overflow: hidden;}
.theme-light .nivoSlider img { position:absolute; top:0px; left:0px; display:none;}
.theme-light .nivoSlider a { border:0; display:block;}

.theme-light .nivo-controlNav {	text-align: left; padding: 0; position: relative; z-index: 10; text-align:center;}
.theme-light .nivo-controlNav a { display:inline-block; width:10px; height:10px; background:url(../img/bullets.png) no-repeat; text-indent:-9999px; border:0; margin: 0 2px;}
.theme-light .nivo-controlNav a.active { background-position:0 100%;}

.theme-light .nivo-directionNav a {	display:block; width:30px; height:30px;	background: url(../img/arrows.png) no-repeat; text-indent:-9999px;border:0; z-index: 11;}
.theme-light .nivo-directionNav a:hover { background-color: #eee; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;}
.theme-light a.nivo-nextNav { background-position:160% 50%;	right:0px;}
.theme-light a.nivo-prevNav { background-position:-60% 50%;}

.theme-light .nivo-caption { font-family: Helvetica, Arial, sans-serif;	}
.theme-light .nivo-caption a { color:#fff; border-bottom:1px dotted #fff;}
.theme-light .nivo-caption a:hover { color:#fff;}

.theme-light .nivo-controlNav.nivo-thumbs-enabled {	width: 80%;	}
.theme-light .nivo-controlNav.nivo-thumbs-enabled a {width: auto; height: auto;	background: none; margin-bottom: 5px;}
.theme-light .nivo-controlNav.nivo-thumbs-enabled img {	display: block;	width: 120px; height: auto;}
.nivoSlider { position:relative; width:100%; height:283px; overflow: hidden;	}
.nivoSlider img {position:absolute;	top:0px;left:0px;max-width: none;}
.nivo-main-image {display: block !important;position: relative !important; width: 100% !important;}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {position:absolute;top:0px;left:0px;width:100%;height:100%;border:0;padding:0;margin:0;z-index:6;display:none;}
/* The slices and boxes in the Slider */
.nivo-slice {display:block;position:absolute;z-index:5;height:100%;	top:0;}
.nivo-box {	display:block;	position:absolute;	z-index:5;	overflow:hidden;}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {	position:absolute;	left:0px;bottom:0px;background:#000;color:#fff;width:100%;z-index:8;padding:5px 10px; opacity: 0.8; overflow: hidden;display: none;-moz-opacity: 0.8;	filter:alpha(opacity=8);
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8+ */
}
.nivo-caption p {padding:5px;margin:0; font-size:14px; line-height:16px;}
.nivo-caption a {display:inline !important;	}
.nivo-html-caption {display:none;}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {position:absolute;top:45%;z-index:9;cursor:pointer;}
.nivo-prevNav {	left:0px;}
.nivo-nextNav {	right:0px;}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {text-align:center;padding: 15px 0;}
.nivo-controlNav a {cursor:pointer;}
.nivo-controlNav a.active {	font-weight:bold;}
/*5 ///////Style add from js///////*/
/* Layer alert */
.alertLayer {color:#424242; background:#edd540; padding:3px 5px; overflow:hidden; display:block; position:absolute; top:-1500px}
.alertLayer .message {color:#424242; padding:0 0 0 5px; margin:0}
.alert-message { color:#ff0000; font-weight:bold; font-size:16px; line-height:18px; margin:10px 0; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);}
.alert-message-success { color:#5bb75b; font-weight:bold; font-size:16px; line-height:18px; margin:10px 0; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);}
/*6. ///////Form common to all templates///////*/
/*class common on form : checkbox, radio*/
.chekbox { width:13px; height:13px; vertical-align:middle; border:0;}
/*form General*/
.form-general input[type="text"], .form-general input[type="password"], .form-general input[type="email"] {color: #777; font: 13px Helvetica, Arial, sans-serif;background: #fbfbfb;border: 1px solid #c8c8c8;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
-moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
-ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
-o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;}

.btn { display: inline-block; vertical-align: middle;  background-color: #f5f5f5; padding: 4px 15px 4px;  margin-bottom: 0;  font-size: 13px;  line-height: 22px; text-align: center; border: 1px solid #cccccc;   cursor: pointer;
*display: inline;
/* IE7 inline-block hack */
*zoom: 1;
*margin-left: .3em;
text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
background-image: linear-gradient(top, #ffffff, #e6e6e6);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
border-color: #e6e6e6 #e6e6e6 #bfbfbf;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:dximagetransform.microsoft.gradient(enabled=false);
border-bottom-color: #b3b3b3;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);}
.btn:hover,	.btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6;	}

.btn:active, .btn.active { background-color: #cccccc ;}
.btn:first-child { *margin-left: 0;}
.btn:hover { text-decoration: none;  background-color: #e6e6e6;  background-position: 0 -15px;
-webkit-transition: background-position 0.1s linear;
-moz-transition: background-position 0.1s linear;
-ms-transition: background-position 0.1s linear;
-o-transition: background-position 0.1s linear;
transition: background-position 0.1s linear;	}
.btn:focus {  outline: thin dotted #333;  outline: 5px auto -webkit-focus-ring-color;  outline-offset: -2px;}
.btn.active, .btn:active { background-image: none;
-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
background-color: #e6e6e6;
background-color: #d9d9d9 ;
outline: 0;	}
.btn.disabled,	.btn[disabled] { color:#333; cursor: default;  background-image: none; background-color: #e6e6e6;  opacity: 0.65;
filter: alpha(opacity=65);
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;	}
.btn.valRemain {color:#333;  cursor: default;  background-image: none;  background-color: #e6e6e6; opacity: 0.65;  filter: alpha(opacity=65);
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;}
.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;}
.btn-large [class^="icon-"] {  margin-top: 1px;	}
.btn-small {  padding: 5px 9px;	font-size: 11px; line-height: 16px;	}
.btn-small [class^="icon-"] { margin-top: -1px;	}
.btn-mini { padding: 2px 6px;  font-size: 11px;  line-height: 14px; }
.btn-primary {  color:#fff;  background-color: #0074cc;
background-image: -moz-linear-gradient(top, #0088cc, #0055cc);
background-image: -ms-linear-gradient(top, #0088cc, #0055cc);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0055cc));
background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);
background-image: -o-linear-gradient(top, #0088cc, #0055cc);
background-image: linear-gradient(top, #0088cc, #0055cc);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
border-color: #0055cc #0055cc #003580;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:dximagetransform.microsoft.gradient(enabled=false);	}
.btn-primary:hover,	.btn-primary:active,	.btn-primary.active,	.btn-primary.disabled,	.btn-primary[disabled] { background-color: #0055cc;	}
.btn-primary:active, .btn-primary.active {  background-color: #004099 ;	}
.btn-danger {color:#fff;  background-color: #da4f49;
background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
background-image: linear-gradient(top, #ee5f5b, #bd362f);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
border-color: #bd362f #bd362f #802420;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:dximagetransform.microsoft.gradient(enabled=false);}
.btn-danger:hover,	.btn-danger:active,	.btn-danger.active,	.btn-danger.disabled,	.btn-danger[disabled] {	  background-color: #bd362f;	}
.btn-danger:active,	.btn-danger.active {  background-color: #942a25 ;	}
.btn-success {	color:#fff;	  background-color: #5bb75b;
background-image: -moz-linear-gradient(top, #62c462, #51a351);
background-image: -ms-linear-gradient(top, #62c462, #51a351);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
background-image: -webkit-linear-gradient(top, #62c462, #51a351);
background-image: -o-linear-gradient(top, #62c462, #51a351);
background-image: linear-gradient(top, #62c462, #51a351);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
border-color: #51a351 #51a351 #387038;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:dximagetransform.microsoft.gradient(enabled=false);	}
.btn-success:hover,	.btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {  background-color: #51a351;}
.btn-success:active, .btn-success.active {  background-color: #408140 ; }

textarea,	input[type="text"],	input[type="password"],	input[type="datetime"],	input[type="datetime-local"],	input[type="date"],	input[type="month"],	input[type="time"],	input[type="week"],	input[type="number"],	input[type="email"],	input[type="url"],	input[type="search"],	input[type="tel"],	input[type="color"],	.uneditable-input {	  padding:4px 10px;	  background-color: #ffffff;	  border: 1px solid #cccccc;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
-o-transition: border linear 0.2s, box-shadow linear 0.2s;
transition: border linear 0.2s, box-shadow linear 0.2s;	}

textarea:focus,	input[type="text"]:focus,	input[type="password"]:focus,	input[type="datetime"]:focus,	input[type="datetime-local"]:focus,	input[type="date"]:focus,	input[type="month"]:focus,	input[type="time"]:focus,	input[type="week"]:focus,	input[type="number"]:focus,	input[type="email"]:focus,	input[type="url"]:focus,	input[type="search"]:focus,	input[type="tel"]:focus,	input[type="color"]:focus,	.uneditable-input:focus {	  border-color: rgba(82, 168, 236, 0.8); outline: 0;  outline: thin dotted \9;  /* IE6-9 */
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);	}
input[type="file"] { border:1px solid #CCC; font-size:14px; padding:5px 10px; line-height:24px;
border-radius:10px;
-moz-border-radius:10px;
-ms-border-radius:10px;
-o-border-radius:10px;
-webkit-border-radius:10px;}

fieldset {border: 2px groove #ccc; padding:10px;}
legend { padding:0 5px;}

.form-general label { color:#7d7d7d;}
.form-general button { 	border:1px solid #aeaeae;
-webkit-box-shadow: 0 1px 0 #fff, 0 1px 0 rgba(0,0,0,0.08) inset;
-moz-box-shadow: 0 1px 0 #fff, 0 1px 0 rgba(0,0,0,0.08) inset;
-ms-box-shadow: 0 1px 0 #fff, 0 1px 0 rgba(0,0,0,0.08) inset;
-o-box-shadow: 0 1px 0 #fff, 0 1px 0 rgba(0,0,0,0.08) inset;
box-shadow: 0 1px 0 #fff, 0 1px 0 rgba(0,0,0,0.08) inset;
background-image: linear-gradient(bottom, rgb(234,234,234) 0%, rgb(255,255,255) 100%);
background-image: -o-linear-gradient(bottom, rgb(234,234,234) 0%, rgb(255,255,255) 100%);
background-image: -moz-linear-gradient(bottom, rgb(234,234,234) 0%, rgb(255,255,255) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(234,234,234) 0%, rgb(255,255,255) 100%);
background-image: -ms-linear-gradient(bottom, rgb(234,234,234) 0%, rgb(255,255,255) 100%);
background-image: -webkit-gradient(	linear,	left bottom,left top, color-stop(0, rgb(234,234,234)), color-stop(1, rgb(255,255,255)));}
#login-form.form-general input[type="text"],
#login-form.form-general input[type="password"] {
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
-moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
-ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
-o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
background: #fbfbfb url(../img/ui-icon.png) no-repeat;
border: 1px solid #c8c8c8;
color: #777;
font: 13px Helvetica, Arial, sans-serif;
margin: 0 0 10px;
padding: 15px 10px 15px 40px;
width: 80%;	}
#login-form.form-general input[type="text"]:focus,
#login-form.form-general input[type="password"]:focus {
-webkit-box-shadow: 0 0 2px #ed1c24 inset;
-moz-box-shadow: 0 0 2px #ed1c24 inset;
-ms-box-shadow: 0 0 2px #ed1c24 inset;
-o-box-shadow: 0 0 2px #ed1c24 inset;
box-shadow: 0 0 2px #ed1c24 inset;
background: #fbfbfb url(../img/ui-icon.png) no-repeat;
background-color: #fff;
border: 1px solid #ed1c24;
outline: none;}

.search input[type="text"] { width:160px; height:27px; line-height:27px; padding:0 10px; float:left; background:#eee;
-webkit-border-radius:0;
-moz-border-radius:0;
-ms-border-radius:0;
-o-border-radius:0;
border-radius:0;}
.search button { width:35px; height:29px; float:left; cursor:pointer; margin-left:-1px;}
.search button span { background:url(../img/ui-icon.png) 0 -238px no-repeat; width:15px; height:15px; display:block; margin:0 0 0 5px;}
.filter { margin:20px 0 20px 10px;}
.form-general.filter input[type="text"] { background:#fff; width:auto; height:25px; line-height:25px; padding:0 10px;}


.login { background: #fff; margin: 0 auto; padding: 15px 0 0; position: relative; text-align: center;	text-shadow: 0 1px 0 #fff; width: 400px;
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(249,249,249,1) 100%);
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 100%);
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 100%);
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 100%);
background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9',GradientType=0 );
-webkit-box-shadow: 0 1px 0 #fff inset;
-moz-box-shadow: 0 1px 0 #fff inset;
-ms-box-shadow: 0 1px 0 #fff inset;
-o-box-shadow: 0 1px 0 #fff inset;
box-shadow: 0 1px 0 #fff inset;
border: 1px solid #c4c6ca;}
.login:after,
.login:before {
background: #fff;
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(249,249,249,1) 100%);
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 100%);
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 100%);
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 100%);
background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9',GradientType=0 );
border: 1px solid #c4c6ca;
content: "";
display: block;	height: 100%; left: -1px; position: absolute; width: 100%;}
.login:after {
-webkit-transform: rotate(2deg);
-moz-transform: rotate(2deg);
-ms-transform: rotate(2deg);
-o-transform: rotate(2deg);
transform: rotate(2deg);
top: 0;	z-index: -1;}
.login:before {
-webkit-transform: rotate(-3deg);
-moz-transform: rotate(-3deg);
-ms-transform: rotate(-3deg);
-o-transform: rotate(-3deg);
transform: rotate(-3deg);
top: 0;	z-index: -2; }
.login form {margin: 0 20px; position: relative}
.login h2 {	color: #b42119;	font: bold 25px Times New Roman, Times, serif; letter-spacing: -0.05em;	line-height: 20px;	margin: 10px 0 20px;}
.login h2:before, .login h2:after {	content: ""; height: 1px; position: absolute; top: 10px; width: 35%;}
.login h2:after {
background: rgb(126,126,126);
background: -moz-linear-gradient(left,  rgba(126,126,126,1) 0%, rgba(255,255,255,1) 100%);
background: -webkit-linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
background: -o-linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
background: linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
right: 0; }
.login h2:before {
background: rgb(126,126,126);
background: -moz-linear-gradient(right,  rgba(126,126,126,1) 0%, rgba(255,255,255,1) 100%);
background: -webkit-linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
background: -o-linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
background: linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
left: 0;}
#login-form #username { background-position: 10px 10px }
#login-form #password { background-position: 10px -52px }
#remember { float:left; margin-left:10px}
.login label { float:left; margin:5px;}
.login div { overflow:hidden;}
.login #submit-login { float:right; color: #fff; cursor: pointer; text-shadow: 0 1px 0 rgba(255,255,255,0.5); width:100px; height:30px; font-size:15px; margin-right:10px; margin-bottom:20px;}

.footer-login-form {
background: rgb(247,249,250);
background: -moz-linear-gradient(top,  rgba(247,249,250,1) 0%, rgba(240,240,240,1) 100%);
background: -webkit-linear-gradient(top,  rgba(247,249,250,1) 0%,rgba(240,240,240,1) 100%);
background: -o-linear-gradient(top,  rgba(247,249,250,1) 0%,rgba(240,240,240,1) 100%);
background: -ms-linear-gradient(top,  rgba(247,249,250,1) 0%,rgba(240,240,240,1) 100%);
background: linear-gradient(top,  rgba(247,249,250,1) 0%,rgba(240,240,240,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f9fa', endColorstr='#f0f0f0',GradientType=0 );
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
-ms-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
-o-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
-webkit-border-radius: 0 0 5px 5px;
-moz-border-radius: 0 0 5px 5px;
-o-border-radius: 0 0 5px 5px;
-ms-border-radius: 0 0 5px 5px;
border-radius: 0 0 5px 5px;
border-top: 1px solid #CFD5D9;
padding: 15px 0; }
.footer-login-form a:first-child { float:left; margin-left:20px; color:#B42119; }
.footer-login-form a:last-child { float:right; margin-right:20px; color:#b42119; background:url(../img/ui-icon.png) 0 -118px no-repeat; padding-left:25px;}
.footer-login-form a {text-decoration:underline; height:20px; line-height:18px; font-size:12px}
.footer-login-form a:hover { text-decoration:none;}
.hidden { display:none;}
.select-ganeral select { width:250px; padding:3px; margin: 0;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
background: #f8f8f8; color:#888; border:1px solid #ccc;	outline:none; display: inline-block; cursor:pointer; line-height:18px;}

.select-ganeral label { position:relative }
/*
.select-ganeral label:after {
content:'<>';
font:11px "Consolas", monospace;
color:#aaa;
-webkit-transform:rotate(90deg);
-moz-transform:rotate(90deg);
-ms-transform:rotate(90deg);
transform:rotate(90deg);
right:10px; top:5px;
padding:0 0 2px;
border-bottom:1px solid #ddd;
position:absolute;
pointer-events:none;}
*/

#progress_info {  font-size:10px; }
#fileinfo,#error,#error2,#abort,#warnsize {
color:#aaa;
display:none;
font-size:10px;
font-style:italic;
margin-top:10px;}
#progress {
border:1px solid #ccc;
display:none;
float:left;
height:14px;
border-radius:10px;
-moz-border-radius:10px;
-ms-border-radius:10px;
-o-border-radius:10px;
-webkit-border-radius:10px;
background: -moz-linear-gradient(#66cc00, #4b9500);
background: -ms-linear-gradient(#66cc00, #4b9500);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #66cc00), color-stop(100%, #4b9500));
background: -webkit-linear-gradient(#66cc00, #4b9500);
background: -o-linear-gradient(#66cc00, #4b9500);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66cc00', endColorstr='#4b9500');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#66cc00', endColorstr='#4b9500')";
background: linear-gradient(#66cc00, #4b9500);
}
#progress_percent {  float:right;}
#upload_response {
margin-top: 10px;
padding: 20px;
overflow: hidden;
display: none;
border: 1px solid #ccc;
border-radius:10px;
-moz-border-radius:10px;
-ms-border-radius:10px;
-o-border-radius:10px;
-webkit-border-radius:10px;
box-shadow: 0 0 5px #ccc;
background: -moz-linear-gradient(#bbb, #eee);
background: -ms-linear-gradient(#bbb, #eee);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bbb), color-stop(100%, #eee));
background: -webkit-linear-gradient(#bbb, #eee);
background: -o-linear-gradient(#bbb, #eee);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbb', endColorstr='#eee');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbb', endColorstr='#eee')";
background: linear-gradient(#bbb, #eee);
}

#easy_zoom{
    width:600px;
    height:400px;
    border:5px solid #eee;
    background:#fff;
    color:#333;
    position:absolute;
    top:60px;
    left:400px;
    overflow:hidden;
    -moz-box-shadow:0 0 10px #777;
    -webkit-box-shadow:0 0 10px #777;
    box-shadow:0 0 10px #777;
    /* vertical and horizontal alignment used for preloader text */
    line-height:400px;
    text-align:center;
}

img.ui-datepicker-trigger { margin-bottom: 10px; }
.lable{
    font-weight: bold;
    color:#990000;
}
.btn_quick_search{
    background:url(../img/zoom.png) no-repeat center center #F2F2F2;
    border-radius: 3px 3px 3px 3px;
    padding:5px;
    margin-bottom: 10px;
    height:25px;
}
.notice{
    width:100%;
    text-align:center;
    color:yellow;
    background:#000000;
    font-weight: bold;
    padding:5px;
}
.highlight{
    background-color: #BA9EB0;
    color: #ffffff;
}


/* CSS for order allocation */
#list_location{
	width:250px;
	float:left;
}
#list_location select{
	width:240px;
}
#tbl_allocation{
}
#tbl_allocation td, th{
	border: 1px #999 solid;
	border-collapse:collapse;
}

#list_button{
	margin-left:252px;
	margin-right:502px;
	text-align:center;
	padding-top:60px;
	width:40px;
}
#list_allocation{
	width:500px;
	float:right;
	max-height:400px !important;
	overflow-y: scroll !important;
}
.allocation-input {
    border-radius: 3px 0 0 3px !important;
	width:30px !important;
	height:25px !important;
	border:1px #000033 solid;
	font-size:12px !important;
	text-align:right;
	display:inline;
	margin:3px 0 0 0;
}

.allocation-button-up, .allocation-button-down{
    font-size: 0.5em !important;
    height: 20px !important;
    margin: 0 !important;
    padding:0 !important;
    right: 0 !important;
    text-align: center !important;
    vertical-align: middle !important;
    width: 80% !important;
	line-height:0 !important;
}
.select{
	background-color:#9F0;
}
.allocation-button{
	float:right;
	width:30px;
	text-align:left;
	margin:0;
	padding:0;
}
.allocation_text{
	margin-right:30px;
}
.allocation-button1 .allocation-button2{
	margin:0;
	padding:0;
	height:12px;
}
.btn_right{
    background-color: #5BB75B;
    background-image: -moz-linear-gradient(center top , #62C462, #51A351);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
	padding:4px;
	font-weight:bold;
	vertical-align:middle;
}
.btn_delete{
    background-color: #DA4F49;
    background-image: -moz-linear-gradient(center top , #EE5F5B, #BD362F);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
	font-size:11px;
}
.allocation p{
	font-size:14px !important;
}
.info, .success, .warning, .error, .validation {
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px 15px 5px;
	background-repeat: no-repeat;
	background-position: 10px center;
	font-weight:bold;
	width:98%;
}
.info span, .success span, .warning span, .error span, .validation span {
	color:#000000;
	font-weight:100;
}
.info {
	color: #00529B;
	background-color: #BDE5F8;
}
.success {
	color: #4F8A10;
	background-color: #DFF2BF;
}
.warning {
	color: #9F6000;
	background-color: #FEEFB3;
}
.error {
	color: #D8000C;
	background-color: #FFBABA;
}

/* End CSS for order allocation */