.product-row {
    margin-left: 17px;
}

#main {
    position: relative;
}

#main #fs-loader {
    position: absolute;
    max-height: 100%;
}

.refinements-list {
    margin-bottom: 15px;
}

.refinements {
    position: relative;
}

.refinements label.disabled {
    color: #999;
}

.refinements .clear-link {
    float: right;
}

.refinements select {
    width: 100%;
}

.touch .refinements {
    font-size: 12px;
}

.touch .refinements .checkbox-list.custom-scroll {
    height: auto;
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.touch .refinements .checkbox {
    padding-top: 3px;
    padding-bottom: 3px;
}

.touch .refinements .price-inputs input {
    width: 46px;
}

.touch #brandSelect {
    padding-left: 5px;
}

ul.showing-more ul.nav-stacked li {
    display: none;
}

ul.showing-more li.more-cats,ul.showing-more ul.nav-stacked li.selected-cat {
    display: block;
}

ul.showing-more li.more-cats a:hover,ul.showing-more ul.nav-stacked li.selected-cat a:hover {
    text-decoration: none;
}

ul.showing-more li.more-cats a:hover .link-text {
    text-decoration: underline;
}

ul.showing-more li.more-cats .plus {
    position: absolute;
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    margin-left: 3px;
}

.sidenav .view-all-cat {
    float: right;
    margin-top: 14px;
}

.sidenav li.selected-cat h1 {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
    text-transform: none;
    padding: 0;
    margin: 0;
}

.sidenav .second-level-cat {
    padding: 0!important;
}

.sidenav .second-level-cat .nav-title .arrow-right {
    position: absolute;
    margin-left: 4px;
    margin-top: 3px;
}

.sidenav .second-level-cat .nav-title:hover {
    text-decoration: none!important;
}

.sidenav .second-level-cat .non-click {
    color: #000;
}

.social-components {
    display: inline-block;
    text-align: left;
}

.social-components .share-btn {
    float: none;
    overflow: hidden;
    width: 23px;
    height: 23px;
    margin: 0 20px 0 0;
    padding: 0;
}

.social-components .share-btn a,.social-components .share-btn div {
    opacity: 0;
    filter: alpha(opacity=0);
    display: block;
    height: 23px;
    width: 23px;
}

.social-components .share-btn.icon-facebook-large {
    margin-left: 0;
}

.clear-all-filters {
    text-align: center;
}

.clear-all-filters .refinement-title {
    text-align: left;
}

.clear-all-filters .btn {
    margin-top: 5px;
}

.swatch-selector-content .swatch-thumb {
    float: left;
    display: block;
    padding: 1px;
    border: 2px solid #FFF;
    margin: 0 1px 1px 0;
}

.swatch-selector-content .swatch-thumb:hover {
    border: 2px solid #999;
    text-decoration: none;
    cursor: pointer;
}

.swatch-selector-content .swatch-thumb.active {
    border: 2px solid #000;
    text-decoration: none;
}

.swatch-selector-content a.swatch-thumb img {
    margin: 0;
}

.slider-bar input.slider-amount {
    width: 100%;
    cursor: default;
    font-weight: bold;
    background: transparent;
    border: 0;
    text-align: center;
}

.orig-range .price-min,.orig-range .price-max {
    color: #ccc;
    width: 70px;
}

.orig-range .price-min {
    float: left;
    clear: none;
}

.orig-range .price-max {
    float: right;
    text-align: right;
    clear: none;
}

.ui-slider {
    position: relative;
    text-align: left;
    margin: 0 7px 8px 7px;
    height: 5px;
    padding: 0;
    border-top: 1px solid #aaa;
    border-radius: 5px;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#ccc),to(#eee));
    background-image: -webkit-linear-gradient(top,#ccc,0%,#eee,100%);
    background-image: -moz-linear-gradient(top,#ccc 0,#eee 100%);
    background-image: linear-gradient(to bottom,#ccc 0,#eee 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcccccc',endColorstr='#ffeeeeee',GradientType=0);
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 14px;
    height: 14px;
    cursor: default;
    display: block;
    background: #000;
    border-radius: 10px;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#999),to(#222));
    background-image: -webkit-linear-gradient(top,#999,0%,#222,100%);
    background-image: -moz-linear-gradient(top,#999 0,#222 100%);
    background-image: linear-gradient(to bottom,#999 0,#222 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff999999',endColorstr='#ff222222',GradientType=0);
    top: -5px;
    margin-left: -7px;
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    display: block;
    border-top: 1px solid #444;
    top: -1px;
    height: 100%;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#666),to(#aaa));
    background-image: -webkit-linear-gradient(top,#666,0%,#aaa,100%);
    background-image: -moz-linear-gradient(top,#666 0,#aaa 100%);
    background-image: linear-gradient(to bottom,#666 0,#aaa 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff666666',endColorstr='#ffaaaaaa',GradientType=0);
}

.ui-slider .ui-slider-range-min {
    left: 0;
}

.ui-slider .ui-slider-range-max {
    right: 0;
}

.oldie .ui-slider .ui-slider-handle {
    width: 10px;
    margin-left: -5px;
}

.price-inputs {
    padding-top: 5px;
}

.price-inputs input,.price-inputs .btn {
    margin-bottom: 2px;
}

.price-inputs input {
    width: 48px;
    margin-right: 2px;
}

.price-inputs .btn {
    width: 21px;
    text-align: center;
}

.checkbox-list {
    margin-bottom: 3px;
    padding-left: 9px;
    position: relative;
}

.checkbox-list .checkbox:first-child {
    margin-top: 0;
}

.checkbox-list label.checkbox {
    cursor: pointer;
}

.checkbox-list.custom-scroll {
    overflow: auto;
    overflow-x: hidden;
    height: 103px;
    border: 2px solid #a6a6a6;
    border-bottom: 2px solid #eee;
    padding: 5px 7px;
    border-right: 0;
}

.checkbox-list .checkbox+.checkbox {
    margin-top: -5px;
}

.filters-bar {
    min-height: 35px;
    background-color: #ebebeb;
}

.filters-bar .inner {
    padding: 10px 10px 10px 20px;
}

.filters-bar h3 {
    font-size: 11px;
    margin: 0 1px 0 0;
    float: left;
}

.filters-bar ul,.filters-bar li,.filters-bar li a,.filters-bar li span {
    float: left;
}

.filters-bar ul {
    list-style: none;
    margin: 0;
    width: 615px;
}

.filters-bar ul li {
    font-size: 10px;
    font-weight: 700;
}

.filters-bar ul li a.remove-filter {
    margin-left: 13px;
    margin-right: 5px;
}

.filters-bar ul li span {
    padding-top: 1px;
}

.filters-bar p.clear-link {
    float: right;
    font-size: 10px;
    margin: 0;
    text-align: right;
}

.search-header {
    margin-left: 17px;
}

.search-header h1 {
    font-weight: normal;
    font-size: 16px;
    padding-bottom: 10px;
}

.search-header p {
    padding: 10px 0;
    margin: 0;
    font-size: 12px;
}

.no-results .search-header {
    margin-left: 0;
}

.no-results-message {
    color: #c00;
    font-size: 12px;
}

.no-results-message a {
    color: #c00;
    font-weight: 700;
}

.no-results-banner,.suggested-alternate-brands {
    margin-left: 17px;
    border-top: 2px solid #e9e9e9;
    padding-top: 15px;
    margin-bottom: 20px;
}

.search-results h2 {
    color: #000;
    font-size: 15px;
    font-weight: normal;
    float: left;
    display: block;
    margin: 12px 0 23px 20px;
}

.search-results .product-grid .product-items {
    /*min-height: 290px;*/
    /*margin-bottom: 30px;*/
    margin-bottom: 30px;
}

.search-results .product-grid .product-item {
    width: 159px;
}

.suggested-alternate-brands {
    border-bottom: 2px solid #e9e9e9;
    padding-bottom: 15px;
}

.suggested-alternate-brands .brand {
    float: left;
    text-align: center;
}

.suggested-alternate-brands .brand img {
    display: block;
    margin: 0 8px 10px;
}

.suggested-alternate-brands .first img {
    margin: 0 8px 10px 0;
}

.suggested-alternate-brands .last img {
    margin: 0 0 10px 8px;
}

.brand-box {
    margin-bottom: 0;
    margin-left: 20px;
    position: relative;
    z-index: 9;
}

.brand-box .box-1 {
    float: left;
    width: 299px;
}

.brand-box .box-1 .inner {
    margin: 0 20px;
}

.brand-box .box-1 p {
    margin-bottom: 10px;
    line-height: 17px;
}

.brand-box .box-1 h1 {
    padding-top: 10px;
    height: 98px;
}

.brand-box .box-1 .brand-content {
    position: relative;
}

.brand-box .box-1 .brand-content .desc-more {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: -20px;
}

.brand-box .box-1 .brand-content .desc-toggle {
    text-decoration: none;
}

.brand-box .box-2 {
    float: left;
    height: auto;
}

.brand-box.no-links {
    margin-left: 20px;
}

.brand-box.flush {
    margin-left: 0;
}

.brand-box.no-links .box-1 {
    width: 487px;
}

.brand-box.no-links .box-2 {
    float: right;
    margin-left: 0;
}

.brand-right-nav {
    width: 185px;
    float: right;
    border-top: 3px solid #000;
}

.brand-right-nav h3 {
    margin: 0 0 0 6px;
}

.brand-right-nav h3 img {
    display: block;
}

.brand-right-nav .nav>li {
    height: 52px;
    padding: 0;
    display: table;
    width: 100%;
    border-top: 1px solid #ccc;
}

.brand-right-nav .nav>li:first-child {
    border-top-color: #666;
}

.brand-right-nav .nav>li>a {
    display: table-cell;
    vertical-align: middle;
    font-size: 9px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
}

.brand-right-nav .nav>li>a .link-inner {
    padding: 3px 0 2px 10px;
    display: block;
    background-color: transparent;
    color: #000;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.brand-right-nav .nav>li>a.active .link-inner,.brand-right-nav .nav>li>a:hover .link-inner {
    background-color: #000;
    color: #fff;
}

.brand-right-nav .nav>li>a.active {
    cursor: default;
}

.brand-header {
    position: relative;
    margin: 0 0 10px 20px;
}

.brand-header .brand-logo {
    float: left;
}

.brand-header .brand-promo {
    width: 320px;
    float: right;
}

.sidebar .social-links {
    padding-top: 10px;
}

.sidebar .pin,.sidebar .like {
    z-index: 999;
    position: relative;
    margin-right: 10px;
}

.content[data-brand="CHANEL"] .filters-bar {
    background: 0;
    min-height: 0;
    border-bottom: 1px solid #f0f0f0;
}

.content[data-brand="CHANEL"] .brand-header {
    margin: 0;
    overflow: hidden;
}

.content[data-brand="CHANEL"] .sidenav h1,.content[data-brand="CHANEL"] .sidenav li div span,.content[data-brand="CHANEL"] .sidenav li a span {
    display: none;
}

.content[data-brand="CHANEL"] .sidenav .see-all {
    margin: 5px 0;
    font-weight: 700;
    text-transform: uppercase;
}

.content[data-brand="CHANEL"] .sidebar {
    border: 0;
}

.content[data-brand="CHANEL"] .sidebar .link-group {
    border-bottom: 3px solid #000;
}

.content[data-brand="CHANEL"] .sidebar .social-links {
    display: none;
}

.content[data-brand="CHANEL"] .maincontent {
    border: 0;
}

.content[data-brand="CHANEL"] .icon-love {
    display: none;
}