@import url(reset.css);
* {
  margin: 0px;
  padding: 0px; }

body {
  color: #000000;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 11px;
  line-height: 1.42857; }

a, a:link {
  color: #000000; }
a:hover, a:link:hover {
  color: #cc0000;
  text-decoration: none; }

h3, .h3 {
  font-size: 15px; }

h1, h2, h3 {
  margin-bottom: 7.5px;
  margin-top: 15px; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Arial,Helvetica,sans-serif;
  font-weight: 700;
  line-height: 1.42857;
  text-rendering: optimizelegibility; }

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button, input {
  line-height: normal; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

.form-control::-moz-placeholder {
  color: #999999;
  opacity: 1; }

.btn-icon {
  height: 21px;
  padding-left: 5px;
  padding-right: 5px;
  width: 22px; }
.btn-icon .arrow {
  color: #FFFFFF !important;
  margin: 0; }
.btn-icon .arrow-right {
  left: 2px; }

.btn-primary {
  background-color: #000000;
  border-color: #000000;
  color: #FFFFFF; }
.btn-primary .arrow {
  color: #EE0000; }

.arrow {
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 4px;
  display: inline-block;
  height: 0;
  position: relative;
  width: 0; }

.btn {
  -moz-box-sizing: border-box;
  -moz-user-select: none;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  font-family: 'Avalon-Medium',sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.42857;
  padding: 1px 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  vertical-align: middle;
  white-space: nowrap; }

.icon-mail {
  background-position: -191px -10px;
  height: 11px;
  width: 18px; }

.icon {
  background-image: url("../img/sprite-icons.png");
  background-repeat: no-repeat;
  border: 0 none;
  display: inline-block;
  font-style: normal;
  position: relative;
  vertical-align: text-top; }

.icon-store {
  background-position: -140px -10px;
  height: 12px;
  width: 16px; }

.arrow-right {
  border-left: 4px solid;
  margin-left: 2px; }

.nav {
  list-style: none outside none;
  margin-bottom: 0;
  margin-left: 0; }

.sidebar .nav-stacked > li {
  color: #CC0000;
  line-height: 1.2;
  padding: 3px 0; }

.nav > li > a {
  display: block;
  position: relative;
  text-decoration: none; }

.nav > li > a:hover {
  text-decoration: underline; }

.nav:before, .nav:after {
  content: " ";
  display: table; }

.nav:after {
  clear: both; }

.nav:before, .nav:after {
  content: " ";
  display: table; }

.sidebar .nav-subhead {
  border-top: 1px solid #F0F0F0;
  font-size: 12px;
  margin-top: 7.5px;
  padding-top: 7.5px; }

.sidebar .nav-stacked {
  font-size: 12px;
  margin-bottom: 15px; }

.copy-component, .html-component {
  font-size: 13px; }

#wrapper {
  margin: 10px auto;
  width: 980px; }

#header {
  width: 1000px;
  height: 99px; }

.sidebar .nav-title, .sidebar .refinement-title, .sidebar .refinement-subhead, .sidebar .link-group-title {
  font-family: 'Avalon-Demi',sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  margin: 15px 0 3px;
  text-transform: uppercase; }

.sidebar .nav-subhead {
  border-top: 1px solid #F0F0F0;
  font-size: 12px;
  margin-top: 7.5px;
  padding-top: 7.5px; }

.main_ct {
  clear: both; }
.main_ct .sidebar {
  border-right: 8px solid #EBEBEB;
  float: left;
  margin-right: -8px;
  min-height: 1px;
  padding-right: 12px;
  width: 183px; }
.main_ct .sidebar .sidenav {
  border-bottom: 3px solid #000000;
  border-top: 3px solid #000000; }
.main_ct .maincontent {
  float: right;
  width: 760px;
  padding-left: 17px; }

.footer-actions .email-signup, .footer-actions .store-locator {
  margin-bottom: 7.5px;
  width: 50%; }

.footer {
  padding-bottom: 25px; }
.footer .footer-banner {
  padding: 30px 0 0; }
.footer .footer-banner .imageComponent {
  display: block;
  position: relative; }
.footer .footer-actions {
  padding: 30px 0 2px; }
.footer .footer-actions .email-signup {
  float: left; }
.footer .footer-actions label {
  display: block;
  margin-bottom: 3px; }
.footer .footer-actions label.inline {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 5px;
  vertical-align: middle; }
.footer .footer-actions label {
  font-family: 'Avalon-Demi',sans-serif;
  font-size: 13px;
  font-weight: 600;
  margin-top: 1px; }
.footer .footer-actions label .icon {
  margin-right: 5px;
  top: 1px; }
.footer .footer-actions .form-control {
  width: 162px; }
.footer .footer-actions .form-control {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  -moz-box-sizing: border-box;
  background-color: #FFFFFF;
  background-image: none;
  border-color: #B3B3B3 #CCCCCC #E6E6E6;
  border-image: none;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  border-style: solid;
  border-width: 1px;
  color: #000000;
  display: inline-block;
  font-size: 11px;
  height: 21px;
  line-height: 1.42857;
  margin-right: 5px;
  padding: 2px 5px;
  vertical-align: middle;
  width: 220px; }
.footer .footer-actions .store-locator {
  float: right;
  position: relative;
  text-align: right; }
.footer .nav {
  -moz-box-sizing: border-box;
  border-left: 1px solid #CCCCCC;
  float: left;
  min-height: 114px;
  padding-left: 10px;
  width: 25%; }
.footer .localization {
  float: left;
  list-style: none outside none;
  margin: 0; }
.footer .localization {
  list-style: none outside none; }
.footer .localization .separator {
  color: #CCCCCC;
  padding: 12px 0; }
.footer .localization .icon {
  float: left;
  margin-right: 7px; }
.footer .localization a {
  color: #666666;
  display: inline-block;
  padding: 12px 0;
  text-decoration: none; }
.footer .localization-social {
  border-bottom: 1px solid #CCCCCC;
  height: 36px; }
.footer .localization-social li {
  float: left;
  line-height: 1;
  margin-left: 10px; }
.footer .localization-social li:first-child {
  margin-left: 0;
  padding: 12px 0; }
.footer .localization-social li a {
  color: #666666;
  display: inline-block;
  padding: 12px 0;
  text-decoration: none; }
.footer .localization-social li a.selected {
  cursor: default;
  font-weight: bold;
  text-decoration: underline; }
.footer .social {
  float: right;
  margin-top: 8px; }
.footer .social .icon {
  float: right;
  margin-left: 10px; }
.footer .copyright {
  color: #999999;
  font-size: 10px;
  padding: 12px 0;
  text-align: center; }
.footer .copyright a {
  color: #999999; }
.footer .copyright a:hover {
  color: #000000; }

p {
  margin: 0 0 7.5px; }

.footer-actions .email-signup, .footer-actions .store-locator {
  margin-bottom: 7.5px;
  width: 50%; }

.footer-nav {
  border-bottom: 1px solid #CCCCCC;
  border-top: 5px solid #000000;
  padding: 10px 0; }

.container:before, .container:after {
  content: " ";
  display: table; }

.container:after {
  clear: both; }

.container:before, .container:after {
  content: " ";
  display: table; }

.footer .localization a.selected, .footer .localization a:hover {
  color: #000000; }

.icon-flag-us, .icon-flag-ca, .icon-United-States, .icon-Canada {
  height: 11px;
  width: 19px; }

.icon-flag-us, .icon-United-States {
  background-position: -55px -10px; }

.icon-flag-ca, .icon-Canada {
  background-position: -84px -10px; }

.icon-facebook {
  background-position: -190px -53px;
  height: 20px;
  width: 20px; }

.icon-youtube {
  background-position: -160px -53px;
  height: 20px;
  width: 19px; }

.icon-gplus {
  background-position: -130px -53px;
  height: 20px;
  width: 20px; }

.icon-tumblr {
  background-position: -100px -53px;
  height: 20px;
  width: 20px; }

.icon-twitter {
  background-position: -70px -53px;
  height: 20px;
  width: 20px; }

.icon-pinterest {
  background-position: -40px -53px;
  height: 20px;
  width: 20px; }

.icon-instagram {
  background-position: -10px -53px;
  height: 20px;
  width: 20px; }

.breadcrumb {
  list-style: none outside none;
  margin: 0;
  min-height: 15px;
  padding: 10px 0; }
.breadcrumb:before, .breadcrumb:after {
  content: " ";
  display: table; }
.breadcrumb .breadcrumb:after {
  clear: both; }
.breadcrumb .breadcrumb:before, .breadcrumb .breadcrumb:after {
  content: " ";
  display: table; }
.breadcrumb li {
  background: url("/images/icon-breadcrumb-arrow.png") no-repeat scroll 5px 5px rgba(0, 0, 0, 0);
  color: #CC0000;
  float: left;
  padding-left: 13px;
  text-transform: lowercase; }
.breadcrumb li:first-child {
  background: none repeat scroll 0 center rgba(0, 0, 0, 0);
  padding-left: 0; }
/*======================== new css for new category of nail ===========================================*/
.navbar {
    border-top: 1px solid #CCCCCC;
    height: auto !important;
    margin-top: 2px;
    padding: 10px 0; }
.navbar .block_nav:hover .navbar-nav {
    display: block !important; }
.navbar .block_nav:hover h2 {
    background-color: #333;
    border: 1px solid #ccc;
    color: white;
    cursor: pointer; }
.navbar h2 {
    width: 181px;
    display: block;
    padding: .3em 3em .3em 1em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background-color: #F5F5F5;
    border: 1px solid #ccc;
    color: #333;
    float: left;
    text-align: left;
    z-index: 510;
    position: relative;
    margin: 0px 0 0 9px;
    font-size: 16px;
    height: 26px; }
.navbar h2:after {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    border: 8px solid transparent;
    border-top-color: #B1B1B1;
    right: 8px;
    top: 12px; }
.navbar h2:hover {
    background-color: #333;
    border: 1px solid #ccc;
    color: white;
    cursor: pointer; }
.navbar ul.navbar-nav {
    background-color: #FFFFFF;
    border: 2px solid #CCCCCC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 2px #959595;
    -moz-box-shadow: 0px 0px 2px #959595;
    -ms-box-shadow: 0px 0px 2px #959595;
    -o-box-shadow: 0px 0px 2px #959595;
    box-shadow: 0px 0px 2px #959595;
    left: 0;
    margin: 0;
    padding: 55px 0 0;
    position: absolute;
    top: 5px;
    width: 260px;
    z-index: 500;
    display: none; }
.navbar ul.navbar-nav li {
    clear: both;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    color: #737373 !important; }
.navbar ul.navbar-nav li a {
    padding: 0.5em;
    text-transform: uppercase;
    color: #333333;
    font-size: 12px;
    font-weight: bold; }
.navbar ul.navbar-nav li a:hover {
    color: #CC0000;
    text-decoration: none; }
.navbar ul.navbar-nav li:hover .list_cat_2 {
    background-color: #F8F8F8;
    border: 1px solid #CCCCCC;
    display: block;
    left: 244px;
    padding: 0 1em;
    position: absolute;
    width: 350px;
    top: -1px; }
.navbar ul.navbar-nav li:hover .list_cat_2 li {
    list-style: none;
    padding: 1em 1em 1em 0;
    width: auto !important; }
.navbar ul.navbar-nav li:hover .list_cat_2 li:hover a {
    color: #CC0000;
    font-weight: bold; }
.navbar ul.navbar-nav li:hover .list_cat_2 li:hover .subcate {
    left: 340px;
    display: block; }
.navbar ul.navbar-nav li:hover .list_cat_2 li:hover .subcate a {
    color: #333333;
    font-weight: bold; }
.navbar ul.navbar-nav li:hover .list_cat_2 li:hover .subcate a:hover {
    color: #CC0000; }
.navbar ul.navbar-nav li:hover .list_cat_2 li .subcate {
    left: 348px;
    display: block;
    z-index: 999; }
.navbar ul.navbar-nav li:hover .list_cat_2 li .subcate li {
    list-style: none;
    font-weight: normal !important; }
.navbar ul.navbar-nav li:hover .list_cat_2 li .subcate li:hover {
    font-weight: normal !important; }
.navbar ul.navbar-nav li:hover .list_cat_2 li .subcate a {
    text-transform: capitalize;
    font-weight: normal !important;
    color: #333333; }
.navbar ul.navbar-nav li:hover .list_cat_2 li .subcate a:hover {
    font-weight: normal !important;
    color: #CC0000; }
.navbar ul.navbar-nav li:hover .list_cat_2 li .subcate {
    display: none; }
.navbar ul.navbar-nav li:hover .list_cat_2 li:last-child {
    border-bottom: 0px; }
.navbar ul.navbar-nav li:hover .list_cat_2 li a {
    display: block; }
.navbar ul.navbar-nav li .list_cat_2 {
    display: none;
    text-transform: capitalize; }
.navbar .site-search {
    float: left;
    margin-left: 20px;
    margin-top: 4px; }
.navbar .site-search .form-control {
    width: 500px !important;
    height: 32px !important; }
.navbar .site-search .btn-icon {
    height: 32px;
    padding-left: 15px;
    padding-right: 15px;
    width: 45px; }
.navbar .pormotion_r {
    float: right;
    margin-top: 4px; }

.fix_logo .logo {
    clear: both !important;
    text-align: center !important;
    width: 100% !important; }

.arrow-right {
    border-left: 4px solid;
    margin: -17px 0 0 !important;
    position: absolute !important;
    right: 2px; }

.change_top {
    margin-top: -10px !important;
    right: 18px; }