$turn: no;
/*==================================== PADDING - MARGIN ====================================*/
$reset: 0px;

$value: 5px;

$basePadding   :10px;
$baseMargin    :20px;

$borderWidth   :1px;
$borderRadius  :10px;

$lineHeight    :18px;
$fontSize      :12px;

$baseWidth     :50px;
$baseHeight    :100px;

$shadowValue   :5px;

$positionRigth :10px;
$positionTop   :15px;

/*==================================== PERCENT ====================================*/
$percent       :100%;

/*==================================== COLOR ====================================*/
$color_1:      rgb(234, 246, 255);
$color_2:      rgb(0, 114, 159);
$color_3:      rgb(255, 255, 255);

$color_6:      rgb(25, 172, 215);
$color_7:      rgb(0, 54, 99);

/*boder - wrapper*/
$color_9:       rgb(221, 226, 232);
/*boder - menu_ct*/
$color_14:      rgb(235, 235, 235);
/*menu_ct*/
$color_15:      rgb(13, 145, 184); //bg
$color_17:      rgb(25, 172, 215); //bg-hover
$color_16:      rgb(18, 168, 213); //border

/*menu_left_ct*/
$color_18:      rgb(2, 110, 141); //color
$color_21:      rgb(0, 175, 225); //color hover
$color_19:      rgb(224, 224, 224); //border
$color_4:       rgb(146, 146, 146); //color a sublink
$color_20:      rgb(234, 0, 0); //color a sublink hover


/*Shadow - wrapper*/
$color_10:      rgb(194, 193, 193);

/*Search - input*/
$color_11:      rgb(167, 167, 167);
/*border - topnav*/
$color_12:      rgb(11, 166, 177);
/*Color - 24/24*/
$color_13:      rgb(255, 0, 0);

/*A:link  -  hover*/
$color_8:      rgb(119, 119, 119);
$color_5:      rgb(234, 0, 0);


/*Product*/
$color_22:      rgb(0, 118, 163); //bg color title


/*==================================== Variable ====================================*/
$auto          :auto;
$normal        :normal;
$both          :both;
$transparent   :transparent;

$top           :top;
$right         :right;
$bottom        :bottom;
$left          :left;
$center        :center; 

$fixed         :fixed;
$absolute      :absolute;
$relative      :relative;

$block         :block;
$none          :none;

$underline     :underline;
$lineThrough   :line-through;
$blink         :blink;
$inherit       :inherit;
$overline      :overline;
$italic        :italic;
$bold          :bold;

$arialFont     :Arial;
$verdanaFont   :Verdana;
$tahomaFont    :Tahoma;

$solid         :solid;
$dashed        :dashed;
$dotted        :dotted;
$double        :double;
$groove        :groove;

$scroll        :scroll;
$hidden        :hidden;

$uppercase     :uppercase;

$pointer       :pointer;

$noRepeat      :no-repeat;
$repeatX       :repeat-x;
$repeatY       :repeat-y;

$table         :table;


/*==================================== Function - Mixins ====================================*/
@mixin customBorderTop($borderStyle: $solid, $border_width: $borderWidth, $borderColor: $color_1) {
  border: {
    top:{
      style: $borderStyle;
      width: $border_width;
      color: $borderColor;
    }
  }
}
@mixin customBorderRight($borderStyle: $solid, $border_width: $borderWidth, $borderColor: $color_1) {
  border: {
    right:{
      style: $borderStyle;
      width: $border_width;
      color: $borderColor;
    }
  }
}
@mixin customBorderBottom($borderStyle: $solid, $border_width: $borderWidth, $borderColor: $color_1) {
  border: {
    bottom:{
      style: $borderStyle;
      width: $border_width;
      color: $borderColor;
    }
  }
}
@mixin customBorderLeft($borderStyle: $solid, $border_width: $borderWidth, $borderColor: $color_1) {
  border: {
    left:{
      style: $borderStyle;
      width: $border_width;
      color: $borderColor;
    }
  }
}
@mixin customBorder($borderStyle: $solid, $border_width: $borderWidth, $borderColor: $color_1) {
  border: {
    style: $borderStyle;
    top:{
      width: $border_width;
      color: $borderColor;
    }
    right:{
      width: $border_width;
      color: $borderColor;
    }
    bottom:{
      width: $border_width;
      color: $borderColor;
    }
    left:{
      width: $border_width;
      color: $borderColor;
    }
  }
}

@mixin customBorderRadius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}
@mixin customAppearance($appearanceVale: $none){
  -webkit-appearance: $appearanceVale;
     -moz-appearance: $appearanceVale;
      -ms-appearance: $appearanceVale;
       -o-appearance: $appearanceVale;
}
/*
horizontal-offset
vertical-offset
blur-distance
spread-distance
color
inset
*/
@mixin customShadow($h_shadow: $reset, $v_shadow: $reset, $blur_shadow: $value - 3, $blur_color: $color_2){
  -webkit-box-shadow: $h_shadow $v_shadow $blur_shadow $blur_color;
     -moz-box-shadow: $h_shadow $v_shadow $blur_shadow $blur_color;
      -ms-box-shadow: $h_shadow $v_shadow $blur_shadow $blur_color;
       -o-box-shadow: $h_shadow $v_shadow $blur_shadow $blur_color;
          box-shadow: $h_shadow $v_shadow $blur_shadow $blur_color;
}
@mixin customText($colorName: $color_5, $fontStyle: $normal, $fontWeight: $normal, $font_size: $fontSize, $line_height: $percent, $fontFamily: $arialFont){
  color       :   $colorName;
  font-style  :   $fontStyle;
  font-weight :   $fontWeight;
  font-size   :   $font_size;
  line-height :   $line_height;
  font-family :   $fontFamily;
}


@if $turn == yes{
  .abc{
    @include text_style(#000000, bold);
    padding: $basePadding $basePadding + 10px $basePadding - 10px $basePadding;
    color: $color_18 + #100000;
    border: $border_style ($border_px+11)/2 ($color_18 + #100000);
  }
  .test2{
    @include custom_border;
  }
  .qwe{
    color: $mycolor;
  }
}