<h3>Contact Us</h3>
<h4>Please use this form to contact us and we will get back to you within 24 hours.</h4>
<div><label>
        <span>Your Name: [@USER_NAME]</span>
    </label>
</div><div><label>
        <span>Subject(Enter your subject here):</span>
        <input class="title" id="support_title" placeholder="Title" tabindex="title" /></label>
</div><div><label>
        <span>Message(Enter your message here): </span>
        <textarea id="support_content" placeholder="Include all the details you can" required="" tabindex="5"></textarea></label>
</div><div><button id="btn_submit_support" name="btn_submit_support" onclick="ajax_handler('send_mail',0)" type="submit">Send </button>                <button id="" name="reset" type="reset">Clear</button></div>