@charset "utf-8";
/* CSS Document */
.image_carousel {
	padding: 15px 0 15px 40px;
	/*width:710px;*/
    width:400px;
	overflow: hidden;
	position: relative;
	text-align:center;
}
/*
.image_carousel img {
	border: 1px solid #ccc;
	background-color: white;
	padding: 9px;
	margin: 7px;
	display: block;
	float: left;
}
*/
.image_carousel span {
	border: 1px solid #ccc;
	background-color: white;
	padding: 5px;
	margin: 7px;
	display: block;
	width:150px;
	height:150px;
	overflow:hidden;
	float: left;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
}

a.prev, a.next {
	background: url(miscellaneous_sprite.png) no-repeat transparent;
	width: 45px;
	height: 50px;
	display: block;
	position: absolute;
	top: 85px;
}
a.prev {			left: -5px;
					background-position: 0 0; }
a.prev:hover {		background-position: 0 -50px; }
a.prev.disabled {	background-position: 0 -100px !important;  }
a.next {			right: -5px;
					background-position: -50px 0; }
a.next:hover {		background-position: -50px -50px; }
a.next.disabled {	background-position: -50px -100px !important;  }
a.prev.disabled, a.next.disabled {
	cursor: default;
}

a.prev span, a.next span {
	display: none;
}
.pagination {
	text-align: center;
}
.pagination a {
	background: url(miscellaneous_sprite.png) 0 -300px no-repeat transparent;
	width: 15px;
	height: 15px;
	margin: 0 5px 0 0;
	display: inline-block;
}
.pagination a.selected {
	background-position: -25px -300px;
	cursor: default;
}
.pagination a span {
	display: none;
}
.clearfix {
	float: none;
	clear: both;
}
