/**
 *	Sephora Account CSS
 *
 *	Created by Branding Brand for
 *	Sephora USA, Inc.
 *
 *	
 */

/* @override 
	http://illuminate.americasbiotech.biz/css/account/account.css
	https://illuminate.americasbiotech.biz/css/account/account.css
	http://illuminate.becho.net/css/account/account.css
	https://illuminate.becho.net/css/account/account.css
*/



/* @group My Account */

.my-account .graphic-link a {
	background-color: #dcdcdc;
	color: #333;

	display:block;
	width:140px;
	padding: 5px;
	
	text-align:center;
}


/* @group BI */

.my-account-bi h1 {
	width: 100%;
	height: 27px;
	text-indent:-99999px;
	background: #000 url(/img/header/beautyinsider.png) no-repeat;
}


/* @end */



/* @end */

/* @group Account Information */

.my-account input[type='text'],
.my-account input[type='password'],
.my-account input[type='email'],
.my-account select {
	width: 100%;
	display:block; 

}

.my-account input[type='text'] {
	-webkit-appearance:none;
	-webkit-border-radius:0;
}

/* @group Address Book
 */
 
 .my-account > .address-book > .address-actions {
	margin-top: 10px;
	margin-bottom:10px;
	width:auto;
	height:auto;
}

.my-account .address {
	position:relative;
	clear:both;
	overflow:hidden;
	margin-top: 20px;
}

.my-account .address ul#addressActions {
	display:none;
}

.my-account .address button {
	background-color: #dcdcdc;
	color: #333;
	font-weight:bold;
	
	width: 140px;
	margin-right:5px;
	
	font-size:10px;
}

.my-account .address.default dl.info dt:first-child {
	font-weight:bold;
}

.my-account .address.default dl.info dt:first-child .default {
	font-weight:normal;
}

.my-account .address .info {
	margin-bottom:10px;
}

.my-account .btn-add-new-address a {
	margin-left: auto;
}

.my-account .address .btn-choose-as-default {
	float:left;
	margin-bottom:10px;
}

.my-account .address .btn-update {
	float:right;
}

.my-account .address .btn-delete {
	float:left;
	clear:left;
}

/* @group Add Address */

.my-account .add-update-info {
	margin-top: 10px;
}

.my-account .add-update-info .requirements {
	float:right;
}

.my-account .add-address-form {
	background-color: #fafafa;
}

.my-account .add-address-form fieldset {
	border:0;
}

.my-account .add-address-form input.phone-1 {
	
}

.my-account .add-address-form input.phone-1,
.my-account .add-address-form input.phone-2,
.my-account .add-address-form input.phone-3,
.my-account .add-address-form input.phone-ext {
	width: 50px;
	margin-right:10px;
}

.my-account .add-address-form fieldset.phone {
	margin-top: 5px;	
}

.my-account .add-address-form fieldset.phone .column {
	float:left;
}

.my-account .add-address-form #isDefaultAddress {
	width:auto;
	vertical-align:middle;
	margin-right:5px;
}

.my-account .add-address-form fieldset.choose-default label {
	font-weight:normal;
	display:inline;
}

.my-account .address-actions {
	position:relative;
	width: 300px;
	height: 40px;
}

.my-account .address-actions button {
	background-color: #dcdcdc;
	color: #333;
	display:block;
	width:140px;
	padding: 5px;
	
	margin-top: 10px;
}

.my-account .add-address-form .btn-add-address {
	float:right;
}

.my-account .add-address-form .btn-cancel {
	float:left;
}

/* @end */



/* @end */

.my-account .account-information,
.my-account .bi-profile,
.my-account .address-book,
.my-account .color-iq {
	border-top: 3px solid #000;
	margin-bottom:20px;
	overflow:hidden;
	position:relative;
}

.my-account .account-information h2,
.my-account .bi-profile h2,
.my-account .address-book h2 {
	margin-top: 7px;
}

.my-account .account-information p {
	margin-top:10px;
}

.my-account .account-information p .label {
	font-weight:bold;
}


.my-account .account-information .graphic-link a {
	margin-left:auto;
	margin-top: 10px;	
}

.my-account .account-information .graphic-link a {
	font: 10px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #323232;
}

.my-account .bi-profile .pink.container {
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.my-account .bi-profile .pink.container .label {
	color:#000;
	font-weight:bold;
	margin-top: 5px;
	margin-bottom:5px;
	display:inline-block;
}

.my-account .bi-profile .container p {
	color:#000;
}

.my-account .bi-profile .container .btn-bi {
	text-transform: lowercase;
	margin-bottom:10px;
	float:right;
}

/* @group Edit My Information */

.my-account .edit-account fieldset {
	border:0;
}

.my-account .edit-account .column {
	margin-top: 10px;
	position:relative;
}

.my-account .edit-account .column .help-icon {
	position:absolute;
	top: 0;
	right:10px;
}

.my-account .edit-account label,
.my-account .add-update-info label  {
	display:block;
	font-weight:bold;
	margin-bottom:3px;
}

.my-account .edit-account button {
	background-color: #dedede;
	color:#333;
	font-size: 10px;
	width: 142px;
}

.my-account .edit-account ul.profile-actions {
	clear:both;
	overflow:hidden;
	margin:10px 0;
}

.my-account .edit-account ul.profile-actions li,
.my-account .edit-account ul.profile-actions li div {
	display:inline;
}

.my-account .edit-account ul.profile-actions li div.btn-cancel {float:left}
.my-account .edit-account ul.profile-actions li div.btn-update {float:right}
/* @end */

/* @group Edit BI */
.my-account .bi-profile .summary-brief .label {
	margin-right:10px;
}
.my-account .bi-profile  h2 { margin-bottom:5px; }

.my-account .bi-profile .profile-edit h2 {
	text-transform:none;
	font-size:12px;
	margin-top: 10px;
}

.my-account .bi-profile .profile-edit fieldset input[type='radio'],
.my-account .bi-profile .profile-edit fieldset input[type='checkbox'] {
	margin-right:5px;
}

.my-account .bi-profile .profile-edit fieldset {
	border:0;
}

.my-account .bi-profile .profile-edit fieldset h3 {
	margin-top: 10px;
	margin-bottom:5px;
}

.my-account .bi-profile .profile-edit fieldset > div {
	float:left;
	width: 125px;
	margin-bottom:5px;
}

.my-account .bi-profile  dt {  float:left; width:40%; clear:both; font-weight:700;}
.my-account .bi-profile  dl { clear:both;}
.my-account .bi-profile  dd { clear:right;float:right; width:60%;}
.my-account .bi-profile  dt , .my-account .bi-profile  dd { padding:2px 0;}


.my-account .bi-profile .profile-edit {display:none;}

.my-account .bi-profile .js-edit-bi-profile, .my-account .bi-profile .btn-update {
	margin:10px 0;
}

form[name='updateAccountInformation'] .btn-update, form[name='updateAccountInformation'] .btn-cancel { float:right; margin-left:10px; }

.my-account .bi-profile .columns.clearfix + p { clear:both; display:block; margin:10px 0;}

/* @group Skintone Selector */

.my-account .bi-profile .profile-edit fieldset div.skintone-selector {
	width: 250px;
	float:none;
}

.my-account .bi-profile .profile-edit fieldset div.skintone-selector .skintone-selector-content div {
	width: 50px;
	float:left;
	
	text-align:center;
	
	margin-right:20px;
	margin-bottom:10px;
}
/* @end */

fieldset.container { border:0px solid black; }
form#registration select { margin:5px 0; display:block;}

.btn-join-beauty-insider {
	cursor: pointer;
	color:white; 
	background:black;
	padding:5px 8px; 
	font-weight:700;
	font-size:12px;
	font-family:arial;
	display:block;		
}
	
.block.purchase-history, .recent-orders { margin-top:10px; }
.block.purchase-history h3, .recent-orders h3 { font-size:13px; text-transform:capitalize;}	
.recent-order { margin:0px 5px; border-bottom:1px solid #ccc; }
.block.purchase-history > p, .block.purchase-history > div, .recent-order > p, .recent-order > div { margin:5px; }
.recent-order .order-status .status, .recent-order .order-number a { font-weight:700; }

.btn-my-list {
	height: 13px;
	padding: 9px 0;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	color: white;
	font-size: 12px;
	background: black;
	font-weight: 700;
	text-transform: lowercase;
	float: right;
}