#brand-accordion { clear:both; box-shadow:0 4px 7px rgba(0,0,0,.3); position:relative; z-index:10; }
#landing-navigation ul { display:block; }
#landing-navigation * { position:relative; }

#textual-header { font-family:Avalon-Bold; text-transform:uppercase; padding:10px 20px; font-size:28px; text-align:center; border-bottom:1px solid lightgrey; }
#textual-header.loner { border:none; }

#landing-navigation .no-products { font-size:20px; display:block; text-align:center; text-transform:uppercase; font-family:Avalon-Book; color:lightgrey; padding:20px; border:1px solid lightgrey; }

#description-container { float:right; }
#description-container p { padding:4px; }
#brand-header { padding:6px 10px; float:left; }
#brand-header a { display:block; height:40px; width:139.5px; background-size:100%; }
#show-brand-info { text-align:right; padding:20px 10px; display:block; text-transform:uppercase; cursor:pointer; font-family:Avalon-Demi; }
#brand-info { padding-top:26px; }

.carousel-container:nth-child(odd) { background-image:url('/img/bi/rewards/box-back-right.png'); background-position:top right; }
.carousel-container.singleton { overflow:hidden !important; }
#carousel-container h2 { text-transform:uppercase; text-align:center; margin-top:0px; font-weight:700; font-size:18px; }
.carousel .product-item { width:145px; text-align:center; min-height:235px; }
.carousel .product-item .product-info .name { height:45px; overflow:hidden; display:block; }
.carousel .product-item .flags { font-weight:700; font-size:9px; display:block; margin-top:4px; }
.carousel .product-item .product-price { font-weight:700; display:block; }
.carousel .product-item .product-price .value { font-weight:100; font-style:italic; }
.carousel .product-item .brand { display:block; text-transform:uppercase; font-weight:700; }
.carousel .product-item .product-image { display:block; width:125px; height:125px; margin:10px auto; background-size:100%; }


#loading-brand,
#page-loading h1			{ display:none; text-transform:uppercase; text-align:center; font-size:24px; padding:20px 0; color:lightgrey; font-weight:100; margin-top:-1px; border-top:1px solid #CCC; }
#loading-brand.loading,
#page-loading h1			{ display:block; }

#landing-navigation .current span:before { content:'See All '; }
#landing-navigation .current span:after { content:' Categories'; }
#landing-navigation .current.no-expansion span:before,
#landing-navigation .current.no-expansion span:after { content:''; }

#landing-navigation a .count { display:none; margin-left:6px; }
#landing-navigation a .count:before { content:'('; }
#landing-navigation a .count:after { content:')'; }
#landing-navigation a.next-tier .count { display:inline; }

/* DISPLAY TOGGLES */
.landing-content #standard-results-content,
.standard-results-content #landing-bcc-content { display:none; }