
#mobileContent { width:100%; margin:auto; }

.error h1,
.not-recognized h1 { padding-top:30px; text-transform:uppercase; text-align:center; font-weight:100; font-size:14px; font-family:Avalon-Demi, Helvetica; }
.error .retry,
.not-recognized .retry { display:block; margin:20px auto; }

#products { min-height:220px; }

.product { border-bottom:1px solid lightgrey; display:-webkit-box; display:-moz-box; display:box; padding:14px 6px; -webkit-box-align: end; -moz-box-align: end; box-align: end; }
.product:last-child { border-bottom:none; }

.product .info { min-height:68px; background-position:center left; -webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1; display:block; padding-left:75px; background-repeat:no-repeat; background-size:67.5px; }
.product .brand,
.product .display-name { font-weight:700; color:black; }
.product .info span { display:block; }
.product .basket { text-align:right; }
.product .add-to-basket { background-color:#c8000d; color:white; padding:8px 16px; font-weight:700; }
.product .price { font-weight:700; margin-bottom:2px; }

.love-btn { padding:6px 10px 6px 15px; font-size:12px; margin-bottom:4px; }
.love-btn.unlove i { top:4px; }

.email-when-in-stock { display:block; clear:right; text-decoration:underline; padding:6px 0 4px 0; }

.share-button { float:left; display:none; }

.social-share-buttons 	{ padding:10px 0; }
.social-share-buttons .share-btn { display:inline-block; margin:0px 18px; width:32px; height:32px; overflow:hidden; vertical-align:top; }
.social-share-buttons .share-btn a { width:32px; height:32px; display:block; overflow:hidden; background-repeat:no-repeat; background-image:url('/img/social-buttons.png'); background-size:64px; }

#share-modal		{ text-align:center; }
#share-modal h2		{ font-family:Georgia,"Times New Roman",Times,serif; font-size:18px; font-style:italic; text-transform:capitalize; }
#share-modal h3		{ font-size:20px; font-weight:700; margin-bottom:20px; text-transform:uppercase; }
#share-modal p		{ text-transform:uppercase; margin:14px 0 6px 0; }
#share-modal input	{ width:100%; }


.share-btn.pinterest a { background-position:0px -32px; }
.share-btn.twitter a { background-position:-32px -32px; }
.share-btn.gplus a { background-position:-32px 0; }

.special-share-links { margin:10px 0; }
.share-link { padding:10px; display:inline-block; }