	/* GENERAL */
	
	a { cursor:pointer; -webkit-tap-highlight-color:transparent; }
	#mobileContent *::selection { background-color:white; color:black; }

  /* PRODUCT RESULTS VIEWSTATES */
	.bcc-results-only	#standard-results-content,
	.bcc-results-only #options,
  .bcc-and-standard-results #view-all-products,
  .all-the-bcc-results #standard-results-content,
  .all-the-bcc-results #options,
  .standard-results-only #product-bcc-content { display:none; }
  
  .bcc-and-standard-results #options { padding:5px 5px 7px 5px; margin:0px; border-bottom:1px solid black; }
  .bcc-and-standard-results #product-list { border-top:0; background-image:url('../img/box-back-left.png'); background-repeat:no-repeat; background-position:top left; background-size:1280px 25px; }
  
  .all-the-bcc-results .product-list.grid.odd { border-top:0; background-image:url('../img/box-back-left.png'); background-repeat:no-repeat; background-position:top left; background-size:1280px 25px; }
  .all-the-bcc-results .product-list.even { border-top:0; background-image:url('../img/box-back-right.png'); background-repeat:no-repeat; background-position:top right; background-size:1280px 25px; }
  
 
	/* ACCORDION */

	#page-accordion a { cursor:pointer; -webkit-tap-highlight-color:transparent; }
	
	#page-accordion * { position:relative; }
	
	#page-accordion ul ul { display:none; z-index:200; box-shadow:inset 0 0 8px 4px rgba(0, 0, 0, .5); width:100%; padding:0 2%; margin-left:-2%; background-color:#E3E3E3; }
	#page-accordion ul ul ul { z-index:100; background-color:#C1C1C1; }
	
	#page-accordion a,
	#filters-accordion a,
	#filter-list-accordion .filter-checkboxes a { position:relative; padding:14px 20px 14px 20px; text-transform:uppercase; font-size:12px; color:black; display:block; border-bottom:2px solid black; background-image:url('http://m.sephora.com/img/shop/leaf_arrow.png'); background-position:95% 50%; background-repeat:no-repeat; background-size:6px; font-family:Avalon-Demi; letter-spacing:.5px; }
	#page-accordion .has-children > a { background-image:url('http://m.sephora.com/img/shop/branch_expand.png'); background-size:8px; }
	#page-accordion .has-children.expanded > a { background-image:url('http://m.sephora.com/img/shop/branch_contract.png'); background-size:8px; }
	
	.root > a { font-weight:bold; font-size:13px; padding:13px 20px 13px 40px; }
	
	#additional-links h2 { font-size:13px; color:white; text-transform:uppercase; background-color:black; padding:6px 0 8px 0; text-align:center; }
	
	/* LANDING CATEGORY */
	
	#landing-content	{ position:relative; z-index:1; }
	
	#landing-header                { font-size:28px; margin:0; text-align:center; font-family:Avalon-Bold; text-transform:uppercase; }
	#landing-header .mobile-banner { display:block; }
	#landing-header .text-header   { display:block; font-size:18px; padding:10px 5px; text-align:center; }
	
	#landing-navigation	{ position:relative; z-index:10; }
	
	#landing-navigation .current span:before { content:'See All '; }
  #landing-navigation .current span:after { content:' Categories'; }
	
	.carousel-container { position:relative; margin:0 auto 20px auto; overflow:visible !important; background-image:url('../img/box-back-left.png'); background-repeat:no-repeat; background-position:top left; background-size:1280px; padding-top:20px; }
	.carousel-container.even { background-image:url('../img/box-back-right.png'); background-position:top right; }
	
	/* FILTER ACCORDION EXCLUSIVES */
	
	#filters-accordion,
	#filter-list-accordion { border-top:1px solid #666; }
	
	#filters-accordion .filter-category .total { padding-left:10px; color:#c00; font-style:italic; font-size:.8em; text-transform:lowercase; }

  #filter-list-accordion .filter-checkboxes a.a-filter { background-color:white; background:none; }
  #filter-list-accordion .a-filter.selected span { color:#cc0000; }
  #filter-list-accordion .a-filter.selected span:after { content:'✔'; font-size:22px; line-height:10px; float:right; color:black; }
	
	#filter-list-accordion .filter-colors { text-align:center; margin:10px; }
	#filter-list-accordion .filter-colors a { display:inline-block; margin:6px 10px; vertical-align:top; }
	#filter-list-accordion .filter-colors a img { padding:2px; border:2px solid transparent; width:46px; height:46px; }
  #filter-list-accordion .filter-colors a.selected img { border-color:black; }
	#filter-list-accordion .filter-colors a span { display:block; color:black; }
	#filter-list-accordion .filter-colors a.selected span { font-weight:bold; }
	
	/* PRODUCT VIEW OPTIONS */
	
	#options { margin:5px; text-align:center; }
	#options .buttons { float:right; margin:0px 0 6px 0; }
	.buttons a { color:white; background:black; font-size:14px; line-height:14px; text-transform:uppercase; font-weight:300; padding:10px 15px; border:1px solid black; display:inline-block; font-family:Avalon-Demi; letter-spacing:.5px; margin-left:5px; }
	#options .buttons a { width:100px; padding:10px 0; text-align:center; }
	#options .count { font-size:16px; line-height:34px; }
	#options #sort-by { width:100px; border-radius:3px; height:36px; padding:5px; border:1px inset #9A9A9A; font-size:14px; display:block; float:left; }
	
	/* FILTERS */
	
	.filter-title-bar { margin:5px 10px; text-align:center; }
	.filter-title-bar h3 { padding-top:4px; font-size:22px; text-transform:uppercase; font-family:Avalon-Demi; }
	.filter-title-bar h3.lengthy-category { font-size:16px; line-height:22px; }
	.filter-title-bar .buttons a { margin:0; }
	.filter-count { clear:both; text-align:center; padding:9px 0; font-size:12px; font-family:arial; display:block; padding:16px 0; text-transform:uppercase; }
	.filter-accordion { clear:both; }
	.loading-filters { text-align:center; font-size:24px; padding:20px 0; color:lightgrey; font-weight:100; margin-top:-1px; border-top:1px solid #CCC; }
	
	/* PRODUCT LIST default */
	
	#product-list 				{ border-top:1px solid #666; color:black; clear:both; }
	#loading-products,
	#page-loading h1			{ display:none; font-family:Avalon-Book; text-transform:uppercase; text-align:center; font-size:24px; padding:20px 0; color:lightgrey; font-weight:100; margin-top:-1px; border-top:1px solid #CCC; }
	#loading-products.loading,
	#page-loading h1			{ display:block; }
	
	#products-header                { border-bottom:1px solid #666; }
	#products-header .mobile-banner { display:block; }
	#products-header .text-header   { display:block; font-size:18px; padding:10px 5px; text-align:center; }
	
	
	/* BCC CONTENT */
	#product-bcc-content { text-align:center; }
	#view-all-products  { margin:20px auto; }
	