#product-page			{ font-family:Helvetica; }
.drop-shadow-container 	{ box-shadow:0 3px 4px rgba(0,0,0,.3); -webkit-box-shadow:0 3px 4px rgba(0,0,0,.3); }
#mobileFooter	.bottom-nav-2,
#mobileFooter .bottom-footer,
#mobileFooter .localization { display:none; }

#mobileFooter .freeShipBanner { margin-bottom:44px; }

#product-actions 				{ position:fixed; z-index:50; bottom:0px; left:0px; width:100%; background-color:black; box-shadow: 0 0 4px rgba(0,0,0,.5); -webkit-box-shadow: 0 0 4px rgba(0,0,0,.5); }
#love-box 						{ border-right:1px solid grey; float:left; width:20%; height:47px; }
#love-box button				{ height:100%; width:100%; background-color:black; cursor:pointer; }
#love-box .love-btn i			{ top:12px; left:50%; margin-left:-10px; background-image:url('../img/outline-heart.png'); background-size:26px; width:26px; height:23px; }
#love-box .love-btn.loved i		{ background-position:center -23px; }
#love-box .love-btn span		{ display:none !important; }
#add-to-basket a				{ cursor:pointer; display:block; background-color:#cd0022; color:white; text-transform:uppercase; font-family:Avalon-Demi; letter-spacing:1px; font-size:16px; font-weight:700; border-radius:3px; border:1px solid #e61739; border-top-color:#f95470; border-bottom-color:#89091e; padding:6px 0 8px 0; width:80%; text-align:center; margin:6px auto; }
#add-to-basket a.unavailable	{ color:lightgrey; background-color:white; border:1px inset lightgrey; }
#add-to-basket a.unavailable.email-when-in-stock { color:black; }
.lovable #add-to-basket			{ width:79%; float:right; }

#shop-brand-box		{ margin:30px 0; text-align:center; }
#shop-brand-box a	{ max-width:65%; }

#exclusive-message-box		{ color:#cc0000; font-weight:700; margin:10px; font-size:14px; }

#ymal-box,
#recently-viewed-box		{ margin:10px 0; padding-bottom:10px; border:1px solid black; border-right:none; border-left:none; }
#ymal-box h3,
#recently-viewed-box h3		{ font-family:Avalon-Demi; font-size:16px; text-align:center; text-transform:uppercase; margin:14px auto 0px auto; }

#recently-viewed			{  margin:10px 0; }
#recently-viewed a.product	{ display:block; width:67.5px; height:67.5px; }

.flag-new	{ color:#cc0000 !important; text-transform:uppercase; font-size:.8em; }

/* BI LOGOS */
#bi-logos						{ position:absolute; margin-top:10px; }
#bi-logos img					{ display:none; }
#bi-logos.bi .logo-bi,
#bi-logos.vib .logo-vib,
#bi-logos.rouge .logo-rouge		{ display:block; }

/* SOCIAL BUTTONS */
#social							{ width:100%; overflow:hidden; padding:0 10px; margin:0 auto 20px -10px; text-align:center; box-shadow:inset 0 0 8px rgba(0,0,0,.6); -webkit-box-shadow:inset 0 0 8px rgba(0,0,0,.6); max-height:0px; -webkit-transition:max-height .6s cubic-bezier(0,1,.4,1); -moz-transition:max-height .6s cubic-bezier(0,1,.4,1); -ms-transition:max-height .6s cubic-bezier(0,1,.4,1); transition:max-height .6s cubic-bezier(0,1,.4,1); }
#social.active					{ max-height:140px; }
#social .center-container		{ width:300px; margin:20px auto; }

.social-share-buttons 	{ padding:10px 0; }
.social-share-buttons .share-btn { display:inline-block; margin:0px 20px; width:32px; height:32px; overflow:hidden; vertical-align:top; }
.social-share-buttons .share-btn a { width:32px; height:32px; display:block; overflow:hidden; background-repeat:no-repeat; background-image:url('/img/social-buttons.png'); background-size:64px; }
.share-btn.pinterest a { background-position:0px -32px; }
.share-btn.twitter a { background-position:-32px -32px; }
.share-btn.gplus a { background-position:-32px 0; }
.special-share-links { padding-top:20px; }

/* ANCILLARY PRODUCTS */
.ancillary-row								{ background-repeat:no-repeat; background-position:10px center; background-size:67.5px; padding:10px 0 10px 84px; margin:10px 0; }
.ancillary-products .section-title			{ font-size:14px; text-transform:uppercase; margin:20px 10px 4px 10px; padding:0 10px 4px 10px; border-bottom:1px solid black; }
.ancillary-row h2,
.ancillary-row h2 span,
.ancillary-row h2 a							{ font-size:12px; color:black; font-family:arial; text-transform:capitalize; font-style:normal; font-weight:700; }
.ancillary-row .purchase-info				{ float:right; margin:0 10px; text-align:right; }
#related-box .ancillary-row .purchase-info	{ margin-bottom:10px; }
#related-box .ancillary-row					{ cursor:pointer; }
.ancillary-row .product-quantity			{ margin-bottom:4px; }
.ancillary-row .purchase-info .container	{ margin:0; }
.ancillary-row .sku .label,
.ancillary-row .sku .value					{ color:grey; }
.ancillary-row .variation					{ font-size:10px; margin-top:4px; }
.ancillary-row .msg-free-ship				{ color:#cc0000; }
.ancillary-row .msg-free-ship.hide			{ display:none; }
/* hiding all out of stock linking for collections */
.ancillary-row .out-of-stock { color:#cc0000 !important; } 
.ancillary-row .out-of-stock span,
.ancillary-row .out-of-stock a { display:none; }


#product-box					{ padding:20px 10px; text-align:center; font-family:Avalon-Demi; }
#product-box .brand				{ font-weight:700; font-size:22px; text-transform:uppercase; }
#product-box .display			{ text-transform:capitalize; font-weight:normal; font-size:18px; }

#product-box .thumb				{ border:2px solid transparent; margin:4px; display:inline-block; }
#product-box .thumb.active		{ border:2px solid black; }
#product-box .thumb img			{ width:42px; height:42px; display:inline-block; margin:1px; padding:1px; border:1px solid #CCC; vertical-align:top; }

#product-box .flags				{ text-transform:uppercase; color:#cc0000; margin:8px auto; }
#product-box .flags .flag		{ white-space:nowrap; }
#product-box .flags .flag:after				{ content:'-'; padding:0 4px; }
#product-box .flags .flag:last-child:after	{ content:none; padding:none; }

#product-box .price { font-size:18px; }

.primary-product-image			{ width:250px; height:250px; display:block; margin:8px auto; }
.primary-product-image.retina	{ width:225px; height:225px; }

#product-box.out	{ -webkit-animation:product-out .5s ease-in forwards; -moz-animation:product-out .5s ease-in forwards; -ms-animation:product-out .5s ease-in forwards; -o-animation:product-out .5s ease-in forwards; }
#product-box.in		{ -webkit-animation:product-in .5s ease-out forwards; -moz-animation:product-in .5s ease-out forwards; -ms-animation:product-in .5s ease-out forwards; -o-animation:product-in .5s ease-out forwards; }

#product-box .price,
#product-box .sku-price						    { margin-top:8px; font-weight:700; font-family:Arial; display:block; }
#product-box .sku-price .price         { display:inline; }
#product-box .price .sale .list-price	{ color:grey; text-decoration:line-through; }
#product-box .price .sale-price 			  { color:#cd0022; margin-left:6px; }
#product-box .price .value-price			  { color:grey; font-style:italic; display:block; font-weight:300; font-size:.8em; }

#variation-box									{ margin:10px 0; text-align:center; position:relative; }
#variation-box .expand-button					{ top:-70px; bottom:inherit; right:24px; }
#variation-box .swatches .product-thumb			{ position:relative; display:inline-block; vertical-align:middle !important; width:44px; height:44px; margin:2px; }
#variation-box .swatches img 					{ padding:2px; border:2px solid transparent; }
#variation-box .swatches .sale img				{ border-color:rgba(205,0,34,.2); }
#variation-box .swatches .text-border			{ border:2px solid transparent; display:inline-block; margin:2px 0; }
#variation-box .swatches .text-border span		{ display:inline-block; padding:5px; margin:1px; color:black; border:1px solid #d8d8d8; text-align:center; white-space:nowrap; }
#variation-box .swatches.swatch-rect .product-thumb		{ width:80px; }
#variation-box .swatches .current img,
#variation-box .swatches .current .text-border	{ border-color:black; }
#variation-box .swatches.text-selector .product-thumb { height:auto; }

#variation-box .swatches .carousel-item:first-child { margin-left:45%; }
#variation-box .swatches .carousel-item:last-child { margin-right:45%; }

#swatches-carousel	{ min-height:46px; }

#swatches-list,
#variation-box.expanded #swatches-carousel,
#variation-box.expanded .carousel-naturale-container		{ display:none !important; }
#variation-box.expanded #swatches-list,
#variation-box #swatches-list.simple-view-all 	{ display:block !important; }
#variation-box #swatches-list.simple-view-all 	{ padding: 10px 0; }

#swatches-list									{ padding:10px 0 60px; position:relative; }
#variation-box #swatches-list .expand-button	{ position:absolute; bottom:30px; top:inherit; }

#variation-box .swatches .out-of-stock img				{ opacity:.5; }
#variation-box .swatches .out-of-stock .oos				{ top:2px; position:absolute; display:block; width:100%; height:100%; background-image:url('/img/product/oos-36.png'); background-size:100% 100%; background-repeat:no-repeat; }
#variation-box .swatches.swatch-rect .out-of-stock .oos,
#variation-box .swatches.text-selector .out-of-stock .oos	{ background-image:url('/img/product/oos-72.png'); }

#variation-box .swatches.text-selector img { width:36px; height:36px; }

#product-box .sku-size 		{ color:grey; }
#product-box .variation 	{ display:inline-block; }
#product-box .variation.add	{ display:block; font-style:italic; }

#linkout-box					{ margin:20px 0 10px 0; text-align:center; clear:both; }
#linkout-box .product-quantity	{ margin-right:20px; display:inline-block; }
#linkout-box .product-quantity label { margin-right:4px; }

#share							{ text-indent:-99999px; background-image:url('../img/share-button.png'); background-size:26px 21px; background-repeat:no-repeat; background-position:10px 2px; width:16px; margin-left:20px; }

#find-in-store					{ position:relative; display:inline-block; overflow:hidden; height:31px; vertical-align:top; }
#find-in-store form,
#find-in-store.finding .find	{ display:none; }
#find-in-store.finding form		{ display:inline-block; }
#find-in-store input			{ width:60px; margin-right:4px; text-align:center; display:inline-block; }

#information-box					{ clear:both; position:relative; max-height:300px; margin:0 10px; overflow:hidden; -webkit-transition:max-height .6s cubic-bezier(0,1,.4,1); -moz-transition:max-height .6s cubic-bezier(0,1,.4,1); -ms-transition:max-height .6s cubic-bezier(0,1,.4,1); -o-transition:max-height .6s cubic-bezier(0,1,.4,1); transition:max-height .6s cubic-bezier(0,1,.4,1); }
#information-box.expandable			{ max-height:260px; }

.expand-button						{ cursor:pointer; position:absolute; text-align:center; bottom:14px; right:14px; color:#808080; vertical-align:middle; border:1px solid #808080; border-radius:20px; width:30px; height:30px; text-align:center; font-size:30px; line-height:1em; font-weight:normal; font-family:monospace; z-index:20; }
.expand-button .plus				{ position:absolute; display:inline-block; top:50%; margin-top:-15px; width:100%; left:0px; text-align:center; vertical-align: middle; }
.expand-button .minus				{ display:none; position:absolute; top:-2px; left:0px; width:100%; text-align:center; vertical-align:middle; }
.expanded .expand-button .minus		{ display:block; }
.expanded .expand-button .plus		{ display:none; }
.expand-button .text				{ position:absolute; font-family:Arial; top:36px; left:50%; margin-left:-14px; width:30px; text-align:center; font-size:10px; line-height:10px; }
.expand-button .text .plus,
.expand-button .text .minus { top:0px; margin-top:0px; }

.expand-button				{ display:none; }
.expandable .expand-button	{ display:block; }

#information-box .mask				{ display:none; position:absolute; bottom:0px; left:0px; width:100%; height:40px; z-index:10; -webkit-transition:opacity .6s; -moz-transition:opacity .6s; -ms-transition:opacity .6s; -o-transition:opacity .6s; transition:opacity .6s; }
#information-box.expandable .mask 	{ display:block; opacity:1; }
#information-box.expandable.expanded .mask { display:none; }
#information-box .mask {
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 96%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(96%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 96%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 96%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 96%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 96%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	
}

#information-box b					{ text-transform:uppercase; }
#information-box .boxes				{ margin:20px 10px; }
#information-box .boxes div			{ display:none; }
#information-box .tabs				{ font-size:0px; border-bottom:1px solid black; padding:2px 0; height:26px; }
#information-box .tabs a			{ display:none; cursor:pointer; color:#4c4c4c; text-transform:uppercase; border:1px solid white; border-bottom:none; font-family:Avalon-Demi; font-size:14px; background-color:#e6e6e6; padding:4px 12px; margin-right:1px; }
#information-box .tabs a:last-child { margin-right:0px; }
#information-box .item-number		{ color:#808080; display:block; margin:10px; font-weight:100; }

#information-box.has-description .tabs .description,
#information-box.has-ingredients .tabs .ingredients,
#information-box.has-use .tabs .use { display:inline-block; }

#information-box.active-description .tabs .description,
#information-box.active-ingredients .tabs .ingredients,
#information-box.active-use .tabs .use { color:black; background-color:white; border-color:black; padding-bottom:7px; }

#information-box.active-description .boxes .description,
#information-box.active-ingredients .boxes .ingredients,
#information-box.active-use .boxes .use { display:block; }


#ymal-box .out-of-stock,
#recently-viewed-box .out-of-stock,
#ancillary-products .out-of-stock	{ display:none; }


/* FIND IN STORE PAGE */
#store-locator-page .store-result  { display:none; }
#store-locator-page .store-map { float:right; }
#store-locator-page .store-map a { text-decoration:underline; }
#store-locator-page .store-info dt { display:none; }
#store-locator-page .store-info + .store-info { color:#cc0000; }
#store-locator-page .modal-header h2 { border-bottom:1px solid lightgrey; }
#store-locator-page .product-row { margin-top:16px; }
#store-locator-page .search-stores > .container { display:block; padding:8px 0 ; margin-top:3px; border-top:1px solid #ddd; }
#store-locator-page .search-stores > .container label { display:block; font-size:8px; }
#store-locator-page .search-stores > .container .search-zip { float:left; margin-right:10px; position:relative; z-index:10; }
#store-locator-page .search-stores > .container .search-zip input { width:50px; text-align:center; }
#store-locator-page .search-stores > .container .search-within { position:relative; }
#store-locator-page .search-stores > .container  .btn-search-again {display:block; position:absolute; top:16px; right:0px; padding:8px; } 

#store-locator-page .container:first-child { padding:0 10px; }

.not-in-store { font-size:10px; border:1px solid #cc0000; color:#cc0000; padding:8px; text-transform:uppercase; display:block; }

.back { text-align:center; padding:10px; }

#store-locator-page label { color:grey; display:block; margin-bottom:2px; }
#store-locator-page .search-zip { float:left; }
#store-locator-page .search-within { }
#store-locator-page #zip { text-align:center; width:60px; margin-right:20px; height:29px; padding:0; }
#store-locator-page .btn-search-again { float:right; }

#store-locator-page .store-name { font-weight:700; margin-bottom:4px; }
#store-locator-page .search-results { border:1px solid lightgrey; padding:10px; }
#store-locator-page .search-results ol { margin-top:10px; }
#store-locator-page .search-results ol li { border-top:1px solid #ddd; padding:10px 0px; }
#store-locator-page .one-store a { float:right; }
#store-locator-page .one-store dt { display:none; }
#store-locator-page .one-store dl + dl { color:#C00; margin-top:4px; }

.product-clone { cursor:pointer; padding:10px 6px 10px 34px; margin:10px 0 20px 0; border:1px solid lightgrey; border-left:none; border-right:none; background-image:url('/img/common/arrows/black-arrow-left@2x.png'); background-size:13px 31px; background-position:10px 50%; background-repeat:no-repeat; }
.product-clone .product-info { display:inline-block; vertical-align:top; padding-left:75px; background-position:0 50%; background-repeat:no-repeat; background-size:67.5px 67.5px; }
.product-clone .brand { font-weight:700; font-size:16px; }
.product-clone .display { font-size:16px; margin-bottom:2px; }
.product-clone .item-number { color:#808080; display:block; }

#store-locator-page h2,
#write-review-page h2 { margin:10px; font-size:20px; text-transform:uppercase; font-family:Sephora; }

#store-map-page { -webkit-backface-visibility:hidden; }
#store-map-page #map-canvas { height:320px; position:relative; box-shadow:0 0 6px 1px rgba(0,0,0,.5); -webkit-box-shadow:0 0 6px 1px rgba(0,0,0,.5); margin:10px; }
#mapped-store { cursor:pointer; padding:10px 0 10px 40px; margin:10px 0; border:1px solid lightgrey; border-left:none; border-right:none; background-image:url('/img/common/arrows/black-arrow-left@2x.png'); background-size:13px 31px; background-position:10px 50%; background-repeat:no-repeat; }
#store-map-page h2 { text-transform:uppercase; font-weight:700; }
#store-map-page h3 { margin-top:4px; }

#mapped-phone	{ color:#cc0000; text-align:center; margin:20px; display:block; }

/* REVIEWS */
#reviews-box							{ max-height:52px; overflow:hidden; -webkit-transition:max-height .6s cubic-bezier(0,1,.4,1); -moz-transition:max-height .6s cubic-bezier(0,1,.4,1); -ms-transition:max-height .6s cubic-bezier(0,1,.4,1); -o-transition:max-height .6s cubic-bezier(0,1,.4,1); transition:max-height .6s cubic-bezier(0,1,.4,1); }
#reviews-box .summary 					{ min-height:14px; position:relative; background-color:#e6e6e6; margin:10px; padding:12px 12px 16px 12px; font-weight:700; text-transform:uppercase; border:1px solid transparent; border-bottom:none; -webkit-transition:all .6s cubic-bezier(0,1,.4,1); -moz-transition:all .6s cubic-bezier(0,1,.4,1); -ms-transition:all .6s cubic-bezier(0,1,.4,1); -o-transition:all .6s cubic-bezier(0,1,.4,1); transition:all .6s cubic-bezier(0,1,.4,1); }
#reviews-box.expandable .summary 		{ padding:12px 12px 10px 12px; }
#reviews-box.expanded .summary			{ background-color:white; border-color:black; }
#reviews-box .summary .text 			{ position:relative; top:2px; font-size:11px; display:block; }
#reviews-box.expandable .summary .text 	{ font-size:18px; position:relative; top:-1px; }
#reviews-box.expandable .summary .text.small-for-many-reviews { font-size:14px; line-height:18px; }

/* variant 4 */
#reviews-box.static       { max-height:none; margin:20px 10px; border:1px solid black; }
#reviews-box.static .summary { margin:0; }
#reviews-box.static.expandable .summary { margin:0 0 10px 0; }
#reviews-box.static .action-buttons { padding:4px; display:none; }
#reviews-box.static.expandable .action-buttons { display:block; }
#reviews-box.static #bz-sortby { width:140px; }
#reviews-box.static .review { margin:10px 0; }
#reviews-box.static footer { padding:0; border:none; display:none; }
#reviews-box.static.expandable footer { display:block; }
#reviews-box.expandable.static .summary .text { text-align:center; display:block; }
#reviews-box.static .summary .text { text-align:center; }

#reviews-box .stars 					{ float:left; margin-right:10px; margin-top:-1px; }
#reviews-box .summary .stars			{ margin-top:-3px; display:block !important; }
#reviews-box .expand-button 			{ bottom:6px; }
#reviews-box .write-a-review 			{ float:right; }
#reviews-box .action-buttons 			{ padding:0 10px; }
#reviews-box .end-of-reviews      { visibility:hidden; }
#reviews-box.static .end-of-reviews			{ display:none; } /* hiding when reviews are complete */

#reviews-box #bz-sortby { width:150px; }

#reviews-box .review { padding:10px; margin:10px; border-top:1px solid lightgrey; position:relative; }
#reviews-box .review:last-child { border-bottom:1px solid lightgrey; }
#reviews-box .review .top-bar { margin-bottom:14px; }
#reviews-box .review h3 { clear:both; margin-bottom:6px; font-weight:700; font-size:14px; }
#reviews-box .review .review-text { clear:both; overflow-wrap:break-word; }
#reviews-box .review .review-text span { overflow-wrap:break-word; }
#reviews-box .review .user { font-weight:300; font-size:12px; font-style:italic; }

#reviews-box .review.expandable .review-text .remaining { display:none; }
#reviews-box .review.expandable .review-text .brief:after { content:'... Read More'; font-style:italic; font-size:10px; color:grey; }
#reviews-box .review.expandable.expanded .review-text .remaining { display:inline; }
#reviews-box .review.expandable.expanded .review-text .brief:after { content:''; }
#reviews-box .review .expand-button { bottom:-4px; }
#reviews-box .review.expandable { padding-bottom:20px; }
.review.expanded .expand-button .minus,
.review .expand-button .plus		{ display:block; }
.review.expanded .expand-button .plus,
.review .expand-button .minus		{ display:none; }

#reviews-box footer 	{ position:relative; border:1px solid black; border-top:none; padding:10px; margin:10px; text-align:center; }
#reviews-box footer .expand-button { bottom:12px; }

#write-review-page .nickname-box,
#write-review-page #rating,
#write-review-page .review-box					{ font-size:14px; margin:10px auto; width:300px; }
#write-review-page .nickname-box .nickname 		{ font-weight:700; }
#write-review-page .write-buttons				{ text-align:right; margin:20px auto; width:300px; }

#write-review-page #rating .stars				{ display:inline-block !important; width:23px; margin:0 6px; cursor:pointer; }
#write-review-page #rating.one .one,
#write-review-page #rating.two .one,
#write-review-page #rating.two .two,
#write-review-page #rating.three .one,
#write-review-page #rating.three .two,
#write-review-page #rating.three .three,
#write-review-page #rating.four .one,
#write-review-page #rating.four .two,
#write-review-page #rating.four .three,
#write-review-page #rating.four .four,
#write-review-page #rating.five .one,
#write-review-page #rating.five .two,
#write-review-page #rating.five .three,
#write-review-page #rating.five .four,
#write-review-page #rating.five .five			{ background-position:0 -20px; }

#write-review-page #review-box,
#write-review-page .details						{ margin:10px auto; width:300px; font-size:10px; }
#write-review-page input,
#write-review-page textarea						{ padding:6px; display:block; width:286px; margin:10px 0; resize:none; }
#write-review-page .star-label					{ position:relative; top:-4px; }

#review-error	{ width:300px; margin:10px auto; color:#cc0000; }

#review-complete-page .write-banner { width:320px; margin:10px auto; display:block; }
#review-complete-page .red-thanks { color:#cc0000; font-weight:bold; font-size:14px; }
#review-complete-page .thanks-text { width:280px; margin:30px auto; }
#review-complete-page .success-buttons a { display:block; width:210px; margin:10px auto; }

/* ZOOM BOX */
#zoom-product-page { text-align:center; }
#zoom-box img.primary-product-image { display:block; background-color:lightgrey; }
.zoom-back { display:block; font-family:Sephora; text-transform:uppercase; text-align:center; font-size:18px; margin-top:20px; cursor:pointer; padding:10px 6px 10px 34px; margin:10px 0 20px 0; border:1px solid lightgrey; border-left:none; border-right:none; background-image:url('/img/common/arrows/black-arrow-left@2x.png'); background-size:13px 31px; background-position:10px 50%; background-repeat:no-repeat; }

/* INFO ACCORDION */
#information-accordion { border-bottom:1px solid lightgrey; position:relative; margin:10px; }
#information-accordion .empty { display:none; }
#information-accordion dt { position:relative; font-weight:bold; font-size:1.2em; padding:14px 10px; text-transform:uppercase; border-top: 1px solid lightgrey; }
#information-accordion dd { padding:0 10px 10px 10px; }
#information-accordion .expand-button { display:block; bottom:6px; }

/* 
  silly complex state management to accomidate android's wacky behavior where :hover stays
  with the element after touchend. So on Android, this will be overridden by :active, but
  on the next touch, will be overriden by our explicit .hover, which is why they are separate.
*/
#information-accordion dt.hover .expand-button { color:white; background-color:black; }

#information-accordion .plus,
#information-accordion .active .minus { display:block; }
#information-accordion .active .plus { display:none; }
#information-accordion .item-number { display:block; margin-top:14px; }


/* ANIMATIONS */
@-webkit-keyframes product-out { 0% { -webkit-transform: translateX(0px); } 80% { -webkit-transform: translateX(-500px); opacity:1; } 100% { -webkit-transform: translateX(-500px); opacity:0; } }
@-moz-keyframes product-out { 0% { -moz-transform: translateX(0px); } 80% { -moz-transform: translateX(-500px); opacity:1; } 100% { -moz-transform: translateX(-500px); opacity:0; } }
@-ms-keyframes product-out { 0% { -ms-transform: translateX(0px); } 80% { -ms-transform: translateX(-500px); opacity:1; } 100% { -ms-transform: translateX(-500px); opacity:0; } }
@-o-keyframes product-out { 0% { -o-transform: translateX(0px); } 80% { -o-transform: translateX(-500px); opacity:1; } 100% { -o-transform: translateX(-500px); opacity:0; } }

@-webkit-keyframes product-in { 0% { -webkit-transform: translateX(500px); opacity:0; } 20% { -webkit-transform:translateX(500px); opacity:1; } 100% { -webkit-transform: translateX(0px); } }
@-moz-keyframes product-in { 0% { -moz-transform: translateX(500px); opacity:0; } 20% { -moz-transform:translateX(500px); opacity:1; } 100% { -moz-transform: translateX(0px); } }
@-ms-keyframes product-in { 0% { -ms-transform: translateX(500px); opacity:0; } 20% { -ms-transform:translateX(500px); opacity:1; } 100% { -ms-transform: translateX(0px); } }
@-o-keyframes product-in { 0% { -o-transform: translateX(500px); opacity:0; } 20% { -o-transform:translateX(500px); opacity:1; } 100% { -o-transform: translateX(0px); } }
	