#mobileContent {width: 100%; margin: 0; }

#filters h2, #seeall, .totop a, .clearAllBtn, #filtermodal .close, .altfilternav, .pagination a.next, .pagination a.prev, .pricerange li, .refinements li, #categories li	{ cursor: pointer }
.viewing-sort { padding-bottom:7px; }
.viewing-sort,h1 { border-bottom:1px solid #666666; margin-bottom:5px;}
.search-results {  padding-top:5px;}
h1 {padding-bottom:5px;}

.viewing-product { line-height:11px; position: relative; top: -2px; width:41px;}
span.flags { display:none; }
span.exclusiveflag { font-size:8px; color:white; font-family:arial; background:#d20200; padding:1px 3px; display:inline-block; margin:0px 2px 2px 0px; text-transform:uppercase;}
span.limitededitionflag { font-size:8px; color:white; font-family:arial; background:#646464; padding:1px 3px; display:inline-block; margin:0px 2px 2px 0px; text-transform:uppercase;}
span.newflag { font-size:8px; color:white; font-family:arial; background:black; padding:1px 3px; display:inline-block; margin:0px 2px 2px 0px; text-transform:uppercase;}
span.onlineonlyflag { font-size:8px; color:white; font-family:arial; background:#5529c6; padding:1px 3px; display:inline-block; margin:0px 2px 2px 0px; text-transform:uppercase;}

.resultsright { position:absolute;; font-family: arial; font-size: 13px; top:6px; right:10px; }

#filtermodal { padding:10px 0 40px 0; display:none; z-index:20; background:white; min-height:100%; width:%100;}
#filtermodal h4 { margin-top:25px; clear:both; margin-left: 10px; font-family:"Helvetica Neue"; font-size:20px; text-transform:uppercase; text-align:center; }

#filtermodal .filtertitle { height:18px; padding-right:15px; padding-top: 8px; }
#filtermodal .close { float: right; margin-right: 10px; display:block; text-indent: -99999px; overflow:hidden; background-image: url(img/common/btn-close-popup.gif); width: 15px; height: 15px;}

#filters { clear:both; padding:0; margin:20px 10px 0; border-left:1px solid #666666; border-right:1px solid #666666; border-bottom:1px solid #666666;}
#filters > li  {display:block; }
#filters > li > ul { display:none !important;  margin:0 20px;   }

#filters > li > h2 {text-align:left; border-top:1px solid #666666; text-transform:uppercase; font-size:14px; color:black; font-family:arial; padding:10px 10px; }
#filters > li > h2 {background: url(/img/common/arrows/m2-gray-right.png) no-repeat right; background-repeat: no-repeat; background-size: 17px 16px;}
#filters > li > h2 > span.rtitle { text-transform:uppercase; vertical-align:middle; font-style:normal; font-size: 13px; font-weight:700; color: black; font-family: arial; padding: 0; display:inline-block; width:105px;}
#filters > li > h2 > span.terms { font-style:normal; font-weight:700; display:inline-block; vertical-align:middle; width:134px; text-align:right; text-transform:none; color:#cc0001; padding-left:25px; font-size:10px; }
#filters > li > h2 > span.donebutton { display:none; float:right;  }
#filters > li > h2 > span.donebutton img { height:18px; }

#filters > li > h2.open {border-bottom:1px solid #666666; background:white; color:#cc0001; }
#filters > li > h2.open > span.rtitle {color:#cc0001; }


#refinement-options { display:none; clear:both;padding:0; margin:10px; border-left:1px solid #666666; border-right:1px solid #666666; border-top:1px solid #666666;}
#refinement-options > li  {display:block; text-transform:capitalize; color:#666666; font-size:14px; padding:9px 5px;border-bottom:1px solid #666666; }

#refinement-options > li.status2 * { color:red; }
#refinement-options > li.status4 * { color:red; }
#refinement-options > li > h2 {border-top:1px solid #666666; text-transform:uppercase; font-size:14px; color:black; font-family:arial; padding:10px 10px; }
#refinement-options > li > h2 {background: url(/img/common/arrows/m2-gray-right.png) no-repeat right; background-repeat: no-repeat; background-size: 17px 16px;}
#refinement-options > li > h2 > span.rtitle { text-transform:uppercase; font-style:normal; font-size: 13px; font-weight:700; color: black; font-family: arial; padding: 0; display:inline-block; width:105px;}
#refinement-options > li > h2 > span.terms {font-style:normal; font-weight:700; float:right; display:inline-block; width:100px; text-align:right; height:12px; overflow:hidden; color:#cc0001; padding-right:25px; padding-top:2px;}
#refinement-options > li > h2 > span.donebutton { display:none; float:right;  }
#refinement-options > li > h2 > span.donebutton img { height:18px; }

#refinement-options > li > h2.open {border-bottom:1px solid #666666; background:white; color:#cc0001; }
#refinement-options > li > h2.open > span.rtitle {color:#cc0001; }

.btn-go-back, .vresults { color:white; background:black; padding:4px 8px; font-weight:700; margin:0 5px 0 0; border:1px solid #ccc; position:relative; top:-10px;	 float:right;}
.btn-go-back { display:none; }

#filters .price-container { display:block; }

#filtermodal div.clearall {  
		margin:10px 0 auto; 
		text-transform: uppercase; 
		font-size: 14px; 
}
#filtermodal div.clearall { 
	clear:both; 
	text-align:center;
	display:block;
}
#filtermodal div.clearall div{ 
	display:inline-block;
	border:1px solid #ccc;
	background:white;
	color:#777;
}
			
.altfilternav { display:none; }

.pagination a.prev span{ text-indent:6669px; background:url(/img/search/searchleft.png) no-repeat; display:inline-block; width:25px; height:25px; background-size:25px; }
.pagination a.next span { text-indent:6669px; background:url(/img/search/searchright.png) no-repeat; display:inline-block; width:25px; height:25px; background-size:25px;}
.search-results .pagination .next::after, .search-results .pagination .prev::before { content: ""; }	
.pagination .next, .pagination .prev { top: 8px !important; display:none; }
.pagination .next.show, .pagination .prev.show { display:block; }
.pagination .prev.show { top:-5px !important; margin-left:5px; }

p.errormessage { margin:10px; color:#C0C; }

.your-choices-content.container { margin:0; padding:8px 0; background: white; display:none; clear:both;}
.your-choices-content.container h3	{
	color:#aaa;
	font-family:arial;
	font-size:11px;
	margin-left:5px;
}
.your-choices-content.container h3, .your-choices-content.container .choices, .your-choices-content.container .choices li { display:inline-block; }	
.your-choices-content ul li a {color:black;}
.your-choices-content ul li {
	margin-left:6px;
	height: 13px;
	background: url(/img/common/x.png) no-repeat;
	background-color: #ccc;
	padding: 4px 8px 4px 18px;
	background-position: 2px;
	-webkit-border-radius: 17px;
	-moz-border-radius: 17px;
	border-radius:17px;
	margin-bottom: 5px;
}

.nav9,.nav10,.nav11,.nav12,.nav13 { display:none; }
#sample-app { 
	border-top:1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
	display:block; 
	text-align:right; 
	padding:10px 5px 2px; 
	font-size: 13px;
	height: 20px;
	color: black;
	text-transform: capitalize;
	text-decoration: underline;
}

.breadcrumb .current > a { color:red; cursor:default }
.pagination a.next, .pagination a.prev { cursor:pointer; }
#filters h2, #seeall, .totop a, .clearAllBtn, #filtermodal .close, .altfilternav, .pagination a.next, .pagination a.prev, .pricerange li, .refinements li, #categories li	{ cursor: pointer }

.totop { z-index:9999; clear:both; width:100%; text-align:center; margin: 20px auto; display:block; font-size:12px; text-decoration:underline; }
.totop a {text-decoration:underline; text-align:center;}