[data-ss-widget], [data-ss-component] {
  position: relative;
  z-index: 5;
}
[data-ss-widget][data-ss-degrade], [data-ss-component][data-ss-degrade] {
  -webkit-backface-visibility: visible !important;
  -webkit-animation: none 0 ease 0 1 normal !important;
  animation: none 0 ease 0 1 normal !important;
}
[data-ss-widget][data-ss-degrade] *, [data-ss-component][data-ss-degrade] * {
  -webkit-backface-visibility: visible !important;
  -webkit-animation: none 0 ease 0 1 normal !important;
  animation: none 0 ease 0 1 normal !important;
}

[data-ss-widget="toggler"]:not([data-ss-options*="slide"]) > [data-ss-component="content"][data-ss-state="open"] {
  display: block;
}
[data-ss-widget="toggler"]:not([data-ss-options*="slide"]) > [data-ss-component="content"][data-ss-state="closed"], [data-ss-widget="toggler"]:not([data-ss-options*="slide"]) > [data-ss-component="content"]:not([data-ss-state]) {
  display: none;
}

[data-ss-widget="toggler"][data-ss-defer] > [data-ss-component="content"] {
  display: block !important;
}

[data-ss-widget="toggler"][data-ss-options*="slide"] [data-ss-component="content"] {
  -webkit-transition: height 0.25s ease-in-out;
  -moz-transition: height 0.25s ease-in-out;
  -o-transition: height 0.25s ease-in-out;
  transition: height 0.25s ease-in-out;
  overflow: hidden;
}
[data-ss-widget="toggler"][data-ss-options*="slide"] [data-ss-component="content"]:not([data-ss-state]) {
  visibility: hidden;
  position: absolute;
  width: 100%;
}
[data-ss-widget="toggler"][data-ss-options*="slide"] [data-ss-component="content"][data-ss-state="closed"] {
  height: 0 !important;
}

[data-ss-utility="overlay"] {
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  z-index: 1000;
}
@media (-webkit-transform-3d) {
  [data-ss-utility="overlay"] {
    -webkit-backface-visibility: hidden;
  }
}
[data-ss-utility="overlay"][data-ss-state="active"] {
  opacity: 0.7;
}
[data-ss-utility="overlay"]:not([data-ss-state]) > [data-ss-component] {
  opacity: 0;
}
[data-ss-utility="overlay"] [data-ss-component="close"] {
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  display: none;
  position: relative;
  z-index: 1100;
  top: 0;
  right: 0;
  opacity: 1;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  height: 60px;
  line-height: 60px;
}
[data-ss-utility="overlay"] [data-ss-component="content"] {
  position: relative;
  z-index: 1100;
}
[data-ss-utility="overlay"] [data-ss-component="content"] > [data-ss-widget="carousel"] {
  margin: 0 auto;
}

[data-ss-widget="carousel"] {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
[data-ss-widget="carousel"] a, [data-ss-widget="carousel"] img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  max-width: 100%;
  -webkit-user-drag: none;
}
[data-ss-widget="carousel"] img {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
[data-ss-widget="carousel"] [data-ss-component="item"] {
  list-style-type: none;
  float: left;
}
[data-ss-widget="carousel"] [data-ss-component="item"][data-ss-state="active"], [data-ss-widget="carousel"] [data-ss-component="item"][data-ss-state="zooming"], [data-ss-widget="carousel"] [data-ss-component="item"][data-ss-state="zoomed"] {
  z-index: 6;
}
[data-ss-widget="carousel"][data-ss-options*="overlay"] [data-ss-component="item"][data-ss-state="active"] {
  -webkit-transition: -webkit-transform 0.15s cubic-bezier(0.15, 0.3, 0.3, 1.4);
  -moz-transition: -moz-transform 0.15s cubic-bezier(0.15, 0.3, 0.3, 1.4);
  -o-transition: -o-transform 0.15s cubic-bezier(0.15, 0.3, 0.3, 1.4);
  transition: transform 0.15s cubic-bezier(0.15, 0.3, 0.3, 1.4);
}
[data-ss-widget="carousel"][data-ss-options*="overlay"] img {
  max-height: 85%;
  width: auto;
}
[data-ss-widget="carousel"][data-ss-options*="containerZoom"] [data-ss-component="item"][data-ss-state="active"], [data-ss-widget="carousel"][data-ss-options*="containerZoom"] [data-ss-component="item"][data-ss-state="zooming"] {
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  -moz-transition: -moz-transform 0.4s ease-in-out;
  -o-transition: -o-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
}
[data-ss-widget="carousel"] [data-ss-component="loader"] {
  position: absolute;
  z-index: 7;
  top: 50%;
  left: 50%;
  margin: -10px -10px -5px -40px;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  border: 1px solid #777;
}
[data-ss-widget="carousel"]:not([data-ss-state]) {
  opacity: 0;
  max-height: 400px;
  overflow: hidden;
}
[data-ss-widget="carousel"][data-ss-state] {
  opacity: 1;
}
[data-ss-widget="carousel"] [data-ss-component="container_wrapper"] {
  overflow: hidden;
  max-height: 100%;
}
[data-ss-widget="carousel"] [data-ss-component="container"] {
  overflow: hidden;
}
@media (-webkit-transform-3d) {
  [data-ss-widget="carousel"] [data-ss-component="container"] {
    -webkit-backface-visibility: hidden;
  }
}
[data-ss-widget="carousel"][data-ss-state] [data-ss-component="container"]:not([data-ss-state="notransition"]), [data-ss-widget="carousel"][data-ss-options*="zoom"] img[data-ss-state="ready"] {
  -webkit-transition: -webkit-transform 0.45s cubic-bezier(0.15, 0.3, 0.3, 1), left 0.45s cubic-bezier(0.15, 0.3, 0.3, 1);
  -moz-transition: -moz-transform 0.45s cubic-bezier(0.15, 0.3, 0.3, 1), left 0.45s cubic-bezier(0.15, 0.3, 0.3, 1);
  -o-transition: -o-transform 0.45s cubic-bezier(0.15, 0.3, 0.3, 1), left 0.45s cubic-bezier(0.15, 0.3, 0.3, 1);
  transition: transform 0.45s cubic-bezier(0.15, 0.3, 0.3, 1), left 0.45s cubic-bezier(0.15, 0.3, 0.3, 1);
}
@media (-webkit-transform-3d) {
  [data-ss-widget="carousel"][data-ss-state] [data-ss-component="container"]:not([data-ss-state="notransition"]), [data-ss-widget="carousel"][data-ss-options*="zoom"] img[data-ss-state="ready"] {
    -webkit-backface-visibility: hidden;
  }
}
[data-ss-widget="carousel"][data-ss-state="zoomed"] [data-ss-component="button"] {
  display: none;
}
[data-ss-widget="carousel"] [data-ss-component="zoom_icon"], [data-ss-widget="carousel"] [data-ss-component="button"] {
  z-index: 10;
}
[data-ss-widget="carousel"][data-ss-options*="thumbs"] [data-ss-component="dots"] {
  margin: 10px 0;
}
[data-ss-widget="carousel"][data-ss-options*="thumbs"] [data-ss-component="dot"] {
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  display: inline-block;
  max-width: 60px;
  margin: 0 5px;
  opacity: 0.3;
}
[data-ss-widget="carousel"][data-ss-options*="thumbs"] [data-ss-component="dot"][data-ss-state="active"] {
  opacity: 1;
}
[data-ss-widget="carousel"][data-ss-options*="autoheight"] {
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  -o-transition: height 0.2s;
  transition: height 0.2s;
  overflow-y: hidden;
}
[data-ss-widget="carousel"][data-ss-options*="fade"] [data-ss-component="container_wrapper"], [data-ss-widget="carousel"][data-ss-options*="fade"] [data-ss-component="container"] {
  overflow: visible;
}
[data-ss-widget="carousel"][data-ss-options*="fade"] [data-ss-component="item"] {
  -webkit-transition: opacity 0.7s;
  -moz-transition: opacity 0.7s;
  -o-transition: opacity 0.7s;
  transition: opacity 0.7s;
  visibility: hidden;
  height: 0;
  opacity: 0;
}
[data-ss-widget="carousel"][data-ss-options*="fade"] [data-ss-component="item"][data-ss-state="active"] {
  opacity: 1;
  visibility: visible;
  height: auto;
}

[data-ss-component="input-wrapper"] [data-ss-widget="input-clear"][data-ss-clear="on"] + [data-ss-component="icon"] {
  display: block;
}
[data-ss-component="input-wrapper"] [data-ss-widget="input-clear"] + [data-ss-component="icon"] {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  display: none;
  position: absolute;
  z-index: 6;
  font-size: 12px !important;
  top: 50%;
  right: 5px;
  margin-top: -8px;
  color: #FAFAFA;
  background: #AAA;
  padding: 0px 7px 3px;
  border-radius: 14px;
  opacity: 0.8;
  text-transform: none !important;
  font-weight: bold !important;
  width: 18px;
  height: 18px;
}
[data-ss-component="input-wrapper"] [data-ss-widget="input-clear"] + [data-ss-component="icon"]:after, [data-ss-component="input-wrapper"] [data-ss-widget="input-clear"] + [data-ss-component="icon"]:before {
  content: "";
  border-top: 2px solid white;
  position: absolute;
  top: 8px;
  left: 4px;
  width: 10px;
}
[data-ss-component="input-wrapper"] [data-ss-widget="input-clear"] + [data-ss-component="icon"]:before {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

[data-ss-widget="lazyloader"] {
  -webkit-backface-visibility: hidden;
}
[data-ss-widget="lazyloader"]:not([data-ss-options*="hover"]) [data-ss-component="item"]:not([data-ss-state="loaded"]) {
  display: none !important;
}
