
/* MODIFY GLOBALS */
#mobileHeader .search,
.map #mobileFooter { display:none; }
#templates { display:none; }

.list #mobileFooter { display:block; }

/* HEADER */
#store-locator-header { background-color:#434343; border-top:1px solid #161616; text-align:center; }

#search-location,
#display-options	{ display:inline-block; }

#loading,
#failed-init 			{ color:lightgrey; font-family:Sephora; margin:40px 20px; text-align:center; }
#loading h3,
#failed-init h3			{ text-transform:uppercase; margin-bottom:10px; font-size:20px; padding-bottom:10px; border-bottom:1px solid lightgrey; }
#loading p,
#failed-init p			{ font-size:18px; }
#failed-init			{ color:grey; }

#map { width:100%; height:100%; }
#map img { max-width:none; }

.map #list,
.list #store-locater-map-container	{ display:none; }

.list-store 			{ padding:10px; position:relative; border-bottom:1px solid lightgrey; }
.list-store:last-child	{ border:none; }
.list-store h3			{ font-size:14px; max-width:60%; line-height:14px; margin-bottom:4px; }
.list-store p			{ font-size:12px; color:grey; max-width:60%; }
.list-store .distance	{ position:absolute; right:40px; top:50%; margin-top:-7px; font-size:14px; }
.list-store img			{ position:absolute; right:10px; top:50%; margin-top:-15.5px; }

#display-options a			{ cursor:pointer; display:inline-block; width:43%; text-align:center; padding:10px 0; border-bottom:1px solid #494949; border-top:#2b2b2b; color:#ababab; font-size:13px; text-transform:uppercase; margin:7px 1px 9px 0; font-family:Helvetica; }
#display-options a			{
	background: #323232; /* Old browsers */
	background: -moz-linear-gradient(top,  #323232 0%, #212121 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#323232), color-stop(100%,#212121)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #323232 0%,#212121 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #323232 0%,#212121 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #323232 0%,#212121 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #323232 0%,#212121 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323232', endColorstr='#212121',GradientType=0 ); /* IE6-9 */
}
#display-map				{ border-radius:6px 0 0 6px; }
#display-list				{ border-radius:0 6px 6px 0; }
.map #display-map,
.list #display-list			{ color:white; }

#search-location			{ position:relative; text-align:left; }
#search-location #mag-glass	{ left:10px; top:5px; }
#search-field				{ border-radius:30px; height:28px; padding:0 10px 0 26px; position:relative; top:-2px; display:inline-block; width:184px; box-shadow:inset 1px 2px 5px rgba(0,0,0,0.4); outline:none !important; }


@media (max-width: 360px)
{
	#search-field { width:184px; }
	#display-options { width:120px; }
}

@media (min-width:361px)
{
	#search-field { width:200px; }
	#display-options { width:140px; }
}

@media (min-width:420px){ #search-field { width:260px; } }
@media (min-width:500px){ #search-field { width:340px; } }
