 #home-container { padding-bottom:10px; position:relative; z-index:10; font-family:Avalon-Book; letter-spacing:.5px; }
  
  .pop-tile { background-color:rgba(255,255,255,.9); box-shadow:2px 2px 2px rgba(0,0,0,.3); -webkit-box-shadow:2px 2px 2px rgba(0,0,0,.3); border-radius:3px; text-transform:uppercase; }
  .pop-tile,
  .pop-tile a,
  a.pop-tile { color:rgb(50,50,50); }
  
  #home-tiles { text-align:center; padding:10px 0; }
  #home-tiles a { display:inline-block; margin:7px 5px; width:43%; padding:34px 0; font-size:20px; }
  
  #bi-container { width:86%; margin:4px auto 20px auto; padding:7px; }
  
  h3.header { font-weight:700; text-align:center; font-family:Avalon-Demi; }
  
  .link-list { width:86%; margin:10px auto; padding:7px; font-size:14px; padding-bottom:0; }
  .link-list a { display:block; border-top:1px solid white; margin:0 4px; padding:14px 10px 12px 10px; }
  .link-list h3 { padding:3px 0 10px 0; }
  
  
  #mWrapper { position:relative; z-index:10; }
  #homepage-background { display:none; }
  body > #homepage-background { visibility:visible; position:fixed; top:0px  ; left:0px; width:100%; min-width:320px; z-index:1; }
  
  #beauty-bag { width:86%; margin:24px auto; padding:14px 7px; text-align:center; font-size:14px; }
  #beauty-bag-logo { display:block; width:129px; height:82px; float:left; margin-top:-34px; background-image:url(http://m.sephora.com/img/home/beauty_bag.png); background-size:100%; }
  #beauty-bag-logo span { display:block; text-align:center; font-size:14px; letter-spacing:6px; padding-top:18px; padding-left:6px; line-height:18px; }
  #beauty-bag-logo span b { font-family:Avalon-Bold; }
  #beauty-bag h3 { letter-spacing:1px; padding-bottom:3px; }
  
  .inline-links { text-align:center; }
  .inline-links a span { text-decoration:underline; }
  .inline-links a:first-child { margin-right:4px; }
  .inline-links a:first-child:after { content: '/'; margin-left:6px; }
  
  .rouge .not-recognized,
  .vib .not-recognized,
  .bi .not-recognized,
  .no-bi .not-recognized { display:none; }
  
  .not-recognized .recognized { display:none; }
  
  .not-recognized #bi-points,
  .no-bi #bi-points { display:none; }
  
  .rouge #bi-account-links,
  .vib #bi-account-links,
  .bi #bi-account-links { display:none; }
  
  .no-bi #bi-account-links a:first-child { display:none; }
  .no-bi #bi-account-links .not-recognized { display:none; }
  .not-recognized #bi-account-links .recognized { display:none; }
  
  
  #bi-card-image { background-image:url(http://m.sephora.com/img/home/bi-cards-mini.jpg); background-size:100%; background-repeat:none; box-shadow:1px 1px 2px rgba(0,0,0,.3); -webkit-box-shadow:1px 1px 2px rgba(0,0,0,.3); overflow:hidden; width:104.5px; height:63px; border-radius:6px; float:left; margin-top:-14px; margin-right:4px; background-color:white; }
  .vib #bi-card-image { background-position:0px -65px; }
  .rouge #bi-card-image { background-position:0px -130px; }
  
  #bi-points { color:#cc0000; text-align:center; }
  #bi-points-amount { font-weight:700; margin-right:6px; font-size:18px; line-height:14px; }
  #bi-container h3.header { padding-bottom:4px; }
  #bi-container .long { font-size:12px; padding-top:2px; }
  #bi-container .extra-long { font-size:10px; padding:4px 0 6px 0; }
  
  #trending-carousel { border-radius:0; position:relative; padding-bottom:8px; }
  #trending-carousel[data-item-count="0"] { display:none; }
  #trending-carousel h3 { padding:10px; }
  #trending-carousel img { padding:0 4px; width:auto; }
  
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and ( min-resolution: 144dpi) {
    #bi-card-image { background-image:url(http://m.sephora.com/img/home/bi-cards-mini@2x.jpg); }
    #beauty-bag-logo { background-image:url(http://m.sephora.com/img/home/beauty_bag@2x.png); }
  }