/* @override http://sephora.sky.dev.brandingbrand.com/css/weeklyspecials.css */

@font-face {
    font-family: HelveticaNeueLTCom55Roman;
    src: url('/font/helveticaneueltcom-roman-webfont?iefix') format('eot'),
         url('/font/helveticaneueltcom-roman-webfont.woff') format('woff'),
         url('/font/helveticaneueltcom-roman-webfont') format('truetype'),
         url('/font/helveticaneueltcom-roman-webfont#') format('svg');
}

@font-face {
    font-family: InterstateExtraLight;
    src: url('/font/interstate-extralight-webfont?iefix') format('eot'),
         url('/font/interstate-extralight-webfont.woff') format('woff'),
         url('/font/interstate-extralight-webfont') format('truetype'),
         url('/font/interstate-extralight-webfont#') format('svg');
}

.weekly-specials {
	text-align: center;
}

.weekly-specials h1 {
	text-transform: uppercase;
	font: 35px  InterstateExtraLight, Sephora, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.weekly-specials h2 {
	font: 16px HelveticaNeueLTCom55Roman, Sephora, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 6px;
	margin: 15px 10px;
	text-transform: uppercase;
}

table {
	display: block;
}

table tbody {
	display: block;
}

table tr {
	display: block;
}

table tr td {
	display: block;
	
}

.specials-masthead {
	padding-top: 10px;
	padding-bottom: 20px;
	border-bottom: 3px solid black;
}

.specials-masthead p {
	font-style: italic;
	font-size: 12px;
	margin: 5px 10px;
}
.maincontent {
	text-align: center;
}

.disclosures p {
	font-size: 12px;
	color: #999999;
	margin: 10px;
}

#top-banner {
	width:320px;
	height:80px;
	display:block;
	margin:-1px auto 10px auto;
	background-image:url('../img/sephora_shares_banner.png');
	background-size:100%;
	background-repeat:no-repeat;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
	#top-banner { background-image:url('../img/sephora_shares_banner@2x.png'); }
}
