<div class="jt_right_check">
    <a title="Delete" rel="<?php echo $arr_vls['_id']; ?>@options" rev="option" id="del_products_<?php echo $arr_vls['_id']; ?>" class="deleteopt_link del_products" onclick="option_delete('del_products_<?php echo $arr_vls['_id']; ?>');" href="javascript:void(0);">
        <span class="icon_remove2"></span>
    </a>
</div>